[2019-04-17 21:43] stahlmanDesign commented on #541
This fixed everything for me https://github.com/facebook/react/issues/14856#issuecomment-478144231 and I removed all the code above that I was playing with

[2019-04-17 22:07] Ilaiwi commented on #541
@stahlmanDesign my problem with this is that this code will affect all the react code that you have which could cause other problems that this library should not be concerned about

[2019-04-17 22:18] stahlmanDesign commented on #541
I understand, it's not a long-term solution. I just wanted people to know that it is simpler than what I had proposed

[2019-04-18 10:36] FutureArchitect-wang2449 commented on #541
@Ilaiwi

Yes, that works for my environment.

[2019-04-18 12:14] tobiasbueschel opened #556 "add linting stage to Travis CI builds & ensure code lints correctly"
As more and more people are contributing to this project and each one brings his/her own coding style, I think it would be great if we could enable `npm run lint` in the Travis CI pipeline. In this way, we will be a bit more confident that (1) the code is easy to read, (2) we prevent any bugs that static analysis can find and (3) we follow a sensible and **consistent** coding style.

Also, I've no

[2019-04-19 01:58] FutureArchitect-wang2449 commented on #541
@Ilaiwi I added the PR (by another account @wsysuper)
Temporarily fix the issue by adding the snippet https://github.com/facebook/react/issues/14856#issuecomment-478144231 to src/index.js

[2019-04-19 09:02] maartenpeels opened #561 "Custom periods in the new DateHeaders"
I'm trying to migrate my project to the newest version(because of the custom headers). And I can't figure out how to use custom periods. Maybe I missed something but otherwise, this would be a great addition in my opinion.

The thing I'm trying to do is have the primary header show every hour(working) and have the subheader show every 15mins(0, 15, 30, 45).

Below a screenshot of the old version,

[2019-04-19 11:43] maartenpeels commented on #561
Sorry, was under the impression that timeSteps would not work anymore since the headers are separated now. Appears it does, issue resolved.

[2019-04-19 11:43] #561 closed

[2019-04-19 12:02] Ilaiwi commented on #561
@maartenpeels ok that is great. I hope you are enjoying the Custom Headers spent too much time to do them lol

[2019-04-19 12:08] maartenpeels commented on #561
I've been waiting for it to add some needed functionalities, so in my case, time well spent! Thanks for making this library.

[2019-04-19 16:08] dkarnutsch opened #562 "TimeLine crashes for DateHeader with a unit of week"
**Describe the bug**
When using a `DateHeader` with `unit=week` the timeline crashes if no label is provided, because a default label is not set.

**To Reproduce**
See the following Code Sandbox: https://codesandbox.io/s/64xmvj421w?fontsize=14

**Expected behavior**
Default labels should be applied

**Library Version**
0.25.0

Fixed in #563

[2019-04-19 16:22] Ilaiwi commented on #562
good catch!

[2019-04-22 09:43] tobiasbueschel commented on #517
@FutureArchitect-wang2449 thanks for creating this issue! I'm also looking for the same functionality. How is your PR going? Is there anything I can help with?

[2019-04-23 00:51] FutureArchitect-wang2449 commented on #517
@tobiasbueschel Thank you if you can help, currently I don't have anything updated ever since the PR.
I totally agree with @Ilaiwi 's idea to make a general renderer while dragging instead of only infoLabelRenderer. What do you think? You can give your PR to resolve this issue.

[2019-04-23 09:25] BottlecapDave commented on #407
Hello. Sorry to resurect an old bug, but I too am exeriencing this issue with both `onCanvasClick` and `onCanvasDoubleClick`.

Here is a sandbox, which when the timeline is double clicked an alert dialog will appear on desktop, but not ipad.

https://codesandbox.io/embed/n3847vqpx0

[2019-04-23 09:34] BottlecapDave opened #564 "onCanvasDoubleClick doesn't work on ipad"
**Describe the bug**
when attempting to double click the timeline, the `onCanvasDoubleClick` event isn't fired.

**To Reproduce**

Here is a sandbox, which when the timeline is double clicked an alert dialog will appear on desktop, but not ipad.

https://codesandbox.io/embed/n3847vqpx0

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
N/A

**Li

[2019-05-01 19:06] comlaterra commented on #540
I believe in this issue there is:
- A note to the documentation. Since the feature is useless maybe we should just remove it. At least for the time being
- AUX discussion
- Two feature requests:
    - To re-introduce the "traditionalZoom" feature
    - Zom with pinch movement.

Maybe is a good idea to split it in multiple and close this one?
So I would just close this issue and open some more.

[2019-05-02 20:18] stahlmanDesign commented on #562
Related to DateHeader:
The examples are not up to date with v0.25.0, and the docs seem wrong

@dkarnutsch Your Code Sandbox helped me figure out you have to use `unit='primaryHeader'` above the secondary DateHeader component to get the two levels
[code]

@Ilaiwi The docs show it as a bool:
[code]
but that doesn't work, nor does
[code]

[2019-05-02 20:21] Ilaiwi commented on #562
@stahlmanDesign hmmm I can't find the lines in docs that you are refaring to. could you link them here so I can fix them really quick?

[2019-05-02 20:27] stahlmanDesign commented on #562
I'm sorry I can't find it either now. I think I was looking at a bad example. The docs are OK.

[2019-05-02 20:29] Ilaiwi commented on #562
@stahlmanDesign that was an old version of the documentation what you were referring to. I would appreciate it if you can create a good custom headers example and add it to docs

[2019-05-02 20:44] stahlmanDesign opened #566 "v0.25.0 timeline className rct-header-root undefined"
In v0.25.0 I noticed the className `rct-header` is slightly different from pervious versions (my css override stopped working). It is now `rct-header-root`, but also contains the word `undefined` which might be a bug

`rct-header-root undefined`

![Capture d’écran, le 2019-05-02 à 16 38 38](https://user-images.githubusercontent.com/972804/57105661-5d54b600-6cf9-11e9-8102-5bb12bd4fd6d.png)

[2019-05-03 15:13] tobiasbueschel commented on #566
Thanks for raising this @stahlmanDesign!

You are right, `.rct-header-root` was a change introduced by this commit https://github.com/namespace-ee/react-calendar-timeline/pull/391/files#diff-3660012d22840def1644776e270bea15R162 and then release in v0.25.0

As for the `undefined`, could you share a CodeSandbox? That will make it easier to troubleshoot.

Alternatively, feel free to raise a PR to fix

[2019-05-04 10:11] Ilaiwi commented on #541
released in 0.25.1

[2019-05-04 10:11] #541 closed

[2019-05-04 10:11] Ilaiwi commented on #562
released in 0.25.1

[2019-05-04 10:11] #562 closed

[2019-05-05 22:49] TITAN9389 opened #568 "[QUESTION] how can i disable the topbar time ?"
I just want to see the Date no need for 2nd line Time bar , how can i disable that ?

![image](https://user-images.githubusercontent.com/27279495/57201390-75526100-6fa9-11e9-81b7-2897ec2ed3cc.png)

[2019-05-06 03:07] cw196 commented on #528
@Ilaiwi

[2019-05-06 03:39] cw196 commented on #528
@Ilaiwi Please have a look at

https://codesandbox.io/s/9j1lmj1k8r
![refreshPageTimelineExample](https://user-images.githubusercontent.com/9029946/57205738-ba5fad00-7014-11e9-864f-15941cce434b.gif)

I'm using MacOS. And open the `codesandbox` in Chrome with 80% scale of your browser.
Then on some level, you can notice the items are getting updated continuously. (If it doesn't act like described, p

[2019-05-06 09:33] Ilaiwi commented on #568
By using Custom Headers.

you can find an example here of what you are trying to achieve

https://codesandbox.io/s/kwqplllrmo

[2019-05-06 09:33] #568 closed

[2019-05-07 01:36] FutureArchitect-wang2449 commented on #541
@Ilaiwi Thank you for fixing this. That helps!

[2019-05-07 02:10] FutureArchitect-wang2449 opened #569 "Property `sidebarContent` and `rightSidebarContent` are not valid"
**Describe the bug**
React tags or strings passed to `sidebarContent` do not show up.

**To Reproduce**
As the example, `demo/app/demo-main/index.js` goes,
[code]
The `Above The Left` does not show up.

**Expected behavior**
The `Above The Left` should show up above the group labels.

**Library Version**
v0.25.1

**Desktop (please complete the following information):**
This is not related to the e

[2019-05-07 03:32] FutureArchitect-wang2449 commented on #569
If I switch to use `SidebarHeader`, it doesn't work well with server-side-rendering.

Whatever, I think the library minor-version-up should contain backward compatibility (usage of `sidebarContent` should remains the same)

[2019-05-07 15:24] web2wire commented on #566
I'm also getting this and 'undefined' also appears as a class on rct-calendar-header.

[2019-05-07 16:00] jamiedust commented on #551
Apologies after further investigation I see this was an unrelated issue with setting state asynchronously in useEffect, not as I thought, anything to do with react-calendar-timeline.

Keep up the good work!

[2019-05-07 16:00] #551 closed

[2019-05-07 18:36] masbouj opened #570 "Question Is it possible to display certain time slots ?"
Hello,

Is it possible to display only from 9am to 5pm? Or remove every sunday ?

Thanks.

[2019-05-07 20:26] comlaterra commented on #17
@radziksh would be possible to update the types, if I'm not wrong they are quite outdated

[2019-05-08 07:57] Ilaiwi commented on #569
@FutureArchitect-wang2449 I am sorry but till we get to v1 we won't be able to follow semantic versioning.

`sidebarContent` and `rightSidebarContent` I will update all the docs to remove them .
as for the server rendering please open another ticket with it please and I will look into it.

[2019-05-09 15:01] maartenpeels commented on #570
Hi,

You can use the visibleTimeStart and visibleTimeEnd props for this.
Documentation [here](https://github.com/namespace-ee/react-calendar-timeline#defaulttimestart-and-defaulttimeend). Not sure about removing specific days though.

[2019-05-10 09:41] maartenpeels opened #572 "Can't select item after move or resize (self in control over selected)"
**Describe the bug**
When I move an item I can't select it afterward unless I first click the canvas or another item.

**To Reproduce**
[Codesandbox](https://codesandbox.io/s/z6jz3x42zp?fontsize=14)

**Expected behavior**
The item should be "selectable".

**Library Version**
0.25.1

**Desktop**
* OS: Ubuntu 18.04
* Browser: Chrome
* Version 74

[2019-05-10 11:38] joey-ua commented on #566
Hello! Even demo posted on Github has same issue: https://codesandbox.io/s/w6xvqzno4w

![image](https://user-images.githubusercontent.com/6209978/57524542-c7d8a800-7330-11e9-9bbd-ec91ace4b77f.png)

Personally I has serious issues while trying to use custom headers (duplicated headers):
![image](https://user-images.githubusercontent.com/6209978/57524656-1dad5000-7331-11e9-9925-2ca3987c5580.png)
![i

[2019-05-15 11:25] tmbrlkV commented on #542
This works for me:
[code]

[2019-05-17 07:55] bettymakes commented on #543
+1 ☝️

[2019-05-17 09:07] tobiasbueschel opened #573 "onItemMove callback returns wrong newGroupOrder for filtered timelines"
**Describe the bug**
When I have a timeline that can be filtered by groups or items, any `onItemMove` event will crash the timeline because the `newGroupOrder` is likely to be incorrect.

I do not want to re-create the `groupIds` every time and start afresh from index 0, because in that case, I would also need to map all my filtered items to the newly created `groupIds`.

**To Reproduce**
https://

[2019-05-20 12:13] tobiasbueschel commented on #573
I just noticed that this is also causing an issue with the `handleRowClick` method https://github.com/namespace-ee/react-calendar-timeline/blob/5b1a6f23611a6a9c4bb2e95935385035c7667051/src/lib/Timeline.js#L714

[2019-05-20 12:40] tobiasbueschel opened #574 "Build creates strange folder structure lib/lib"
**Is your feature request related to a problem? Please describe.**
I noticed that when installing this module, `react-calendar-timeline` has the following folder structure:
![image](https://user-images.githubusercontent.com/13087421/58022023-1f4ff280-7b3f-11e9-9c31-e7c0228a0644.png)

**Describe the solution you'd like**
I think it would be great if we could change the `build` command to write to a

[2019-05-21 14:24] batchku opened #575 "Google Calendar import anyone?"
**Is your feature request related to a problem? Please describe.**
Ability to generate timeline elements from multiple Google Calendars.

**Describe the solution you'd like**
Configuration files to provide API key and calendar ID, define color and formatting options.

**Describe alternatives you've considered**
Make my own.

**Additional context**
Has anyone here considered this?

[2019-05-22 02:21] tobiasbueschel commented on #575
Thanks for creating this issue @batchku 🙏

Pulling this sort of data from Google's Calendar API can be easily achieved within your React application (here is an [example article that describes one approach](https://www.robinwieruch.de/react-fetching-data/)). Once you've fetched the data, you can ingest and render it with `react-calendar-timeline`.

I think that `react-calendar-timeline` should rem

[2019-05-25 22:15] john050481 opened #577 "When moving or resizing item, visibleTime is changes"
**Describe the bug**
When moving or resizing item, visibleTime is changes

**To Reproduce**
1. Go to https://codesandbox.io/s/timeline-demo-moving-and-resizing-5b5kr
2. Open console
3. Try moving or resizing a item (you may need to perform the operation several times to display the message)
4. See message "TimeChange xxxxxxxxxx yyyyyyyyyy"

**Expected behavior**
I expected that when moving or resi

[2019-05-27 11:46] jmmontero1 opened #578 "Moving the timeline after double click with mouse in webkit bug"
**Describe the bug**
On webkit browsers, after double clicking on the timeline, when moving the timeline by dragging it, it scrolls in the opposite direction when the mouse (this is important, trackpad works fine) is close to the edges.

**To Reproduce**

1. Go to https://codesandbox.io/s/w6xvqzno4w with a webkit browser
2. Double click anywhere in the timeline
3. Now, click again and drag to move

[2019-05-28 17:45] jlsorak opened #579 "Can you display a scroll bar to scroll horizontally?"
I would like to have a scroll bar to scroll the timeline horizontally. I have tried applying `overflow: scroll` to the `rct-scroll` element but it doesn't work. Has anyone done this before/know how this would be possible?

Thanks in advance.

[2019-05-29 21:05] megasus commented on #526
Any Updates on this?
Experiencing the same Bug in v0.25 and Chrome.

[2019-05-29 22:34] Ilaiwi commented on #526
I still cant reproduce it
@lukasirsak @megasus

[2019-05-29 22:50] megasus commented on #526
Ok, guess I'll do some more testing on different machines, Windows versions and browsers.
Will report back.

[2019-05-31 12:35] TomJones2822 opened #581 "Printing a web page in Firefox or IE doesn't show the calendar data currently in view"
I have my calendar load with a particular date in view, showing items between the hours of 06:00 and 20:00. The calendar is scrollable, showing +/- 7 day's worth of data from the selected date.

Printing the webpage with either CTRL+P or using a window.print() method should print the page verbatim (I'm not using any media-based stylesheets). This works fine in Chrome, but appears to print data not

[2019-05-31 12:43] megasus commented on #526
Quick Update

Using [this](https://codesandbox.io/s/timeline-demo-sticky-header-yqbze) as a reference, I tested on multiple systems and could only reliably reproduce the bug in Google Chrome. These are my results:

OS | Status
------------ | -------------
Windows 10 | can reproduce
Windows 8.1 | can reproduce
Windows 7 | can reproduce
Mac OS 10 | **can't reproduce**
Ubuntu 16 | can reproduce

If t

[2019-05-31 13:16] lukasirsak commented on #526
@megasus thanks for update, btw I didn't get any further with this bug.

There should be definitely more users reporting this problem cause of majority of users use windows & chrome and this repository have 5K downloads weekly, so maybe there is something with our implementation.

I mean there is codesandbox which is 100% broken, but it's in iframe which is not what most of people is doing. I will

[2019-05-31 13:51] megasus commented on #526
@lukasirsak Well, i have the same problem when running the examples provided in this repo locally and in my production app. So I guess it's not codesandbox or iFrame related.

[2019-06-04 15:35] lksstml opened #582 "Adding a new date range selection"
First off, thanks for the nice library, saved us a lot of work!

This question / request is somewhat related to #358 and #228:
Our goal is to let the user select a **new** (group dependend) date range within the timeline by clicking twice (first click = start date, second click = end date).

We've implemented a basic version using onCanvasClick and then add a new item (with different styling) afte

[2019-06-09 14:17] Ilaiwi commented on #528
released in 0.25.2

[2019-06-09 14:17] #528 closed

[2019-06-09 14:28] Ilaiwi commented on #582
@lksstml could you please provide a code sandbox of you implementation? maybe also some mockups for the expected behavior I am not sure I get the requested feature

[2019-06-09 14:32] Ilaiwi commented on #581
@TomJones2822 please provide a codesandbox of your code so I can reproduce

[2019-06-09 14:33] Ilaiwi commented on #579
@jlsorak this is not possible due to the horizontal bar being controlled by the library.

[2019-06-09 14:33] #579 closed

[2019-06-09 14:46] Ilaiwi commented on #577
@john050481 good catch.
btw onBoundsChange should only change if you exceed a buffer of half the calendar

[2019-06-09 14:47] Ilaiwi commented on #575
@tobiasbueschel thank you for answering this

[2019-06-09 14:47] #575 closed

[2019-06-09 14:47] Ilaiwi commented on #574
that would help thanks

[2019-06-09 14:50] Ilaiwi commented on #573
related to #499

[2019-06-09 14:51] Ilaiwi commented on #572
related to #499

[2019-06-09 14:52] Ilaiwi commented on #570
you cant remove a specific day
@maartenpeels thanks for answering

[2019-06-09 14:52] #570 closed

[2019-06-10 15:26] lksstml commented on #582
@Ilaiwi I added a very basic sandbox demo over [here](https://codesandbox.io/embed/timeline-demo-sticky-header-hfk1o)
You can click inside the calendar to add a new item (first click = start date, second click = end date).

The idea behind this is to let the user select a new date range within the calendar. After selecting the range, the user will be provided with some sort of context menu to choo

[2019-06-11 21:16] trevdor commented on #566
Here's what I'm seeing:

`TimelineHeaders` has two props that correspond to the two `undefined` strings reported in this issue.
1. The `className` prop value is placed next to `rct-header-root`
2. The `calendarHeaderClassName` prop value is placed next to `rct-calendar-header`

So this usage would define both of them:
[code]

[This PR](https://github.com/namespace-ee/react-calendar-timeline/pull/5

[2019-06-11 21:45] trevdor commented on #554
@gcmatheusj, is either or both of these statements true for your use case?

1. You want the calendar to always shows a specific range of time
2. You want the header to always show the date in the example format you gave: `Monday, April 14, 2019`

The fixed date range can be achieved by setting the `minZoom` and `maxZoom` props to the same, fixed value. Here's a [codesandbox example](https://codesa

[2019-06-12 08:34] #566 closed

[2019-06-14 08:20] SaadRH opened #590 "Is it possible to export a timeline to Excel Sheets?"
Hi!

i have an leave request managing project and i have used react-calendar-timeline in my project to give the users an overview of when others are on leave. I want to be able to export the nicely created timeline view via JavaScript to excel sheets for saving on the local computer. Is it possible?

[2019-06-14 09:38] hellooperatorpatchmethrough opened #591 "Question: programmatically selecting which vertical lines to render"
Now that CustomHeaders and week unit intervals are available, I am wondering how to show veritcal lines indicating week intervals. Is this even possible ? If I set  `timeSteps:{{... day: 7 ...}` vertical lines are rendered indicating 1 week length intervals but they start on Sunday and this approach is not suitable for us as we should display weeks starting on Monday and this approach does not res

[2019-06-14 10:17] hellooperatorpatchmethrough commented on #590
react-calendar-timeline does not support this feature.

It is possible to roll-your-own solution though but it really depends on how would you like to display your exported data. If you do need to display it the way it looks, check PhantomJs for capturing rendered view to image.

If a matrix-like table is enough, then I would investigate possibility to generate a csv document and that would be mor

[2019-06-14 11:00] SaadRH commented on #590
Do you have an good example/tutorial on how to export data(array of objects) to a csv document.

[2019-06-14 11:19] hellooperatorpatchmethrough commented on #590
Plenty of good ideas on stackoverflow

[2019-06-14 16:07] trevdor commented on #574
Hey @tobiasbueschel and @Ilaiwi, mind seeing if the above PR would do what you are thinking of?

I agree the `lib/lib` output is a little odd. My only question is whether there's much to be gained by shipping the breaking change.

[2019-06-14 16:36] trevdor commented on #591
Maybe it's not an approach you want to use, @hellooperatorpatchmethrough, but I've styled vertical lines with CSS overrides before.

For example:
https://codesandbox.io/s/timeline-vertical-lines-next-to-mondays-3cp0q
*(timeline items removed to keep the emphasis on the vertical lines)*

[2019-06-16 06:48] Ilaiwi commented on #591
@hellooperatorpatchmethrough the week unit support is currently only limited to the headers and not the calendar part.
@trevdor thank you for answering this and providing a codesandbox example.

[2019-06-16 06:48] #591 closed

[2019-06-17 03:05] trevdor commented on #517
@tobiasbueschel, I am looking for this customizability myself. I'd be happy to start on a PR for it if you aren't already in-progress.

[2019-06-17 11:20] persiasensei opened #593 "Horizontal scroll with bar when visibletime changes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-18 10:48] persiasensei opened #594 "Add Mouse mouse event for scrollRef element"
I want to add a MouseMove event for the element with class 'rct-scroll'.
 I would like to know how to do that.

the coordinates of the mouse event {x,y} will be stored in the state.

[2019-06-18 10:54] persiasensei opened #595 "Custom cursorMarker so that the line appears on only one horizontal lines (height:30px) instead of the whole timeline"
Hello everybody,
Is it possible to Custom cursorMarker so that the line appears on only one horizontal lines (height:30px) instead of the whole timeline?

Example:
![timeline custom cursor](https://user-images.githubusercontent.com/51912384/59676534-b0a69900-91bf-11e9-84e8-01c7617827eb.png)

Thanks

[2019-06-19 00:23] uijaswanthi opened #596 "Issue with fixed header in IE"
Hi Team,

I am having issue in IE 11 when i scroll the timeline, it is working in chrome but not in IE. When I dig into it I found below css property which makes it work in chrome. But, IE won't accept sticky property, I'm trying with different position values, but so far no luck.

[code]

Do you have any work around solution for this?

IE:

![image](https://user-images.githubusercontent.com/33267

[2019-06-19 00:30] uijaswanthi opened #597 "Issue with date placement inside the header"
i am having an issue with date placement inside the header. Sometimes the date stamp is not visible as shown in the below screenshot. I have to scroll little left/left to view the date .
Is there any way to display the date stamp into the visible area always.

![image](https://user-images.githubusercontent.com/33267879/59728293-1c5c2680-91ff-11e9-9f4e-adbe2d85a4e3.png)

[2019-06-19 21:04] trevdor commented on #596
@uijaswanthi `position: sticky` isn't supported in Internet Explorer. See https://caniuse.com/#feat=css-sticky
You might be able to programmatically switch `position` while scrolling from `relative` to `fixed` with a `top` offset to achieve a similar effect.
I would imagine there are tutorials showing how to do just that from before `sticky` was introduced to CSS.

[2019-06-20 04:27] trevdor opened #598 "Broken codesandbox examples"
Codesandbox examples are broken that use react-calendar-timeline@0.25.3 (or "latest"), including those on the examples page:
https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples

A couple examples:
https://codesandbox.io/s/ly3oj7xxwm
https://codesandbox.io/s/w6xvqzno4w

### Root Cause
In my v0.25.3 PR, I put the new `classnames` dependency in devDependencies rather than reg

[2019-06-20 04:28] trevdor commented on #598
If my analysis of the root cause is correct, the above pull request should fix it.
Either way, I'm sorry for the trouble.

[2019-06-21 17:53] bettymakes commented on #517
Hey @trevdor & @tobiasbueschel 👋! Not sure if either of you are actively working on this but I started working on a PR to address this based off @Ilaiwi's [feedback](https://github.com/namespace-ee/react-calendar-timeline/issues/517#issuecomment-470069004). I'm aiming to have something up for review early next week.

[2019-06-21 18:35] trevdor commented on #517
Awesome, @bettymakes!

I poked around with it a bit last weekend ([diff here](https://github.com/namespace-ee/react-calendar-timeline/compare/master...trevdor:onDragUpdate)) in case you wanna compare approaches. I honestly have already forgotten what state I left it in, so don't hold any of it against me. :)

[2019-06-21 20:50] Ilaiwi commented on #517
@bettymakes I would be happy to review and merge your PR.

[2019-06-21 23:04] shutchings opened #601 "Custom item heights"
**Is your feature request related to a problem? Please describe.**
I'm trying to use the custom item renderer to render some content under the item title. It seems like the height isn't something that can be overwritten since it's used in positioning the items.

**Describe the solution you'd like**
I'd like to be able to render items of variable height depending on what the item is. Perhaps I'm ju

[2019-06-22 11:54] Ilaiwi commented on #598
@trevdor thank you for the help. your PR fixed the issue.

[2019-06-22 11:54] #598 closed

[2019-06-23 22:09] Ilaiwi commented on #597
yes, use sticky

[2019-06-24 07:03] johnnyomair opened #602 "Invalid group height calculation with unsorted IDs"
**Describe the bug**
I want different group heights for different type of groups (for instance sections and normal groups). When setting the `height` param for some groups and the `lineHeight` property for the Timeline component, the different heights are applied to the wrong groups.

**To Reproduce**

Create a simple Timeline with the following groups:

[code]
A full example can be seen at [this

[2019-06-24 15:11] persiasensei commented on #538
I have same problem. Is there a solution for it?

[2019-06-25 04:15] trevdor commented on #482
This predates #517, but since that issue looks like it may be resolved in code soon, can this one be closed as duplicate?

[2019-06-25 04:16] trevdor commented on #543
Seems like #517 is getting close to creating this feature. Can this be closed as duplicate?

[2019-06-25 05:52] NishantDesai1306 opened #603 "show date header every time even if there's small space for it."
**Describe the bug**
As date headers are displayed in center if there's some partial amount of data header is shown, it is shown an empty block (user has to scroll that partial block to see the date of that block)

**To Reproduce**
https://codesandbox.io/s/timeline-demo-sticky-header-3zn7j (any example will do)

**Expected behavior**
https://codepen.io/anon/pen/dBRwYy,

see even if there's less sp

[2019-06-26 07:34] perfectstrong opened #604 "Multiselect and bulkedit"
This is not really a bug but help wanted.

I'm trying to implement multiselect & bulkedit with simpler use case than #315. I just need to move/resize the items back and forth in time, no need to squeeze them into a group.
![image](https://user-images.githubusercontent.com/23375518/60159981-ace4c900-97f4-11e9-864c-4c9437876621.png)

With custom `selected`, `onItemSelect`, `onItemClick`, `onItemDese

[2019-06-27 09:32] perfectstrong commented on #154
I'm not really fond of the idea manipulating directly with ref of @idohu but whenever `visibleTimestart` and `visibleTimeend` are set by the state, the canvas will preventing any further horizon scrolling, which is counter-intutive.

[2019-06-29 01:30] capt-obvious opened #605 "Extend group style from sidebars to horizontal lines"
New developer here, I am able to style the left and right sidebars, how do you extend this to the middle of the calendar? Thanks

[code]

[2019-06-29 05:04] Ilaiwi commented on #154
@perfectstrong for using this library in controlled mode you need need to provide visibleTimestart and visibleTimeend and the changes to them via `onTimeChange` prop

[2019-06-29 05:06] Ilaiwi commented on #605
@capt-obvious what do you mean by the middle of the calendar?

[2019-06-29 05:14] Ilaiwi commented on #604
we don't officially support your use case in react-calendar-timeline but nice workaround!.
so for dragging position `getRootProps` prop getter in `itemRendere` returns a style property with left,top you can control the position by overriding those  styles. I would not recommend that unless you really really need to.

[2019-06-29 05:14] #604 closed

[2019-06-29 05:31] Ilaiwi commented on #603
@NishantDesai1306 thank you for stating this. I default behavior should be that the text is shown all the time to match the old version you linked.
I don't have a good solution for this on top of my head but I guess you could use sticky and have it positioned `left:0` or something? this will guarantee that it is visible all the time.

[2019-06-29 05:35] Ilaiwi commented on #538
@persiasensei. nope, not currently. I could help if you or @dimagimburg would like to add this as a contribution for the library.
the optimal solution would be adding a `width` prop to the component.

[2019-06-29 05:35] Ilaiwi commented on #597
I guess this problem is related to #603 I would suggest this issue there please

[2019-06-29 05:36] #597 closed

[2019-06-29 08:45] perfectstrong commented on #605
I think OP is referring to render the horizontal line, which can be done via `horizontalLineClassNamesForGroup(group)`.

[2019-06-29 10:50] dimagimburg commented on #538
Hey, right now for me this is not super urgent, my ux designer could live with that for right now, but I could look into the library to try and tackle this issue. One thing that was stopping me from diving in last time I dealt with it is that the table construction was done with a lot of calculations and updates (regarding new start and end time), which is of course fine and acceptable but didn't

[2019-06-29 22:18] capt-obvious commented on #605
Thanks @perfectstrong I'll look into `horizontalLineClassNamesForGroup(group)`

[2019-07-01 17:09] shutchings commented on #601
@Ilaiwi is having custom item heights not supported? Or just something I don't understand how to do.

[2019-07-01 21:01] trevdor commented on #517
@bettymakes If there's anything I can do to help, I'm hoping to demo a timeline without the default info label end of this month, so I'm happy to collaborate or write tests or whatever might be of use.

[2019-07-02 04:38] bettymakes commented on #517
Hey @trevdor 👋! I've got a PR up, I took a slightly different approach than what was first suggested. I'm interested in seeing what @Ilaiwi thinks.

[2019-07-02 08:58] westn opened #607 "TimeLineHeaders renders in the wrong position together with react-hot-loader"
**Describe the bug**
Using react-hot-loader together with a custom TimeLineHeader will cause the custom component to render under `.rct-scroll` instead of replacing the original `.rct-header-root`

**To Reproduce**

Use react-calendar-timeline inside a project with react-hot-loader (https://github.com/gaearon/react-hot-loader)

Create a TimeLine with a custom TimelineHeader, e.g., with the basic e

[2019-07-02 19:19] hellooperatorpatchmethrough commented on #338
Any status updates ?

[2019-07-03 01:17] uijaswanthi opened #608 "groupRenderer isn't being called after state update"
**Describe the bug**
we have a drag and drop feature on react timeline, on initial loading the timeline will be empty, in that case group template is rendering with count zero.
when we drag and drop items on timeline we updated the state accordingly and expecting group template to re-render which is using state, but we observed on subsequent re-renders the group template is not being called even a

[2019-07-03 11:02] westn commented on #607
Here is a codesandbox for repro: https://codesandbox.io/s/react-hot-loader-o4sgz

[2019-07-03 22:10] gaston-niglia opened #609 "Items get misaligned from their row on browser scaling"
**Describe the bug**
Items get misaligned from their rows as the timeline gets scrolled down when the browser scale is different than 100%.

**To Reproduce**
When running the main `Demo` app, increase the number of groups and items in the timeline by changing the args `groupCount` and `itemCount` default values from `generate-fake-data.js` file:

e.g: `export default function (groupCount = 3000, i

[2019-07-05 00:15] ajayg415 commented on #608
Few months back I ran into same issue and I passed prop **key** and it starts working as expected.

It means on subsequent renders its not considering the latest groupRender template and I explicitly told it build ```<Timeline />``` from scratch everytime. I think its not a efficient design, but its a small hack and its works for me.

[code]

[2019-07-05 00:19] ajayg415 commented on #608
@Ilaiwi Could you please look into this?

[2019-07-05 09:11] westn commented on #607
An incorrect, but a functional solution to this is replacing the comparison with:
[code]
thus using the name of the component.

[2019-07-05 10:11] Ilaiwi commented on #607
@westn please feel free to submit a PR make this work with rhr. Otherwise, I am not going to spend resources on this since it is not related to the library itself...

[2019-07-05 15:29] trevdor commented on #556
Something I've seen work well elsewhere is a pre-commit hook to run prettier:
https://prettier.io/docs/en/precommit.html#option-1-lint-staged-https-githubcom-okonet-lint-staged
(Same as your lint on commit in #559, but for formatting.)

[2019-07-05 21:27] trevdor commented on #605
I attempted to implement consistent row coloring from group through the timeline scroll area [in this codesandbox](https://codesandbox.io/s/timeline-demo-group-styling-across-the-timeline-3qld3) in case it might help @capt-obvious or anyone else to settle this question.

For the demo, I apply a "highlight" class to groups whose titles include the letter 'e' (could use any criteria, of course)
The

[2019-07-05 23:10] bettymakes commented on #543
+1 @trevdor's note. This will be resolved by #612 when it's merged.

[2019-07-07 23:59] x4080 commented on #69
Hi, I think the correct zoom is changeZoom(0.75) and changeZoom(1.25) like in the documentation and not between -1 and +1

[2019-07-09 07:18] Aequitas737 commented on #526
To me it looks like if you drag it on a row that will collapse/expand and you drag it quickly then the cursor turns into a cancel icon and then won't 'let go'. Experienced it once in the wild by a user and reliably in op's sandbox .

[2019-07-17 08:15] prh7 opened #623 "Question: Possibility to drag and drop items of sidebar to calendar timeline canvas"
Hi,
 Is it possible to drag and drop items from sidebar to react-timeline-canvas as in the below GIF?

[
![dragndrop](https://user-images.githubusercontent.com/10049692/61358919-a689c000-a87b-11e9-813b-dc631f4d4023.gif)
](url)

[2019-07-17 10:04] awesomearpit opened #624 "DateHeader component dont't pass any "timelineUnit" props"
**Describe the bug**
I am trying to build a feature Daily and Weekly sorting.
I am facing an issue when I used **DateHeader** Component. It has a **unit** props for updating the DateHeader component. For Example:- when I selected 'weekly' then **DateHeader** got a unit="week" but the timeline does get updated, only the **DateHeader** component gets updated.
Then I researched more about it and foun

[2019-07-17 14:37] Ilaiwi commented on #624
@awesomearpit could you please create a codesandbox example with your bug please

[2019-07-18 20:21] ngattusohw opened #625 "Allow for users to zoom into the timeline for second(s) view"
Currently, the timeline only zooms into as far as the minute view. The current data set that I am working with involves events happening within seconds, sometimes milliseconds between each other. I would love to allow the user to zoom into to see events happening at the second view.

This is an image currently showing that I cannot zoom in past the minute, so events that happen in nearly the same

[2019-07-18 20:24] #625 closed

[2019-07-18 20:25] ngattusohw commented on #625
I shortly realized after posting this that this is already functionality implemented by the minZoom prop. Sorry!

[2019-07-20 00:12] blz-ea opened #626 "Question: Show range of specified hours"
Hey guys, thank you very much for such a cool component.

Is there a way to show a timeline (day timeline to be specific) from a specific time e.g. 08:00 - 18:00 but keep other behavior as it is.
Basically: if a user is in day timeline his viewport of the timeline should be from 08:00 till 18:00

[2019-07-20 05:32] Ilaiwi commented on #517
released in 0.26.0

[2019-07-20 05:32] #517 closed

[2019-07-20 05:32] Ilaiwi commented on #543
released in 0.26.0

[2019-07-20 05:32] #543 closed

[2019-07-22 11:46] Ilaiwi commented on #605
@trevdor sorry I missed this. I would use the groupRenderer to achieve this rather than this approach. Have you tried groupRenderer and why do you think this solution would be better?

[2019-07-22 15:23] trevdor commented on #605
@Ilaiwi I thought the groupRenderer could only affect the content in the sidebar?
Here, we're trying to style the areas in `.rct-scroll` or perhaps `.rct-horizontal-lines`.
Can groupRenderer modify those?

[2019-07-24 07:52] zalambodont opened #627 "Element type is invalid: expected a string (for built-in components)"
`Hi all, here is the code, actually it is the same as the "demo-main" file. It is saved as a component and been called from another component. Usual stuff.

But however, I cannot make it run. I am using create-react-app as a scratch and we have react-redux, keycloak stuff going on.

Here is the message I get

and here is the code:

[Timeline.txt](https://github.com/namespace-ee/react-calendar-time

[2019-07-24 07:59] Ilaiwi commented on #627
hi @zalambodont please provide a codesandbox for your example.
https://codesandbox.io/s/w6xvqzno4w

[2019-07-24 08:04] zalambodont commented on #627
Hi there,

I can't reproduce my error codesandbox. It is just not running on my app. I am using the example on official repo as it is. Do you think it may be something about the Route components wrapping?

[2019-07-24 08:09] Ilaiwi commented on #627
@zalambodont I would recommend using the codesandbox code for starter code not the one in the demo in the repo. Try it and let me know

[2019-07-24 08:14] zalambodont commented on #627
unfortunately, no luck with the codesandbox code.
by the way, I am using create-react-app, maybe this is the reason?

[2019-07-24 12:24] Ilaiwi commented on #627
code sandbox uses create-react-app. I can't help you without reproduce steps

[2019-07-26 09:02] zalambodont commented on #627
Okay, I figured out that lot more is wrong with my app. Updating react-dom and react to latest stable versions solved all problems.

[2019-07-26 09:02] #627 closed

[2019-07-28 18:28] Ilaiwi commented on #623
@prh7 this is currently not possible. I am writing up an RFC for row renderers that will enable this to happen.

[2019-07-29 18:29] shutchings commented on #601
@Ilaiwi ping.

[2019-07-30 09:13] Ilaiwi commented on #601
@shutchings sorry for missing this. you can change item height via [`lineHeight` prop](https://github.com/namespace-ee/react-calendar-timeline#lineheight) and [`itemHeightRatio` prop](https://github.com/namespace-ee/react-calendar-timeline#itemheightratio)

[2019-07-30 12:45] KhalidArdah commented on #526
To me, it seems not a performance issue, I did reproduce it in chrome by doing double click on an empty cell then click again once and drag it anywhere,
seems like the browser assuming im trying to drag a row, then it shows cancel icon that i can't drag it, so the onMouseUp event is not fired which is responsible of stopping the scroll.

[2019-07-30 14:44] MrOttimista opened #629 "itemRerender is so complicated"
I can not use item rerender feature as when I use it the items disapear.. I try to make the shape of a card  like this ( https://ant.design/components/card/#header )
but when I use it the items disapear ..can anyone help by providing some examples for diffrenent shapes for items
thanks in advance

[2019-07-30 19:47] Ilaiwi commented on #629
I would suggest starting from here
https://codesandbox.io/s/k0wn41y0o7
this is a full example of itemRenderer. Try coding your item from this starting point and post the codesandbox here so we can help figure it out together

[2019-07-31 15:02] Ilaiwi commented on #526
@megasus @KhalidArdah @Aequitas737 @lukasirsak I published Khalid's solution to Beta
this is the base example with beta
https://codesandbox.io/s/timeline-demo-sticky-header-7wnlu

[2019-07-31 15:17] lukasirsak commented on #526
![1231](https://user-images.githubusercontent.com/30669262/62224412-eb067700-b3b6-11e9-965a-195cc92da7d7.gif)

@Ilaiwi no change for me...

[2019-07-31 15:18] Ilaiwi commented on #526
@lukasirsak could you try again now. I had a problem with the beta release try to refresh the same codesandbox example and check if it is beta-2

[2019-07-31 15:25] lukasirsak commented on #526
@Ilaiwi I tried again, this time its not glitchy and its working properly.

@KhalidArdah thanks for fixing this.

I guess this issue can be closed now...

[2019-07-31 15:26] Ilaiwi commented on #526
@lukasirsak Thanks. I will close it when I release it.
@KhalidArdah great work!

[2019-07-31 16:02] jabidof commented on #526
@lukasirsak
Just as a side dish, can you let me know which tool you us for your screencast?

[2019-07-31 18:37] Ilaiwi commented on #539
I think this is possible if you build a custom header. the code won't be beautiful but it will do the trick. let me know if want to try this and I can get you some pointers

[2019-07-31 18:37] Ilaiwi commented on #539
@dimagimburg
I think this is possible if you build a custom header. the code won't be beautiful but it will do the trick. let me know if want to try this and I can get you some pointers

[2019-07-31 18:45] Ilaiwi commented on #501
@oskari this is now supported with custom headers
https://github.com/namespace-ee/react-calendar-timeline#dateheader

[2019-07-31 18:45] #501 closed

[2019-07-31 18:48] Ilaiwi commented on #550
@hellooperatorpatchmethrough have you upgraded to the new headers? are you still having the issue?

[2019-07-31 18:55] Ilaiwi commented on #482
you can do this now via the new `onItemDrag` prop in 0.26.0 and this example https://codesandbox.io/s/timeline-demo-info-label-neec9
let me know if you have other questions about usability
@florianbepunkt
@trevdor yes it should be thanks

[2019-07-31 18:55] #482 closed

[2019-07-31 18:57] Ilaiwi commented on #338
@hellooperatorpatchmethrough I am currently working on an RFC for `rowRenderer` which should change how the items are being redered and will improve the performance of the library a lot!

[2019-08-01 07:11] lukasirsak commented on #526
@jabidof I used this: https://www.screentogif.com/

[2019-08-01 07:43] jabidof commented on #526
Thanks 🙏
Windows based only ☹️🙂

[2019-08-01 22:35] alekkowalczyk commented on #623
Any time frame on that feature? It's a crucial feature for us

[2019-08-02 06:23] Ilaiwi commented on #623
@alekkowalczyk luckily this rowRender is sponsored so I have some resources to do it. I think it will be in some time in the beginning of septemper

[2019-08-04 12:07] dimagimburg commented on #539
@Ilaiwi Hey, right now I just don't show the top component of the marker, once I'll have to use it I'll for sure will use you advice and try to create a custom header to solve it. Thanks.

[2019-08-04 14:46] Ilaiwi commented on #526
released in 0.26.1
https://github.com/namespace-ee/react-calendar-timeline/releases/tag/0.26.1

[2019-08-04 18:08] #526 closed

[2019-08-05 15:49] thejpleigh opened #635 "DateHeader dates misaligned when toggling off and on"
**Describe the bug**
When the DateHeader is toggled on and off, the dates are misaligned when toggled back on.

**To Reproduce**
1. We have a boolean that checks if a toggle switch has been activated
2. If so, the DateHeader is no longer visible, and the items in our timeline are aligned by a specific date
3. When the toggle is turned off (the boolean is now false), the DateHeader reappears, but w

[2019-08-05 15:51] Ilaiwi commented on #635
@thejpleigh how do you pass your boolean? you need to pass it via `headerData` prop
https://github.com/namespace-ee/react-calendar-timeline#props-2

if you do that then the component will react to the prop change

[2019-08-06 08:31] eeliinaa commented on #601
@Ilaiwi  I have the same problem. In my case (in picture) I have 4 items visible. 2 green, 1 gray and 1 red. They all are made using item renderer and because gray and red items are only as "background" items I have this horrible big space above green items. I know it is because timeline thinks that group contains 4 items but i don't want it to think so :) Is there any way to make this space small

[2019-08-06 10:09] Ilaiwi commented on #601
@eeliinaa this is related to the buffer we render on both sides of the calendar. This is for performance so when you scroll left and right it won't stater each time. Refer to this section in https://github.com/namespace-ee/react-calendar-timeline#behind-the-scenes
if you want to fix that only pass to the timeline the current selected range items

[2019-08-06 10:29] eeliinaa commented on #601
@Ilaiwi The thing is that gray and red items are in the same time ranges as green items. Gray one is stretched 100% height and red one is placed in bottom and it has 6px height. The only problem I have is that timeline thinks that gray and red items both looks like green items and saves place (height) for them in row (group row) but i don't want that. I want timeline to save space only for two(gre

[2019-08-06 10:52] Ilaiwi commented on #601
@eeliinaa please create a new issue with your question please I don't this is actually related and please provide an example with codesandbox
https://codesandbox.io/s/w6xvqzno4w

[2019-08-06 15:45] shutchings commented on #601
@Ilaiwi Thanks for responding. What about the items being too large for the row? Any way around that?
![image](https://user-images.githubusercontent.com/30058280/62554728-7c963e80-b826-11e9-8ab0-a61834e079ea.png)

[2019-08-06 17:15] vladivanovrf commented on #603
@Ilaiwim, unfortunately, sticky left or right looks a bit strange. It will be much better to set the header in the center. Sticky header also brings an issue in my case of supporting IE =/ Any other ideas or workaround?
Thanks

[2019-08-07 09:34] eeliinaa opened #636 "Add items that are not calculated in group height"
I am using itemRenderer() to draw my items but some of them are not regular ones. Example you can see in codesandbox i provided. There are 4 item in total. 2 of them are regular (blue) and red & gray are custom sizes. As you can see in example there is way too big space on top of first blue item and it is there because  timeline thinks that gray and red items are regular too but I don't want that.

[2019-08-08 06:06] Ilaiwi commented on #595
this might be supported with `rowRenderes` which is currently in progress

[2019-08-16 15:29] florinciubotariu commented on #511
@Ilaiwi Unfortunately the issue still persists even after setting those props.

[2019-08-20 19:39] albertomoral opened #637 "Chrome browser throws "Uncaught TypeError: Cannot read property 'offsetParent' of null" when integrated in Wordress editor"
**Describe the bug**
Minimal structure using react-calendar-timeline, when is integrated in wordpress editor, throws error trying to drag an item after selection in Chrome, works ok in Firefox

**To Reproduce**

Code in sandbox: https://codesandbox.io/s/keen-fire-vkl7w

Steps to reproduce the behavior:
Difficult to reproduce because it has to be integrated in a wordpress editor

**Screenshots**
Sc

[2019-08-20 23:15] MychaelZ opened #638 "Documentation for line of current time (red line in example gif)"
No where in the documentation nor examples does it show how to implement the red line in the gif. It would be nice to know if the API allows for this or not.

[2019-08-21 06:03] Ilaiwi commented on #638
Do you mean the marker?
take a look at https://github.com/namespace-ee/react-calendar-timeline#timeline-markers

[2019-08-21 06:08] Ilaiwi commented on #637
@albertomoral sorry I can't help you without the full example reproduce of the bug.
It will take me too much time to reproduce myself

[2019-08-21 15:52] #638 closed

[2019-08-27 13:25] Intruder0404 opened #640 "Unable to import TimelineHeaders, DateHeaders or SidebarHeaders"
`import Timeline,  {
    TimelineGroup, TimelineItem, TimelineHeaders
} from "react-calendar-timeline";`

Tells me 'Module '"react-calendar-timeline"' has no exported member 'TimelineHeaders'. '

[2019-08-28 13:45] prh7 opened #641 "Question: How to set property 'selected' in itemContext of ItemRenderer to false when we drop a task to another row?"

[2019-08-29 14:23] arturcarvalho opened #642 "CustomHeader using componentWillReceiveProps"
I'm getting the warning about using componentWillReceiveProps that will be renamed.

![image](https://user-images.githubusercontent.com/2487710/63948297-adaa0d80-ca78-11e9-9fac-0390074834b1.png)

I can fix it, but before sending the I'm checking if the repo is active.

And thanks for the library!

[2019-08-29 14:24] Ilaiwi commented on #642
we are active

[2019-08-29 14:27] Ilaiwi commented on #641
selected can be controlled but is bugged. I created at a PR to fix it. I will try to merge it during the weekend
https://github.com/namespace-ee/react-calendar-timeline/pull/499

[2019-08-29 23:20] HollyPony commented on #320
Hi ! Using date-fns in my and won't to get moment AND lodash in my dependencies I made a working POC using `date-fns`. It seems to work fine for my own purposes. It should need more work to be 100% production compliant.

Additionnaly I'm looking to remove date-fns too to be "time library free" for users. But this could be more complex to maintain 🤷‍♂ .

Anyway, feedbacks are welcome :)

https://gi

[2019-08-30 08:52] arturcarvalho commented on #642
Thank you for your reply.

Are you accepting PRs? I sent one some days back to fix some typos but I had no reply: https://github.com/namespace-ee/react-calendar-timeline/pull/639

[2019-08-30 10:23] himadriganguly opened #643 "Items background color not rendering"
**Describe the bug**
A clear and concise description of what the bug is.

style: {
        backgroundColor: 'fuchsia'
},

Style backgroundColor added in items not rendering.

**To Reproduce**

_Please provide one or both of the following:_

Code (If you have a branch somewhere that shows your issue) or link to codesandbox example. [Here's a base template for this library](https://codesandbox.io/s/

[2019-09-05 09:54] phazzzy commented on #623
Hey @Ilaiwi, is there any news?

[2019-09-05 09:56] Ilaiwi commented on #623
@phazzzy working on it. Not ready yet. You can check [here](https://github.com/namespace-ee/react-calendar-timeline/pull/630#issuecomment-527350919) for the latest updates on the feature

[2019-09-08 07:28] Ilaiwi commented on #320
@HollyPony this is coming down the line not now though. We want to do something similar to this.
https://github.com/namespace-ee/react-calendar-timeline/pull/510#issuecomment-494822507
If you can put the groundwork for this change it will be much appreciated

[2019-09-09 10:52] Ilaiwi commented on #643
you need to do `background` not `backgroundColor`

[2019-09-09 10:53] #643 closed

[2019-09-09 11:20] Ilaiwi commented on #607
I am reopening this since now I am facing the same issue with a new codebase.

[2019-09-09 15:46] Ilaiwi commented on #607
@westn tried your solution but no luck with this solution

[2019-09-09 20:07] Ilaiwi opened #644 "revisit z-indexing"
z-index causes issues with layering for other components adjacent to the component especially if we have sticky header. Maybe with `rowRenderer`, we don't need z-indexs anymore for layering.

[2019-09-10 05:05] himadriganguly commented on #643
But in the documentation - [https://github.com/namespace-ee/react-calendar-timeline#items](https://github.com/namespace-ee/react-calendar-timeline#items) it is given that it will be **backgroundColor** within **style** tag.

[2019-09-10 07:09] Ilaiwi commented on #643
@himadriganguly have you checked this example?
https://codesandbox.io/s/k0wn41y0o7
if it doesn't help you please provide a codesandbox an I will reopen this issue

[2019-09-10 08:07] Ilaiwi commented on #511
@florinciubotariu please provide a codesandbox example so I can help you

[2019-09-11 09:47] Ilaiwi commented on #350
released in 0.26.3

[2019-09-11 09:47] #350 closed

[2019-09-11 09:49] Ilaiwi commented on #609
@gaston-niglia I know this took forever but thank you very much! I wish all PRs were as good as yours. I am looking forward to future collaborations from you.

released in 0.26.3

[2019-09-11 09:49] #609 closed

[2019-09-11 09:51] Ilaiwi commented on #414
released in 0.26.3

[2019-09-11 09:51] #414 closed

[2019-09-11 09:58] Ilaiwi commented on #642
@arturcarvalho feel free to submit the PR and I will take a look at it asap.

[2019-09-11 10:01] Ilaiwi commented on #640
@Intruder0404  please make sure you are on the latest version of the package.

[2019-09-11 10:59] Ilaiwi commented on #607
released in 0.26.4

[2019-09-11 10:59] #607 closed

[2019-09-11 11:07] arturcarvalho commented on #642
@Ilaiwi great, thanks! I think I'll be able to submit a PR in the upcoming week.

[2019-09-11 13:48] Intruder0404 commented on #640
"react": "^16.8.6",

    "typescript": "^3.5.3"

"@types/react-calendar-timeline": "^0.16.1",

    "react-calendar-timeline": "^0.26.1",

On Wed, Sep 11, 2019 at 6:01 AM Ahmad Ilaiwi <notifications@github.com>
wrote:

[2019-09-11 14:39] Intruder0404 commented on #640
So if my project is into typescript I have a major problem?

On Wed, Sep 11, 2019 at 10:30 AM Ahmad Ilaiwi <notifications@github.com>
wrote:

[2019-09-11 14:41] Ilaiwi commented on #640
@Intruder0404  no just don't include the typescript definitions and it will take it as `any` type

[2019-09-11 14:45] Intruder0404 commented on #640
I had to put the noImpliciteAny to false in the tsconfig to have it accept
it.The imports work now. I just need to use them and see if the rest works.
 At least I get the base stuff up and working thanks.

On Wed, Sep 11, 2019 at 10:41 AM Ahmad Ilaiwi <notifications@github.com>
wrote:

[2019-09-11 14:47] Ilaiwi commented on #640
@Intruder0404 good to hear. If you would like to maintain and update the types please open an issue and tag me in it and that would be a great contribution from you

[2019-09-11 14:47] #640 closed

[2019-09-11 14:47] jmmontero1 commented on #578
This seems to be fixed in 0.26.4

[2019-09-11 14:47] #578 closed

[2019-09-11 14:48] Ilaiwi commented on #578
@jmmontero1 great to hear! I didn't know how to solve this tbh haha

[2019-09-11 20:39] chaseradigan opened #650 "headerLabelFormats and subHeaderLabelFormats won't change"
I'm trying to change the formats to AM/PM by passing in an object with moment formats for the headerLabelFormats and subHeaderLabelFormats but it won't render.

[2019-09-11 20:41] Ilaiwi commented on #650
@chaseradigan these were removed in 0.25.0 checkout [DateHeader](https://github.com/namespace-ee/react-calendar-timeline#dateheader)

[2019-09-18 03:44] daqi opened #652 "onCanvasClick time bug"
When I set a `dragSnap` prop, onCanvasClick `time` is not right.
![image](https://user-images.githubusercontent.com/1715916/65107329-aa67c900-da09-11e9-9d08-97dc71bdf118.png)

[2019-09-18 07:32] Ilaiwi commented on #652
@daqi could you please provide a codesandbox example?

[2019-09-18 16:02] daqi commented on #652
https://codesandbox.io/s/timeline-demo-moving-and-resizing-cfxkl

[2019-09-19 12:20] hckr opened #653 "onBoundsChange is called on every visibleTime[Start|End]"
**Describe the bug**

`onBoundsChange` is called on every `visibleTime[Start|End]` change and not only when it should.
The use of `react-redux` might be the reason, but I'm not sure why this happens.

**To Reproduce**

https://codesandbox.io/s/react-calendar-timeline-bug-timelines-linked-with-redux-u2mkb

**Expected behavior**

`onBoundsChange` is supposed to be called when "when the bounds in the

[2019-09-19 12:30] hckr commented on #636
I did a somewhat similar modification, but in my case, I needed an item to fill the whole (background) space of the group. I think I could contribute such a modification, but we should come up first with the flexible-enough API for this. Starting with the support for both your and my needs, and possible future needs of other users. I wouldn't want to contribute a code which would fit only one exac

[2019-09-19 13:26] Ilaiwi commented on #636
@hckr I am currently working on a feature for the package called `rowRenderer`. you can check out the prototype for it [here](https://github.com/namespace-ee/react-calendar-timeline/blob/rowRenderer/demo/app/demo-main/index.js)
check it out and lmk

[2019-09-19 13:28] Ilaiwi commented on #653
@hckr  I am not quite sure about this but I think `onBoundsChange` only applies when you use `defaultStartTime` and `defaultEndTime`

[2019-09-19 14:35] hckr commented on #653
Do you mean that `onBoundsChange` shouldn't be used, when manually changing `visibleTimeStart`?

[2019-09-20 22:15] Ilaiwi commented on #653
@hckr I think so but not quite sure. could you investigate it, please?

[2019-09-23 10:32] hckr commented on #653
I don't understand what do you mean. How should I know if it should work that way or not? I'm not the author of the API. From my point of view, it shouldn't, as it might suggest the canvas is recreated on each scroll which probably is a performance issue. If it isn't recreated, then this event shouldn't fire, as canvas bounds don't change. And they shouldn't change on every scroll, that's why the

[2019-09-23 10:40] Ilaiwi commented on #653
@hckr me neither I didn't write the API for the `boundaries change` so this needs to be a collaboration effort from both of us. I agree. This would cause huge performance issues if you are using vistableTime start/end.
The state management to achieve this would be a nightmare I would guess since here we are mixing controlled with uncontolled principles.
We scroll the calendar via scrollLeft proper

[2019-09-23 14:29] prh7 opened #654 "Questions: Items aren't getting stacked"
Hi,
  I have a situation where the items aren't getting stacked but it is overlapping.

Code:

![image](https://user-images.githubusercontent.com/10049692/65434507-3bcaa700-de1f-11e9-9a3f-2d086689c93f.png)

Any sort of help will be appreciated!

[2019-09-24 10:10] hckr opened #655 "Question: is it possible to know the current zoom level – months vs. days?"
Is there an event which fires when the zoom level changes, e.g. from days to months and vice versa (I don't use any other zoom levels).

[2019-09-24 10:11] Ilaiwi commented on #655
yes `onTimeChange`

[2019-09-24 10:32] Ilaiwi opened #656 "RFC: row renderer"
**Is your feature request related to a problem? Please describe.**

Add an API to the calendar part of the timeline. This API would give you control to add custom UI on calendar rows using a render prop. You can control what is rendered by default with the library like Items and Vertical/Horizontal lines, and the renderer will provide you the ability to render custom backgrounds and droppable laye

[2019-09-24 10:52] hckr commented on #655
AFAIR `onTimeChange` gives timestamps for the beginning and end of the visible time range. What I'd like to know is when this change happens:

![months-days-view](https://user-images.githubusercontent.com/1078650/65505738-35453980-deca-11e9-85a6-bbe2fc4f8275.gif)

[2019-09-24 11:10] Ilaiwi commented on #655
@hckr you can diff them and figure out the unit so for example if it was less than a day then the unit is hour....

[2019-09-24 11:18] Ilaiwi commented on #656
I need so opinions on this. I will mention the people who are active or faced an issue related to this fix on this repo but this is public discussion.
@prh7 @hckr @eeliinaa @daqi @arturcarvalho @mcMickJuice @madhujahagirdar @persiasensei @shutchings  @acemac @vasdee  @Shvarts @hellooperatorpatchmethrough  @jabidof @gaston-niglia @MadDeveloper @tobiasbueschel @tobiasbueschel @Cignite @msand @richar

[2019-09-24 11:35] hckr commented on #655
I don't exactly understand, what do you mean.

With the following callback:

[code]

I don't get reasonable results (because this shows days in the visible range, not the zoom level: if the columns are days or months):

![months-days-view-diff](https://user-images.githubusercontent.com/1078650/65508237-0b8f1100-ded0-11e9-9189-cab713ae0e79.gif)

[2019-09-24 14:10] hckr commented on #655
I found out that a better event to use would be `onZoom`.

Ok, so the functionality I need is implemented here: https://github.com/namespace-ee/react-calendar-timeline/blob/c358570024fc0969a4bdbfe217dcd59491056cf3/src/lib/utility/calendar.js#L94

But in order to use it, first I have to import it in a hacky way:
[code]

And then use another hack – a ref to the `Timeline` – in order to call it with

[2019-09-24 14:24] Ilaiwi commented on #655
@hckr this has implementation details which I don't recommend... I am still not sure what are you trying to get and why the difference between visibleTimeStart and visibleTimeEnd didn't do the trick?

[2019-09-24 14:32] hckr commented on #655
I would like to know if colums display months or days. I need to display different items for months and for days.

[2019-09-24 15:05] stahlmanDesign opened #657 "Custom marker with width, area (start and end date range)?"
**Is your feature request related to a problem? Please describe.**
The CustomMarker allows for adding a line across all rows, such as the a line showing today or now, or any specific point in time. I can't find a way to make this line into a rectangle covering a date range.

**Describe the solution you'd like**
Just like CustomMarker, but with a start and end date so it creates a rectangle. This c

[2019-09-24 19:22] prh7 commented on #656
I have been following the RFC. It is a excellent work done. We have to distinguish the core timeline and the custom plugins i.e the custom layers. We also need to keep in mind the custom layers keeps the core timeline work as it is of today.

[2019-09-24 19:53] Ilaiwi commented on #656
@prh7 could you please elaborate on what do you mean by distinguishing the core?

[2019-09-24 20:22] jabidof commented on #656
Hi and thanks for this great job.

This rowRenderer will allow virtualization? Thus improving rendering performance?

[2019-09-25 08:57] prh7 commented on #656
@Ilaiwi - The core means to keep the code library as it is of today. Extending the core with custom plugins/layers with least minimal changes being made to the core. This way I think we can avoid introducing new bugs when we implement our custom plugins/layers.

[2019-09-25 16:55] lars-ewers opened #658 "Vertical scrolling is not working on iOS 14.1"
**Describe the bug**
After updating my iPad Pro to version 14.1 vertical scrolling is not working when touching the timeline. If I scroll/touch on the left sidebar scrolling works as before.
Tested in safari and chrome on iOS 14.1

**To Reproduce**

1. Open timeline in safari or chrome on iOS 14.1
2. Touch on the timeline (not the sidebar) and try to scroll up or down
3. Timeline is not moving

**

[2019-09-25 19:29] Ilaiwi commented on #658
@lars-ewers sorry dude I don't own an ipad. I can't debug this

[2019-09-26 09:40] lars-ewers commented on #658
I just found out, if you disable "touch-action: none" scrolling is working as expected.
But in this case you are not able to move Items around on a touch device

btw: scrolling in x direction is working fine..

Anyone else experiencing this behavior?

[2019-09-26 10:43] Ilaiwi commented on #658
@lars-ewers I have no clue sorry

[2019-09-26 14:50] justin73 commented on #657
+1, this could be a really nice feat, mark it with `start` and `end` date

[2019-09-30 11:57] Sylv0 opened #660 "Problem with stackItems and expandable groups."
**Describe the bug**
I'm using the timeline with a solution for groups that can be expanded and closed which I found online. But the way I'm using it causes the stackItems-attribute to not work, they just end up overlapping. I've seen these things work together, but I can't figure out what the cause is in this situation.

**To Reproduce**
[Example on Codesandbox](https://codesandbox.io/s/3wnng):

[2019-09-30 12:13] Ilaiwi commented on #656
@jabidof there will be several performance bosts but it has to do more of trying to eliminate expensive calculations/renderers rather than through vertical rendereing.
for example this is profiling of a simple drag of an item horizontally.
![Screen Shot 2019-09-30 at 3 09 49 PM](https://user-images.githubusercontent.com/10817089/65877456-67f0a580-e394-11e9-92fb-a9bd866e0e2f.png)
As you can see in

[2019-09-30 12:18] Ilaiwi commented on #656
@prh7 Till now I am trying my best to keep the core code intact. But in reality, some code had to be changed (I hope to the better).
You can take a look at the compare [here](https://github.com/namespace-ee/react-calendar-timeline/compare/rowRenderer) _this is till WIP though_
I am gonna release multiple alphas/betas for the feature and write docs on breaking changes and how to use the new feature

[2019-09-30 19:53] tyson-kubota commented on #473
I also ran into this issue; it should be mentioned in the documentation for clarity. I'll open a PR.

[2019-10-01 10:53] arturcarvalho commented on #656
If you need help testing, please let me know. And thanks for your efforts, the timeline is great!

[2019-10-01 11:17] prh7 commented on #660
@Sylv0 - You need to specify start and end dates for each item in milliseconds or moment date object. Native JS Date object isn't supported. That will solve your problem.

[2019-10-01 11:20] prh7 commented on #654
Setting start and end dates for each item to milliseconds solved the problem.

[2019-10-01 11:20] #654 closed

[2019-10-01 11:36] megasus commented on #653
So having had the same problem, I probably know the cause of this.
The onBoundsChange event will always fire when items or groups changed. Since your second connected timeline component does not have any items/groups props, a new instance of items and groups will be created whenever the store updates (visible time changes).

Even if your items/groups have the same values as before, the timeline wi

[2019-10-01 12:51] Sylv0 commented on #660
Thank you @prh7. I feel slightly dumb right now. Recently I've been working a lot with Native Date and date-fns and I completely forgot this package is using moment.

[2019-10-01 12:51] #660 closed

[2019-10-01 12:52] Ilaiwi commented on #660
@prh7 thank you for solving this

[2019-10-01 13:47] hckr commented on #653
I don't understand. Items and groups never change, they are created only once in my example (App.jsx):

[code]

[2019-10-01 13:50] hckr commented on #653
Oh, ok. This is the root cause:

[2019-10-01 13:50] #653 closed

[2019-10-01 15:20] Ilaiwi commented on #653
@meengit thanks for the help

[2019-10-01 19:10] jessica-may opened #662 "Display date on CursorMarker"
Is there a way to display the month and year I'm hovering over with CursorMarker? Also is there a way to make CursorMarker's bar be displayed over the items instead of behind them?

[2019-10-01 19:18] Ilaiwi commented on #662
yes you need to increase its z-index more than 88

[2019-10-01 20:21] prh7 commented on #656
I can help with testing. Thanks.😊

[2019-10-02 14:04] jessica-may commented on #662
I've done that in the inspect element and it seems to work but I can't get it to persist over page refresh by modifying the Timeline.css file in the library. I've edited the z-index on .rct-scroll and .rct-item:hover and neither of these seem to fix it. I've also attempted creating a separate css file and using inline css and nothing works.

Also, how would I create a tooltip on this CursorMarker

[2019-10-03 08:00] prh7 commented on #662
[code]

Pass date as props using moment. That should show the date on the tooltip alongside CursorMarker line. The CursorMarker should persist on pageRefresh.

@jessica-may

[2019-10-03 08:02] prh7 commented on #662
@jessica-may

`.react-calendar-timeline .rct-cursor-line {
    position: absolute;
    width: 2px;
    background: #2196f3;
    z-index: 51;
}`

You can use this CSS.

[2019-10-04 18:38] jabidof commented on #656
@Ilaiwi
I'll take time to test and compare to current version.
Thanks for the job!

[2019-10-10 14:15] mnob2019 opened #663 "The style for item"
Hi, I cannot change the style for items.
{
  id: 1,
  group: 1,
  title: 'Random title',
  start_time: 1457902922261,
  end_time: 1457902922261 + 86400000,
  canMove: true,
  canResize: false,
  canChangeGroup: false,
  className: 'weekend',
  style: {
    backgroundColor: 'fuchsia'
  },
  itemProps: {
    // these optional attributes are passed to the root <div /> of each item as <div {...itemPro

[2019-10-11 13:25] mnob2019 opened #664 "onCanvasClick call a component"
Hi,
I would like to ask. It is written that onCanvasClick I can open a window to create a new event. Is it possible somehow
onCanvasClick open a  new component to create an event?

Thank you!

[2019-10-15 09:23] maxsd commented on #73
Hey there ! @mariusandra would you still provide guidance if i decided to work on this feature ? :)

[2019-10-15 12:32] mariusandra commented on #73
Hi @maxsd , I'm unfortunately not involved with this library anymore and don't have time to help. Good luck!

[2019-10-17 10:21] mnob2019 commented on #664
@Ilaiwi

[2019-10-17 10:33] Ilaiwi commented on #664
@mnob2019 yes you can do that differently.
you need to use `onCanvasClick(groupId, time, e)` of course. On click you would open something like [Modal from material ui](https://material-ui.com/components/dialogs/#form-dialogs) and ask the user via a form to fill some info and create a new item by adding it to the `items` passed to `Timeline`

[2019-10-17 12:11] vickyvxr opened #666 "Configurable scroll height added to the ScrollElement"
**Is your feature request related to a problem? Please describe.**
In our project we need to remove the "+20px" height that is in the ScrollElement component

**Describe the solution you'd like**
I would like to pass as props if possible to the TimelineComponent the scrollHeight added to the container.

**Describe alternatives you've considered**
An alternative could be add 0 px, but I don't know

[2019-10-17 13:57] mnob2019 commented on #664
@llaiwi thank you for the response,I will look through that form:) new to React and doing quite a big front-end project. You have an amazing library here, than  you for the work!

[2019-10-17 15:12] Ilaiwi commented on #666
@vickyvxr why do you need to hide it? I think it is there to hide the horizontal scroll bar

[2019-10-17 15:24] Ilaiwi commented on #663
@mnob2019 could you please provide codesandbox for your case?

[2019-10-18 07:25] mnob2019 commented on #663
So basically I was trying to do this.  But apparently it cannot be done directly. Only with the  item rendering? Sorry if that is that is an easy and obvious question, but I as I said I am very new to React and front-end in many ways.
https://codesandbox.io/s/bold-dan-z341u

[2019-10-18 10:19] Ilaiwi commented on #663
@mnob2019 oh the documentation is wrong here sorry for that.
it should be
[code]
like here
https://codesandbox.io/s/bold-kepler-58oom

[2019-10-18 10:22] Ilaiwi commented on #663
fixed the docs. let me know if you have any other questions

[2019-10-18 10:22] #663 closed

[2019-10-18 10:23] Ilaiwi commented on #664
youre welcome. It would be awesome if you could share a codesanbox if you got things working here.
let me know if you have any other questions but I will close this for now

[2019-10-18 10:23] #664 closed

[2019-10-18 10:25] Ilaiwi commented on #662
@prh7 thanks for helping on this.
@jessica-may please let us know if this answers your question.
I will close this for now

[2019-10-18 10:25] #662 closed

[2019-10-18 10:26] Ilaiwi commented on #657
this will be possible with row renderer that is currently WIP.

[2019-10-18 10:29] Ilaiwi commented on #655
@hckr what do you mean by columns here? the primary header (red one) or the secondary header (gray one). the method I mentioned gets you the unit for the gray one

[2019-10-18 10:30] Ilaiwi commented on #641
@prh7 this is released in 0.26.3 forgot to close this issue

[2019-10-18 10:30] #641 closed

[2019-10-18 10:49] hckr commented on #655
I meant the grey one, and the code I posted above does what I need, but is hacky.

[2019-10-18 11:17] Ilaiwi commented on #655
@hckr try this
https://codesandbox.io/s/timeline-demo-zoom-level-question-8896o

[2019-10-18 11:39] mnob2019 commented on #664
I will as soon as something works!:)) Thank you!

[2019-10-18 13:21] mnob2019 opened #667 "Set up background color onCanvasDoubleClick after resizing or moving the default color returns"
@Ilaiwi , and a problem  I face:) In my project the colors are important, I should be able to  set  item background color. But after resizing it returns to the default sets. Should I do it with the itemRender?

Please check the codesandbox:

https://codesandbox.io/s/wandering-sound-fkg3r

[2019-10-18 13:39] hckr commented on #655
It doesn't work correctly:

![screenshot](https://user-images.githubusercontent.com/1078650/67099014-7aa11200-f1bd-11e9-8354-226e679cebaf.png)

[2019-10-18 15:11] Ilaiwi commented on #655
this is correct. you can see more than a month on the screen

[2019-10-21 07:17] mnob2019 commented on #667
sorry for pinging:)) @Ilaiwi

[2019-10-21 08:57] Ilaiwi commented on #667
@mnob2019 no problem feel free to mention me.
you need to use `background` instead of backgroundColor.
I understand this is a little frustrating but there is a PR that will fix this issue #659
I fixed the docs as well

[2019-10-21 09:07] Ilaiwi commented on #655
@hckr yes I understand now. I guess there is no direct way to do that then. I would suggest adding a unit param to `onZoom` and `onTimeChange` with the unit.
please feel free to open a PR to pass those params to the functions

[2019-10-21 09:26] #667 closed

[2019-10-22 07:12] mnob2019 opened #668 "The item resizing"
@Ilaiwi  Good Morning, I have a question, it seems that the text in the item boxes doesn't resize with the items. So it is not relative. Is it possible to fix somehow, may be with css? Thank you!

[2019-10-22 07:56] Ilaiwi commented on #668
@mnob2019 with itemRenderer there is a prop passed with [`itemContext`](https://github.com/namespace-ee/react-calendar-timeline#itemrenderer) called `width` which is the width of the item. Using that value you can change the fontsize to make it fit

[2019-10-22 09:00] mnob2019 commented on #668
@Ilaiwi  Is it possible to  make it relative, I mean how much text is seen can depend on the size of the item?

[2019-10-22 11:39] hckr commented on #655
Okay, I will implement this.

[2019-10-22 13:37] mnob2019 commented on #664
@Ilaiwi  not sure how I can reopen the issue to continue, but I am trying to open a component form the Timeline and it returns me the following error:
https://codesandbox.io/s/wandering-sound-fkg3r

The function works I tried it, rendering a separate component, it also works inside, the Timeline  with console.log and alert, but when I pass the Form component it gets undefined. The logic is pretty

[2019-10-22 13:38] Ilaiwi commented on #668
@mnob2019 you need to implement that using the item context. This is not supported in the library itslef

[2019-10-22 13:46] mnob2019 commented on #668
@Ilaiwi ah, okay, thank you for the reply:)

[2019-10-22 13:50] Ilaiwi commented on #664
@mnob2019  there are couple of issues with the code iteself not the library
fixed them in this fork
https://codesandbox.io/s/brave-wescoff-i56o9

[2019-10-22 13:50] #668 closed

[2019-10-22 14:08] mnob2019 commented on #664
@Ilaiwi  Oi, that is amazing! thank you!! Ye....I usually assume myself being stupid, actually))))
where can I read more about this ? <></> Its like an empty component?

In the view it looks a bit behind the bars, imprisoned))

https://codesandbox.io/s/jolly-leftpad-mdhnc

[2019-10-23 09:26] perfectstrong opened #669 "Decide when to stack"
**Is your feature request related to a problem? Please describe.**
I'm implementing a work planning which would have for each item a label above that might be longer than the owning item itself.

![image](https://user-images.githubusercontent.com/23375518/67378322-5eb7ba80-f587-11e9-837c-aa4f38e4a027.png)

By far, i only show the label when the length of item is larger than a certain threshold.

T

[2019-10-23 10:31] Ilaiwi commented on #669
@perfectstrong I am not sure I understand what you are trying to implement but I think itemRenderer might solve your issue.
as for stack items you can't control that

[2019-10-24 06:28] perfectstrong commented on #669
Sorry for not clarifying my intent. Sometimes, the label on each item is long enough to overlap each other. For example here, i have a label "M. Toto DUPONT DUPONT DUPONT" extremely long.
![image](https://user-images.githubusercontent.com/23375518/67459122-1ad0be00-f638-11e9-8e4b-232600bcdbfe.png)

[2019-10-25 08:12] vickyvxr commented on #666
We need to hide the horizontal scroll bar since we prefer to move the scheduling using the mouse, or we need to adapt the scroll bar to hour scroll bar size:
See this example:
![image](https://user-images.githubusercontent.com/33089634/67554542-ea5c5300-f70f-11e9-907a-f804eb620730.png)

20px is too much for our thin scrollbar :)

[2019-10-25 09:35] Ilaiwi commented on #666
@vickyvxr ok, I understand. Please if you have a better way to do this, feel free to submit a PR with tests and I will take a look at it but I don't think I will be working on supporting this.

[2019-10-25 11:25] Ilaiwi commented on #511
@florinciubotariu @Wax6610 apparently this was a bug that i didn't know about. I fixed it in 0.26.6
example here
https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-659jb

[2019-10-25 11:25] #511 closed

[2019-10-28 07:55] vickyvxr opened #672 "How can I repaint some items when the today line refreshes?"
**Is your feature request related to a problem? Please describe.**
I need to paint the item different when the today line has passed over it:
![image](https://user-images.githubusercontent.com/33089634/67660738-c68f4c00-f95f-11e9-89b9-8625b6b43442.png)

When I render the component the first time, it is rendered ok,  but when the time passes the items are not re-rendered so the items become like th

[2019-10-28 08:43] Ilaiwi commented on #672
the issue is that items are a pure component and the today line data doesn't affect the items. I would suggest passing a new ref for items.
[code]
this should trigger a rerender of the items

[2019-10-28 08:51] vickyvxr commented on #672
Using a setInterval of the same number of milliseconds than the today line ?

[2019-10-28 09:05] Ilaiwi commented on #672
@vickyvxr not sure what do you mean

[2019-10-29 14:44] Haydspalms opened #674 "White space under calendar [QUESTION]"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/12234087/67777867-46014600-fa5a-11e9-85a3-f5285b9a6fed.png)

After removing elements from the 'groups' variable, there's a massive whitespace underneath my table. How can I make it so that it updates it and removes the whitespace whenever there aren't enough elements present. In th

[2019-10-29 15:23] #674 closed

[2019-10-30 09:34] vickyvxr commented on #672
Nothing, I have solved by myself, thanks :)

[2019-10-30 09:34] #672 closed

[2019-10-30 09:49] vickyvxr opened #675 "Draw vertical lines in some intervals"
**Is your feature request related to a problem? Please describe.**
Is there any way to draw vertical lines in some specific intervals?
The Custom date headers are great, I have a zoom option and I can draw the headers depending on my needs thanks to this feature.
But I cannot find the way to draw vertical lines in the new positions that I need:
![image](https://user-images.githubusercontent.com/33

[2019-10-30 13:04] Ilaiwi commented on #675
@vickyvxr something like in the codesandbox here?
https://codesandbox.io/s/timeline-demo-helpers-doc-example-o24h6
if yes then this should release with the row renderer feature which will soon be in beta

[2019-10-30 17:30] Ilaiwi commented on #656
@jabidof @prh7 @arturcarvalho
I've released beta here https://github.com/namespace-ee/react-calendar-timeline/releases/tag/0.27.0-beta
you can download it now with `yarn add react-calendar-timeline@beta`
for documentation checkout
https://github.com/namespace-ee/react-calendar-timeline/tree/develop

[2019-11-07 21:20] aufgussmeister opened #679 "header doesn't horizontal scroll"
i have a problem with horizontal scrolling of header.
the body scroll well but the header is always fixed.
i don't see css overrides, maybe someone can suggest to me what to pay attention in the scrolling chain of the header or the right class configuration

this is the component:
https://gist.github.com/aufgussmeister/e8268134468a0e01b7d99196ace936df

the packages
https://gist.github.com/aufgussm

[2019-11-07 22:37] jabidof commented on #679
Same issue.
Downgraded to previous version.

[2019-11-07 23:40] Ilaiwi commented on #679
this on a touchpad right? I think i know the issue I will release a patch tomorrow

[2019-11-07 23:57] aufgussmeister commented on #679
Yep with touchpad 0.26.5 ( @jabidof suggestion) works good, 0.26.6 doesn’t work with touchpad but only with mouse click.

Thanks for your answer!

[2019-11-08 06:29] jabidof commented on #679
Correct, with touchpad doesn’t work.
Thanks @Ilaiwi

[2019-11-08 10:07] Ilaiwi commented on #679
released in 0.26.7 https://github.com/namespace-ee/react-calendar-timeline/releases/tag/0.26.7

[2019-11-08 10:07] #679 closed

[2019-11-08 10:10] Ilaiwi commented on #675
I will close this for now. If my previous answer didn't help please let me know

[2019-11-08 10:10] #675 closed

[2019-11-12 15:39] HichamELBSI opened #681 "Stackable items inside an item."
Hello everyone,

First of all, thanks for this awesome repo. I have some difficulties to handle my case with react-calentar-timeline. Well, let me explain my use case. I have to display an item which have multiple items inside (something like a background item of a group of items). The group of items inside of the background item should be stacked like the picture below.

![Capture d’écran 2019-1

[2019-11-13 13:39] rmccue opened #682 "Allow custom className for root element"
**Is your feature request related to a problem? Please describe.**

The root element has the `react-calendar-timeline` class name, which can't be customised. (There's also the `rct-outer` class name underneath it as well.)

**Describe the solution you'd like**

I'd like to be able to pass `className` or `additionalClassName` to the top-level `Timeline`.

**Describe alternatives you've considered**

[2019-11-13 13:44] kevinhury commented on #532
@Ilaiwi I was able to reproduce the bug with the codesandbox you provided [here](https://github.com/namespace-ee/react-calendar-timeline/issues/532#issuecomment-470027551)

Please zoom to the point the header unit type is month. See this screenshot from your sandbox:
<img width="927" alt="Screen Shot 2019-11-13 at 15 43 02" src="https://user-images.githubusercontent.com/5544095/68769051-5a356d80-0

[2019-11-13 15:16] Ilaiwi commented on #532
should be fixed when #673 lands

[2019-11-13 15:22] loaibassam opened #684 "rct-vl-first isn't showing on .rct-dateHeader"
Any pointers on why .rct-dateHeader does not have .rct-day-0 or .rct-vl-first so i'm unable to style them.

<img width="911" alt="Screenshot 2019-11-13 at 15 13 59" src="https://user-images.githubusercontent.com/4785390/68777160-260c7d80-0629-11ea-9ecd-67b63cbd2645.png">

[2019-11-13 16:07] Ilaiwi commented on #684
@loaibassam these were removed when Timeline Headers where introduced

[2019-11-13 16:14] loaibassam commented on #684
Were they replaced with anything else?

[2019-11-13 16:17] Ilaiwi commented on #684
`DateHeader` should do the trick but depends on what you are trying to do

[2019-11-13 16:20] loaibassam commented on #684
What I'm trying to do is:
1) weekdays have a grey background colour, which I want to also show on the day in the header.
2) The border that separate months is darker, i want to also extend that to the day in the header.

<img width="748" alt="Screenshot 2019-11-13 at 16 18 43" src="https://user-images.githubusercontent.com/4785390/68782427-50facf80-0631-11ea-89ac-557fc0f083de.png">

[2019-11-13 16:23] Ilaiwi commented on #684
you can definitely do that with `DateHeader` using [`intervalRenderer`](https://github.com/namespace-ee/react-calendar-timeline#intervalrenderer) where you can use `interval` to check the dates and accordingly apply some custom styles

[2019-11-13 16:24] loaibassam commented on #684
Thanks a ton! :)

[2019-11-14 16:46] cosmith commented on #656
Hi @Ilaiwi, thanks for this great component and for the row renderer. We're using it to add drag-and-drop from another div in the page to add item to the timeline. The one thing we're not sure how to do is to be able to drop to a specific time ; i.e. right now we don't have any info as to where the item is in terms of date/time. So we place it at today/today+5 hours but I'm wondering if you have a

[2019-11-15 09:28] msand commented on #656
@cosmith Check this: https://github.com/namespace-ee/react-calendar-timeline/issues/156#issuecomment-456264586

[2019-11-15 10:13] Ilaiwi commented on #656
@cosmith You can do that using timeline ref and the drop event. The rough idea is that it would figure out `left` from the event and from `ref.scrollLeft` and then use the helper https://github.com/namespace-ee/react-calendar-timeline/tree/develop#getdatefromleftoffsetpositionleft-number-number

@msand I've been over your solution so many times dude and it is great! This new feature aims to get a

[2019-11-15 13:59] cosmith commented on #656
Thanks @Ilaiwi , we'll try it out and let you know :)

[2019-11-15 16:24] megasus commented on #656
First of all, thanks @Ilaiwi. Your work is really appreciated.
Not sure if this is the right place to report bugs for this feature. I noticed that the `canChangeGroup` prop of an item has no effect when using rowRenderer. Every item can change groups when dragging. Tested it with 'demo-main'.

[2019-11-15 16:36] Ilaiwi commented on #656
@meengit Thanks for reporting this. I will take a look at the bug soon. And sure here works. I would appreciate any feedback I can get

[2019-11-17 14:05] kevinhury commented on #532
@Ilaiwi Thanks! when is the next release?

[2019-11-18 07:55] Ilaiwi commented on #532
@kevinhury sorry I don't have an ETA for the rowRenderer feature yet

[2019-11-18 09:41] stochris opened #685 "Timeline daily hour interval"
**Is your feature request related to a problem? Please describe.**
On a project I'm working the end user requests hour intervals for the timeline
**Describe the solution you'd like**
I'd like to have prop ( or set of props ) which can be used to set the hour interval

**Additional context**

This is a feature I'd be more than open to implementing. However, I would need support / advice from someon

[2019-11-18 11:06] Ilaiwi commented on #685
@stochris I am not quite sure I get the feature you want to implement from the description.

have you tried using visible time start and visible time end? also for the headers you can use Timeline headers and give DateHeader a unit hour to only display hours on the header

[2019-11-18 15:13] stochris commented on #685
Sorry, what I meant is limiting the hour interval for each day to, for example, working hours. So, when you zoom in, it doesn't display all hour intervals, but only from 9 to 18.

I looked a bit around the code, and noticed there are quite a few things that would need changing.

[2019-11-18 17:25] Ilaiwi commented on #685
@stochris I don't think this feature is possible. The timeline is built on the assumption that a day is 24 hours

[2019-11-19 09:55] stochris commented on #685
Thanks, I'm gonna have to try anyway 😅

[2019-11-19 14:38] Buba21 opened #686 "Custom Header disable zoom [Question]"
HI im fairly new to react development and in my project i need to disable the zoom when we click on the header, i have been going crazy trying to figure this out but to no avail. The documentation on the Custom header is s bit confusing to me and so im stuck on this part.
If someone could give me some pointers on how to do it i would be immensely appreciated.

Other than that amazing Api and conti

[2019-11-21 09:08] kevinhury opened #687 "onTimeChange and CustomHeader"
Hi,

First of all thank you for the great library!

I'm trying to implement a timeline which can be controlled from the parent component (like a button which scrolls to "Today"), and also controlled by dragging.

From the docs:
If `visibleTimeStart` and `visibleTimeEnd` are passed in, then `onTimeChange` callback must be passed in too. In this instance, the displayed time can be validated by using

[2019-11-21 09:09] Ilaiwi commented on #687
take a look at these two examples
https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples#controlled-scroll
https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples#programmatically-scrolling
they have what you need

[2019-11-21 09:25] kevinhury commented on #687
@Ilaiwi Thanks for the reply. I have updated the first comment.
Btw the link is broken for the programmatically-scrolling exmaple

[2019-11-21 18:55] MkrishnaPodshore opened #688 "Unable to load time line data until we minimize and maximize the browser"
Implemented the timeline chart, but unable to view the chart data until we minimize and maximize the browser.

![image](https://user-images.githubusercontent.com/55871137/69367542-7f764b80-0cbe-11ea-8654-f590c899a165.png)

[2019-11-22 09:19] VijayDinanath opened #689 "Change Background color of DateHeader"
How can I change the background color of DateHeader ?

[2019-11-22 09:22] VijayDinanath opened #690 "Add another DateHeader with different timezone."
Hi,

I have a requirement to add an another DateHeader with other timezone.
I hae added the Dateheaders as :

        <DateHeader unit="primaryHeader" className={classes.dateHeader} />
        <DateHeader />
        <DateHeader className={classes.secondDateHeader} />
Here, how can i change the timezone of third DateHeader component ?

[2019-11-22 16:56] tylersuchan opened #691 "Nested Tree View?"
I'd like to use this library, but I'm wondering if there is the ability to create a "Nested" Tree View for groups. I looked at the example found at https://codesandbox.io/s/r1mxzj581m, which looks great, but it would seem in order for a group to expand its' root field would need to be "true" and the parent field would need to be "null". This only allows for 2 levels of groups, i.e. groups and subg

[2019-11-28 10:31] mnob2019 opened #692 "Creating an item with a component called onDouble click."
Hi, @Ilaiwi   I have a problem with rendering items. I have already tried everything spread operator and push function, and still do not get what the problem....Here is my codesandbox. If you have a moment could have a short look may be there is something behind the scene I didn't take into account...
https://codesandbox.io/s/silly-gagarin-3nsnw

Thank you!

[2019-11-28 11:19] #686 closed

[2019-11-29 07:20] otang commented on #626
I'm also looking for similar behaviour. I'd like to show a week view, but only show working hours (9-5) for each day. I'm playing around with `intervalRenderer` to see if I can skip intervals, not sure how well it will work but I'll let you know what I find.

[2019-11-29 08:08] otang commented on #685
@stochris I need the same thing. Did you find any solution yet?

[2019-12-02 09:17] mnob2019 commented on #692
@Ilaiwi sorry for the ping:)

[2019-12-02 09:22] Ilaiwi commented on #692
not sure I understand the question

[2019-12-02 10:43] mnob2019 commented on #692
@Ilaiwi  After I push the Submit button on the separate component I wanted the items to be created, but it doesnt happen, I can see on the console that the state is updated and the items are not empty , but they do not appear on the timeline)

[2019-12-03 13:32] jabidof opened #693 "Leap frog years"
**Describe the bug**
Not sure this is a bug as I could not setup a code sandbox based on the examples.

When clicking on "non-leapfrog" years, the zoom-out-to-year works as expected. When clicking on a "leap-frog" year, nothing happens.
I should mention I have a localized Moment version to "fr-CH":
import 'moment/locale/fr-ch';

Did anybody experience similar issue?
Really puzzling...

**To Reprod

[2019-12-03 15:52] #687 closed

[2019-12-03 17:31] kevinhury opened #694 "Drag / Move on first touch"
**Is your feature request related to a problem? Please describe.**
Currently in order to move/resize an rct-item you first need to click to select it, then you can move it / resize it

**Describe the solution you'd like**
Any way to resize and move the rct-item on first touch, without the need to select it first.

Thanks for the awesome component!

[2019-12-03 20:04] #694 closed

[2019-12-04 10:12] mnob2019 commented on #692
@Ilaiwi  Hi, I found the problem)  Now it works) The problem that in the documentation the item  is described as following:
{
  id: 1,
  group: 1,
  title: 'Random title',
  start_time: 1457902922261,
  end_time: 1457902922261 + 86400000,
  canMove: true,
  canResize: false,
  canChangeGroup: false,
  itemProps: {
    // these optional attributes are passed to the root <div /> of each item as <div

[2019-12-04 13:50] jabidof commented on #693
Was in my code... Leap frog year has got 366 days... if you didn't know ;-)

Happy end of the year to everyone!

[2019-12-04 13:50] #693 closed

[2019-12-10 10:57] SoftDev1987 opened #697 "[Question] Button week view"
Is it possible to make it so you can add a button on top of the calendar where you can click and it will show the new week and say the week number (e.g. week 47)?

[2019-12-11 15:53] mnob2019 opened #698 "Gradient for an item"
Hi,

is it possible to add linear-gradient to the items? I cannot figure out how)

Thank you

[2019-12-11 20:39] tylersuchan commented on #691
I actually figured out how to do this, so the issue can be closed. If anyone is wondering:

For the groups, you would need to have the objects in your groupList in order. I had to get finicky with it, but it is doable. If you know how many levels deep you want to go, I found that assigning to each object in your groups list a "treeLevel" property makes nesting things a breeze. The example below us

[2019-12-11 20:39] #691 closed

[2019-12-12 09:26] HichamELBSI commented on #681
Thanks for your reactivity ! 🤣

[2019-12-12 09:26] #681 closed

[2019-12-13 04:37] VijayDinanath opened #699 "Override the top position of an item"
- I can render the items in the timeline, but when two items with same or one item less / more than other , then then items are rendered one below other.
- How can I render both the items on the same line with one below and other on the top of it, instead of below the first one in the second line.
- I tried to override the position: 'absolute' and top: 50 in getItemProps for all the items, but sti

[2019-12-13 15:20] mnob2019 commented on #698
@Ilaiwi  Hi, sorry) Is it possible to  make style {background: " linear gradient"}? only  work around with formula?

[2019-12-17 12:13] EugeneBugor opened #700 "The library has not been transpiled from ES6 to ES5 for browser support"
**Describe the bug**
The main reason raising the issue is that common approach for such npm packages is being supportable by any browser. One of the way to reach it out is to transpile code written in ES6 to ES5 before moving it to npm repo. I know that this is a discussable question whether it should be consuming developer's or the library developer's responsibility of transpiling the library. Bu

[2019-12-17 12:54] EugeneBugor commented on #700
As a workaround follow the solution - https://github.com/babel/babel-loader/issues/171
Summary:
1. Add 'exclude but one' rule to your webpack configuration file:
[code]
2. If you use `Babel 7`, you should switch `.babelrc` to `babel.config.js` (if you haven't done it before). https://babeljs.io/docs/en/configuration#babelconfigjs

[2019-12-17 20:56] Kevmue commented on #685
This would be a great feature to make the timeline more compact!

[2019-12-18 13:54] mnob2019 commented on #534
@Ilaiwi Hi, wanted to ask were there any works around this bug done?

[2019-12-23 19:32] Incerto13 opened #701 "Custom Interval Rendering (changing labelWidth)"
Can anyone provide a simple example of someone changing the **labelWidth** property in intervalRenderer? I have looked everywhere.

Thanks in advance!

[2019-12-31 00:15] danielcruser opened #703 "position: fixed on ancestor breaks drag and drop"
**Bug*
dragging an item does not work if there is an ancestor with `position: fixed`

**To Reproduce**
[CodeSandbox](https://codesandbox.io/s/timeline-demo-sticky-header-lv81o)

**Expected behavior**
I expect to be able to trigger move/resize on the items. Instead there is no response.

**Screenshots**
<img width="602" alt="Screen Shot 2019-12-30 at 7 07 56 PM" src="https://user-images.githubuserc

[2020-01-02 06:14] joncar opened #705 "onCanvasDoubleClick and onCanvasContextMenu documented parameters are wrong"
**Describe the bug**
The documentation suggests onCanvasDoubleClick and onCanvasContextMenu have a group parameter as an object, which is different from all of the item events which use item ID. Fortunately the code does the right thing and it is actually the group ID.

**To Reproduce**

n/a

[2020-01-04 04:43] #705 closed

[2020-01-08 01:48] ApexWeed commented on #688
Experienced the same behaviour on 0.26.7. Seems to only happen if the timeline is first rendered with an empty item list as my items are loaded are loaded from an async effect. Changing it to render a blank div instead if there are no items fixed it for me.

[2020-01-08 12:50] x1mrdonut1x commented on #657
@Ilaiwi any news on when can we expect #673 to be merged?

[2020-01-08 12:51] Ilaiwi commented on #657
@x1mrdonut1x you can use the beta for now. I am not sure when it will hit production

[2020-01-08 23:49] dandanknight opened #707 "Inside flex container causes header to stick"
**Describe the bug**
When the Timeline component is inside a `flex`, the header no longer follows the main timeline

**To Reproduce**

https://codesandbox.io/s/timeline-demo-sticky-header-f76cu?fontsize=14&hidenavigation=1&theme=dark

OR

Steps to reproduce the behavior:

Add wrap the timeline component in a div with a `display : flex`

**Expected behavior**
To follow main timeline

**Screenshots*

[2020-01-09 11:54] gvdlangenberg opened #708 "[Question] Render complete timeline in full width"
I'm currently synchronising multiple timeline instances with the `onTimeChange` property. This works fine on desktop, but when testing on a tablet device the performance is very weak. To work around this problem I figured I can render the timelines in full width, so that you can scroll through the timelines by horizontally scrolling the container. I've kind of got this working, but the timeline on

[2020-01-13 07:23] napatwongchr opened #709 "Drop item from outside calendar at any point of time"
**The problem**
I have tested beta version on rowRenderer and I cannot drop item from the outside of the calendar at any point of time

**Solution**
It would be nice if the library provides some functionality to drop items from the outside of the calendar at any point of time.

[2020-01-13 21:20] marwej commented on #503
I'm having the same problem - also wrapping the items with `rc-tooltip`. I guess that both https://github.com/react-component/trigger and `react-calendar-timeline` are messing with the events in an incompatible way.

[2020-01-15 10:57] napatwongchr commented on #709
I came up with the solution to do this and I want some feedback because I am not sure that is a decent way to do it so.

The problem is I want to drop the items from outside of the calendar.
1. I get the clientOffset, x coordinate from drop monitor, which is a function from react-dnd.
2. I have used timeFor(e) the function to calculate the dropping point of time that has been placed in HelpersCont

[2020-01-16 16:56] sexta13 commented on #537
did you get any solution?

[2020-01-21 10:20] DmitryMishchenko opened #710 "Programmatically Scrolling example 404"
![image](https://user-images.githubusercontent.com/16500028/72796583-3dc73a00-3c48-11ea-890a-88b02e7a2db8.png)

Programmatically Scrolling link is not working for this example.

[2020-01-22 10:05] dkarnutsch commented on #698
You can use your own ItemRenderer, add an additional `<div>` and apply custom styles to it. At least this is how we have done it.

[2020-01-25 02:43] FridgeWalaby commented on #703
I ran into the same issue.

[2020-01-26 23:36] FridgeWalaby commented on #707
I have the same issue.

How did you fix it?
@dandanknight

[2020-01-27 16:53] aslanovsergey opened #711 "How to set default timezone in typescript"
Hello,

I know that moment.tz.setDefault('UTC'); can be used to set default timezone, but in typescript i don't see tz property

[2020-01-28 01:55] FridgeWalaby commented on #711
I didn't set the timezone but I set the language. But i'm sure it works similar.

Maybe you also need to install the types `npm install @types/react-calendar-timeline`
[code]

[2020-01-28 09:44] mnob2019 commented on #698
Hi, thank you for your kind reply!

[2020-01-30 08:51] yegrushka opened #712 "Weird behavior of timeline while using exterior filters"
**Describe the bug**
I need to filter groups with several external filters. Some of them are date filter and search filter.
While typing something in search input, a date is unpredictably changed to the previous day.

**To Reproduce**

You need to make some filters and change them with using setting state.
[Here's an example where the bug is reproduced](https://codesandbox.io/s/timeline-demo-contr

[2020-01-30 15:31] mnob2019 commented on #573
hi, @tobiasbueschel, did you manage to figure out the issue? I just recently faced this problem and somehow cannot find a solution yet...Thank you !

[2020-01-30 15:44] tobiasbueschel commented on #573
Hi @mnob2019, unfortunately not yet! I haven't been using the library in the last months, hence, haven't further investigated! Have a good day nonetheless 🙂

[2020-01-30 16:07] mnob2019 commented on #573
@tobiasbueschel  Thank you! Yes, its an amazing library))) Thank you have a goo day too!

[2020-01-30 16:20] mnob2019 commented on #573
@Ilaiwi , Hi, is there any solution to this issue? In my case the time line doesn't crash, but  the items disappear?

[2020-02-02 09:04] 2f-concept commented on #685
I'd like to have this feature too ! If someone find the solution, please share ! ;)

[2020-02-02 23:09] gorbs commented on #707
It seems the component really doesn't like being in a flex layout.

Resizing the browser window causes CPU usage to spike then the component crashes (drag narrower, then wider again):

Cannot read property 'short' of undefined
formatLabel
https://f76cu.csb.app/node_modules/react-calendar-timeline/lib/lib/headers/DateHeader.js:218:33

Also, adding the containerResizeDetector to the timeline causes

[2020-02-03 15:30] fredrik-bjaras opened #713 "Horizontal scroll breaks controlled mode"
**Describe the bug**
When in controlled mode (either using visibleTimeStart/end or defaultTime and onTimeChange), scrolling with a trackpad (two fingers) or middlemouse-click scroll ignores the boundry set. This scrolls the underlying "3x wide scrolling canvas" to either edge.

**To Reproduce**
This bug is visible in the "Controlled scroll" demo: [codesandbox](https://codesandbox.io/s/timeline-dem

[2020-02-04 10:50] dverkhovsky13 opened #714 "Is it possible to get full height for row even though not all items are seeing for the time?"
When we have 2 items and set stackItems to true, so they'll be under each other, so there is no visual overlap when times collide that's great but when one of the items so far away that can't be seen from the first render the whole row does not expand (changes height). Is there some way to fix this?

[2020-02-06 13:21] NuclleaR commented on #538
@Ilaiwi Hi! I could try. Could you help?

[2020-02-06 20:56] tylersuchan commented on #711
That's because you need the library 'moment-timezone'.
`import moment from 'moment-timezone'`
`moment.tz.setDefault('UTC')`

[2020-02-09 09:11] Ilaiwi commented on #711
@aslanovsergey we don't currently support timezone out of the box. If you would like to know more about this feature and how to contribute it please read the conversation in #510

[2020-02-09 09:24] Ilaiwi commented on #538
@NuclleaR this is not supported yet. You can contribute it via adding a width prop to the library code. lmk if I can assist you in any capacity

[2020-02-09 09:28] Ilaiwi commented on #714
@dverkhovsky13 this is not supported natively in the library. Although you can control the item height via the itemRenderer feature and [item prop renderer](https://github.com/namespace-ee/react-calendar-timeline#context) this is not recommended. Maybe when rowRenderer #673 feature hits production this can be controlled. For now, I am going to close this issue since We are not intending to support

[2020-02-09 09:28] #714 closed

[2020-02-09 09:39] Ilaiwi commented on #710
@DmitryMishchenko thanks for noting this out. I fixed the link. Here is the correct one
https://codesandbox.io/s/timeline-demo-programmatic-scroll-3kq2503y8p

[2020-02-09 09:39] #710 closed

[2020-02-09 09:40] Ilaiwi commented on #713
@fredrik-bjaras thanks for noting this. This happens when you do scrolling via trackpad which is very hard to control. I will try to fix it asap

[2020-02-09 09:42] Ilaiwi commented on #685
@otang @Kevmue  @2f-concept lmk know guys if you need any help implementing this. This is still not a priority for this library.

[2020-02-11 07:31] fredrik-bjaras commented on #713
@Ilaiwi That would be great! Worked around it by disabling the scroll of the underlying scroll component with `overflow-x: hidden;` in `.react-calendar-timeline .rct-scroll` which seemed to work fine, but it would be nice to be able to use the trackpad scroll in future!

[2020-02-11 17:17] jabidof opened #715 "SidebarHeader with <input /> form will re-render and loose focus"
**Describe the bug**
This is not a bug but an issue

**To Reproduce**
I'll provide a code sandbox if needed.

**Expected behavior**
Should not loose focus.

**Screenshots**
See attached video

**Library Version**
        "react-calendar-timeline": "0.26.7"

**Desktop (please complete the following information):**
Any

**Smartphone (please complete the following information):**
Any

**Additional co

[2020-02-12 01:56] thelazydogsback opened #717 "onTimeChange controlled scrolling has no effect"
I'm trying to use controlled scrolling, but it seems to have no effect.
In the code below, I can see the times changing, but the viewport remains static.

Maybe I'm misunderstand the operation.
thanks

[code]

[2020-02-12 18:43] thelazydogsback commented on #717
Ah, ok -- looks like the readme is out-of-date w/the implmentation.
So the 3rd arg (scroll fn) has been removed, and now we just deal with visStart/End times, correct?

[2020-02-12 19:04] thelazydogsback opened #718 "Sometimes no events rendered until component is resized"
It seems like this is the case: If there is no current data when the component is first rendered and then item={events} is set subsequently, then the new items will not be rendered unless the user re-sizes the component.  Changing the visibleStart/End times will still not render the items.
Note that although the items are not rendered, you can see that "stacking space" has been reserved for the it

[2020-02-13 10:28] MatthiasDh commented on #718
Same issue!

[2020-02-13 10:29] Ilaiwi commented on #718
@thelazydogsback @MatthiasDh  could you try the beta version please and check if this happens there as well?
also a code sandbox example would be appriciated

[2020-02-13 10:30] MatthiasDh commented on #718
@thelazydogsback found a fix! Don't render your calendar with an empty array if using async. Instead do a check to make sure your calendar doesn't render before you have items.

![image](https://user-images.githubusercontent.com/17167405/74425603-43353000-4e54-11ea-9c91-294f4d265de0.png)

[2020-02-13 14:21] thelazydogsback commented on #718
@Ilaiwi  Can I install the beta bits or do I need to build from source?
@MatthiasDh I'll give it a try, but (a) I don't necessarily want the whole control to disappear on the user, and (b) when I try the conditional rendering I often have ref's, etc., break.

[2020-02-13 21:33] thelazydogsback commented on #718
@Ilaiwi -- re: the beta, it looks like the last mods of src in this repo were 3 months ago -- is there another location for recent changes? thanks!

[2020-02-14 00:42] latifs opened #719 "Any Idea how to change the military time to 12 hour time"
Hey guys
I'm sure it's available as an option somewhere.
Thank you!

[2020-02-16 11:39] dimagimburg opened #720 "Scrolling animation example behaves strange"
**Describe the bug**
Trying to implement the animation for scrolling and I see example behaves in a strange way.

**To Reproduce**

open: https://codesandbox.io/s/timeline-demo-programmatic-scroll-3kq2503y8p (animation example link)

1. press next/prev button

**Expected behavior**
should go to next/prev day with animation

**Screenshots**
![Peek 2020-02-16 13-37](https://user-images.githubusercon

[2020-02-17 08:29] Ilaiwi commented on #720
@dimagimburg I am not sure whats up with scrolling! it broke out of no where. I am going to work on fixing scrolling today and I will check this example out

[2020-02-17 09:52] Ilaiwi commented on #719
@latifs via `labelFormat` in https://github.com/namespace-ee/react-calendar-timeline#dateheader
https://codesandbox.io/s/timeline-demo-sticky-header-xhsp9

[2020-02-17 09:52] #719 closed

[2020-02-17 09:59] Ilaiwi commented on #718
@thelazydogsback not `@next` try `@beta` to try out `0.27.3-beta
beta`
these is a codesanbox example with the beta that you could start from
https://codesandbox.io/s/timeline-demo-sticky-header-ylwn7

[2020-02-17 10:06] Ilaiwi commented on #717
@thelazydogsback `scrollFn` let's you change the next scroll values but not make the timeline scroll controlled.
to controll the scroll completely checkout `visiableTimeStart` and `visiableTimeEnd` with `onTimeChange` like in the following example
https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-659jb

[2020-02-17 10:06] #717 closed

[2020-02-17 10:18] Ilaiwi commented on #715
@jabidof please provide codesandbox example so I can help.

[2020-02-17 10:21] Ilaiwi commented on #707
@dandanknight I don't know how to solve this issue or the cause of it tbh but I think when this PR #695 gets merged this might be fixed

[2020-02-17 10:30] Ilaiwi commented on #712
@yegrushka I have no idea why is this happening but in the beta this doesn't happen so I would recommend using it
https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-oh9oh

[2020-02-17 10:36] Ilaiwi commented on #698
@mnob2019 I will assume that this is resolve. thanks @dkarnutsch

[2020-02-17 10:36] #698 closed

[2020-02-17 10:40] Ilaiwi commented on #703
@FridgeWalaby @danielcruser I will release this today. @danielcruser Thank you for digging into this and solving the issue

[2020-02-17 10:54] Ilaiwi commented on #537
I am releasing a bug fix for this today. I will close the issue and give a working example when the fix is released

[2020-02-17 11:11] Ilaiwi commented on #709
@napatwongchr yep this sounds good! The community would appreciate it if you could provide a codesandbox for your solution.

[2020-02-17 11:14] Ilaiwi commented on #503
@ericraq honestly I am not sure what is the issue. I've used the material-ui tooltip before and it seemed to work. Now sure how to tackle this one though.

[2020-02-17 11:17] Ilaiwi commented on #708
@gvdlangenberg the library doesn't provide this functionality by default and we are not planing to support it soon. the `rowRendere` version currently in `beta` has huge performance optimizations that you could utilize. Try it out and lmk how things go.
I am closing this for now and will open the issue if someone decided to pickup the feature request.

[2020-02-17 11:17] #708 closed

[2020-02-17 11:19] Ilaiwi commented on #688
this should be fixed in `beta` version. try it out with `@beta` and lmk if this worked for you.

[2020-02-17 11:41] Ilaiwi commented on #700
@EugeneBugor you can use the transpiled version from `react-calendar-timeline/lib`

[2020-02-17 11:41] #700 closed

[2020-02-17 11:42] Ilaiwi commented on #701
@Incerto13 you can't change the label width, you can read it and act accordingly.

[2020-02-17 11:42] #701 closed

[2020-02-17 11:57] Ilaiwi commented on #699
@VijayDinanath by default you can't override top/left position via prop renderer.  What you can do but is not recommended is to override the result of `getItemProps ` which is basically a styles object.
I will close this since we don't support this and we won't be working on it

[2020-02-17 11:57] #699 closed

[2020-02-17 12:14] Ilaiwi commented on #697
@SoftDev1987 of course! take a look at https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-659jb

[2020-02-17 12:14] #697 closed

[2020-02-17 12:36] Ilaiwi commented on #692
@mnob2019 this is because you are providing a keys object. By default the used keys are `start_time` and `end_time`

[2020-02-17 12:36] #692 closed

[2020-02-17 12:38] Ilaiwi commented on #626
@blz-ea @otang this is a duplicate of #685. We are still not planing to support this unless someone is going to contribute it.

[2020-02-17 12:38] #626 closed

[2020-02-17 13:00] Ilaiwi commented on #690
This is currently not possible and won't be worked in soon. Unless you decided to pick it up.

[2020-02-17 13:00] #684 closed

[2020-02-17 13:02] #635 closed

[2020-02-17 13:17] Ilaiwi commented on #689
please take a look at this example
https://codesandbox.io/s/timeline-demo-sticky-header-j5b3y

[2020-02-17 13:17] #689 closed

[2020-02-17 13:22] Ilaiwi commented on #682
@rmccue thank you. This will be released later today.

[2020-02-17 18:05] engmsilva commented on #247
is there an example for formatting or the latest component of that style (intervals divided into days)?

[2020-02-17 18:06] engmsilva commented on #247
is there an example for formatting or the latest component of that style? (intervals divided into days)

[2020-02-20 03:54] thelazydogsback commented on #718
Thanks, @Ilaiwi  -- looks like the 0.27.3-beta solves this particular issue.

[2020-02-20 03:55] #718 closed

[2020-02-21 05:46] janakact commented on #709
@napatwongchr Can't we implement this with a custom renders and react dnd?

[2020-02-21 16:46] andrewjmac opened #721 "Can you add an onclick event or link to a group item on the left?"
**Is your feature request related to a problem? Please describe.**
i'd like to be able to choose an item from the calendar and go to a different page for further information

**Describe the solution you'd like**
I'm not sure if this is currently possible, I haven't been able to read anything.

**Additional context**
If it is possible any guidance would be greatly appreciated!

[2020-02-24 03:42] napatwongchr commented on #709
@janakact Yes it could, you could check it out on the example on 0.27.0-beta release. But from the  example you could only drop on specific slots that you have defined. You have to modify it to make it drop on anywhere on timeline. So, that I came up with solution above.

[2020-02-25 20:41] latifs commented on #719
shukraan @Ilaiwi

[2020-02-27 12:08] jeuhen commented on #656
Hi @Ilaiwi, Thanks for all the work, I really like this component. Is there any update on this feature? I want to use it to have more control over row/item heights and, in the future, to drag and drop activities on the timeline. Do you have any idea when this will be released?

[2020-03-02 07:36] jeuhen commented on #669
Hi @perfectstrong
I currently have the same problem with stacking when the labels are larger than the items.
Do you already have a solution for this?

[2020-03-02 07:42] perfectstrong commented on #669
@jeuhen i didn't work on this issue for a long time and by far, no solution has been found yet.

[2020-03-02 12:14] Ilaiwi commented on #656
@jeuhen Hey man. I am sorry but this doen't have a release date yet

[2020-03-02 12:19] THPubs commented on #626
@otang Any luck with `intervalRenderer`?

[2020-03-04 08:19] THPubs commented on #656
I think the group custom height is not working with rowRender yet right?

[code]

[2020-03-04 09:53] mnob2019 opened #722 "The permissions"
Its not an issue, more a discussion. I need to set up permissions for some parts of the calendar. For instance some people can move items and some cannot.  Is that possible? Probably someone has done that? I can imagine that I will use a separate component for this purposes, but probably it is possible to fix permissions for one component? Than you!

[2020-03-04 11:44] markstock7 opened #723 "Set Min Height for Timeline"
Timeline calculate 'rct-outer' height by count group items.
I need to set the min-height for timelint body even there is no group items.

<img width="1306" alt="屏幕快照 2020-03-04 下午7 44 23" src="https://user-images.githubusercontent.com/9659974/75876397-98ab9e00-5e50-11ea-9335-220f8f6ac24e.png">

[2020-03-04 21:51] danielcruser commented on #721
Not sure if I'm the best person to answer this, but the docs on [groupRenderer](https://github.com/namespace-ee/react-calendar-timeline#grouprenderer) should point you in the right direction.

[2020-03-05 08:58] andrewjmac commented on #721
Hi @danielcruser, thanks for you comment, that's exactly what I did in the end haha

[2020-03-05 08:58] #721 closed

[2020-03-08 04:27] FridgeWalaby opened #725 "Publish newest version to npm"
A few bugs were fixed since November and merged to master but the package on npm is still old.

Could you publish the newest master to npm?

[2020-03-08 04:28] FridgeWalaby commented on #725
@Ilaiwi

[2020-03-08 06:44] latifs commented on #725
👍 Would like that too!

[2020-03-08 06:54] latifs opened #726 "Set a max width for hours"
**Is your feature request related to a problem? Please describe.**
I'd like the width of the `hours` to not go above a certain threshold

**Describe the solution you'd like**
I'd like to be able to set a value to a maximum width of the hours in the timeline so that the hours don't get too large

Thanks guys

[2020-03-12 13:36] zalio opened #728 "Groups cannot be empty array!"
Initially groups array is empty. It will be arranged data from backend. But when timeline component is rendered, the view of canvas is wrong according to my defaultTimeStart/end props.

I fixed this problem give an empty object to empty array of groups initially.

[2020-03-13 07:24] x1mrdonut1x commented on #718
@Ilaiwi when can we expect the beta version to be released on master?

[2020-03-13 16:43] Ilaiwi commented on #718
@x1mrdonut1x there is no official release data yet

[2020-03-16 15:04] AlithAnar commented on #713
Hi, we've got the same problem but It is blocker for us. We need to use horizontal scroll (with working trackpad) along with overscan scroll for knowing when to fetch next batch of data.

[2020-03-19 10:37] RafikiTiki opened #730 "Injecting custom class names for vertical lines spanning over time period longer than day"
**Describe the bug**
If you want to style vertical lines spanning over time period longer than day providing custom class names then produced class name string is corrupted.

**To Reproduce**
If I'll return `timeline-month` class from `verticalLineClassNamesForTime` function I'll end up with vertical line element: `<div class="rct-vltimeline-month">` instead of `<div class="rct-vl timeline-month">

[2020-03-23 09:53] SergeyLys opened #731 "Question: Is it possible to add custom className to the cell in only one row?"
Is there a way to add group id as third parameter into verticalLineClassNamesForTime? I need to add custom class to only cells in the one row like unavailable dates for item, is it possible?

[2020-03-24 17:13] victorhtc commented on #728
Panning also does not work properly when there are no groups.

[2020-03-26 18:04] benjamin-sommer opened #734 "Disable TimelineHeader click"
I have read the docs but I can't find any mention of how to disable zooming in on a subsection of the timeline when you click on a TimelineHeader.

Even though I have set the `minZoom` to a week, you can click each day's heading and it will zoom in even further.

How can I prevent this? Is this a bug?

[2020-03-26 18:13] benjamin-sommer commented on #69
`this.timeline` is undefined

[2020-03-27 08:38] #731 closed

[2020-03-27 08:39] janakact commented on #435
@ArunChockalingam, It would be great if you can share us how did you manage to do this?

I tried with onDrag event, and managing `visibleTimeStar` and `visibleTimeEnd`, but didn't work as expected.

Thanks in advance.

[2020-03-27 09:11] mnob2019 opened #735 "Question about deprecation"
Hi, everyone. I wanted to ask how to deal with the deprecation messages in the library, should I PR or I can fix it in my version of the library in the project? How to deal with this in general in the future? Could anyone share experience?:
react-dom.development.js:12466 Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-li

[2020-03-28 16:40] plutocow opened #736 "Question about columns"
Hello, I was wondering if it is possible to have extra columns?

In the documentation, I can see that you can create a groupRenderer to retrieve additional information from the group object (testing on https://codesandbox.io/s/modest-varahamihira-5iu4t) but that is still a single column.

I am looking to do something like the following:

| [ Name ] | [ Location ] |  [ Timeline ]

[2020-03-31 15:42] willemliu opened #737 "InteractJS v1.9.5+ breaks react-calendar-timeline: Cannot read property 'docEvents' of undefined"
**Describe the bug**
InteractJS v1.9.5+ breaks react-calendar-timeline.

**To Reproduce**
v1.9.7 as of the time of writing.
`npm i interactjs@latest`

Steps to reproduce the behavior:

1. Create a project with `react-calendar-timeline`
2. `npm i interactjs`
3. run your application
4. See error

**Expected behavior**
Application should run as intended

**Screenshots**
v1.9.4
![image](https://user-i

[2020-04-14 14:24] diegocasmo commented on #694
@kevinhury did you manage to figure out how to do this?

[2020-04-15 09:59] FridgeWalaby commented on #725
Bump
@Ilaiwi  @rmccue  @danielcruser @tyson-kubota @xat @joncar

[2020-04-15 16:42] yl-flyer commented on #720
There is an update about this bug

[2020-04-16 10:09] yl-flyer commented on #731
@SergeyLys why you close it?

[2020-04-16 10:13] SergeyLys commented on #731
@yl-flyer i've looked into the code and DOM and figured out that is not possible.

[2020-04-16 10:15] yl-flyer commented on #731
ah ok

[2020-04-16 22:30] diegocasmo opened #738 "Update vertical item position on 'dragmove' to match user's mouse position"
**Is your feature request related to a problem? Please describe.**
While a user is dragging an item to another group, the item's vertical position doesn't match the user's mouse position, which results in a non-ideal UX.

This behavior can be seen [in this .gif](https://user-images.githubusercontent.com/4553097/79511963-09280c00-8006-11ea-8ad0-6a8ee5c95a9b.gif), where the item vertical position "j

[2020-04-17 06:26] Ilaiwi commented on #738
@diegocasmo This is how the drag and drop system works in this library. To fix this, this would need a big refactor for the drag and drop system that we are not planing to do anytime soon

[2020-04-21 00:29] dlowkeen commented on #737
I installed `interactjs@1.9.4` and that seemed to fix my build issue. Still can't get the responsive drag n drop stuff working though :/

[2020-04-21 02:22] stahlmanDesign commented on #603
Any further ideas with this? I played with `intervalRenderer` to override styles but the date shown is not quite right. It does not change at the right time when midnight or 00:00 is at left. I can probably get this to work with more effort but it will be a hack. For example checking the style.left value to see if a day is off the screen and then removing it from the dates to render, but would tha

[2020-04-21 04:57] hkmarques opened #739 "className is not applied to top-level Timeline element"
First of all, thank you for all of your work on React Calendar Timeline! It is a fantastic piece of work and even in the unfortunate event that I'm not able to use it as it is, it will provide me and my colleagues with a solid head start!

Maybe I'm just forgetting something silly, but I've tried setting the `className` prop to no effect, despite it being documented and there being an old PR https

[2020-04-24 00:14] diegocasmo commented on #738
@Ilaiwi

Got it! I took a look at the source code and you are correct. I'll indeed require a major refactor 🙂.

I did create an example where I use a combination of `onMouseMove` /`onMouseUp`/`onMouseDown` and `onWheel` to get the mouse position and update the item's `top` CSS property accordingly. The example can be seen [here](https://codesandbox.io/s/timeline-demo-move-vertical-position-matches

[2020-04-24 00:14] #738 closed

[2020-04-24 14:32] danielcruser commented on #656
@megasus I've found a fix for `canChangeGroup` having no effect. @Ilaiwi what would be the best way to contribute to this branch?

Lines [219](https://github.com/danielcruser/react-calendar-timeline/blob/930d4b893d26abadf1b0677891da73e9dea2ced1/src/lib/items/Item.js#L219) and [238](https://github.com/danielcruser/react-calendar-timeline/blob/930d4b893d26abadf1b0677891da73e9dea2ced1/src/lib/items/I

[2020-04-24 15:12] stahlmanDesign commented on #288
I think my problem is related to this issue. I try to toggle show/hide the rightSidebar with buttons that change the `rightSidebarWidth`. Part of the timeline does not update, even with `fullUpdate: true`. I have also tried `this.forceUpdate()` for the component class that renders the Timeline whenever the width is changed.
Same behaviour in Mac Firefox and Safari. Resizing the window forces it to

[2020-04-25 03:50] stahlmanDesign commented on #737
This seems to be fixed with 1.9.10

[2020-04-25 13:48] dennis-8 opened #740 "Calendar doesn't show data when it's inside closed bootstrap Accordion"
**Describe the bug**
The calendar doesn't show the data when it's in closed bootstrap Accordion

**To Reproduce**
https://codesandbox.io/s/nifty-roentgen-rvho6?file=/src/App.js

Click on 'Show calendar!' tab. The data is not shown. Try to resize the browser and then the data appears (see screenshots).

**Expected behavior**
The data should render when calendar is inside an Accordion

**Screenshots

[2020-04-27 18:38] diegocasmo opened #742 "Allow to hide weekends in the Timeline"
**Is your feature request related to a problem? Please describe.**
Users that desire their items start/end time to exclusively be set to a weekday (Mon-Fri) don't want (mistakenly) to set it to a weekend day. An example of this would be companies that work Mon-Fri only, so "starting/finishing" a task on weekends doesn't make sense.

**Describe the solution you'd like**
An option would be to create

[2020-04-28 03:09] stahlmanDesign commented on #608
Thanks @ajayg415 , this fixed my problem too. I will watch the performance to see if it's acceptable.

[2020-04-28 03:19] stahlmanDesign commented on #288
This is a groupRenderer problem. Related to https://github.com/namespace-ee/react-calendar-timeline/issues/608 . Adding a key to the Timeline forces a re-render. Not sure how bad it is for performance, but it fixes the rendering update problem.

[2020-04-28 07:04] Ilaiwi commented on #656
@danielcruser target branch should be `develop`. And just submit a PR aginst it

[2020-04-28 18:56] rawbeans commented on #707
This bug prevents this library from being used in any application that has flex containers.

If react-calendar-timeline is nested within any div that has a parent, grandparent etc that has `display: flex` and `flex-direction: row`, this header issue will occur.

Can we please get a release with PR above?

[2020-04-29 10:00] yrambler2001 opened #744 "Timeline renders wrong until resize event is fired if container rendered in display:none, and then changed to display:block"
Timeline renders wrong until resize event is fired if container rendered in display:none and then changed to display:block

Codesandbox: https://codesandbox.io/s/timeline-bug-xoug3?file=/CustomTimeline.jsx
In this sandbox:
Initial render: div container style = display:none
Second render: (setTimeout with any time) div container style changed (using setState) to display:block, the timeline rendered

[2020-05-04 19:45] trevdor commented on #739
Wondering if what's available in the github repo and on npm have diverged, @Ilaiwi?

v0.26.7 on npm has this line in the built Timeline.js where the `className` prop should be applied:
[code]

Locally, when I `npm run build` with the master branch at v0.26.7, the same block in the built Timeline.js makes it apparent the provided `className` prop will be applied:
[code]

[2020-05-04 20:14] trevdor commented on #734
@benjamin-sommer For my use, I used a `<CustomHeader/>` and simply gave it no click handlers. Here's a demo:

https://codesandbox.io/s/remove-zoom-on-header-click-react-calendar-timeline-4y64p

[2020-05-04 20:20] benjamin-sommer commented on #734
@trevdor Thanks for your reply!

That demo works exactly how I wanted. Much appreciated!

[2020-05-04 20:20] #734 closed

[2020-05-05 07:55] davidbejarcaceres commented on #694
I had the same problem, just select all the items and that´s it, like:
`<TImeline selected={itemsToRender.map(item => item.id)} .../>`

Whit this solution you´ll be able to move/resize without first click them, nevertheless, you´ll probably need to change styles.

[2020-05-05 15:19] diegocasmo commented on #694
I ended up using [this solution](https://github.com/namespace-ee/react-calendar-timeline/issues/290#issuecomment-391254489) as it's better aligned with what I wanted to do 🙂

[2020-05-05 16:51] hkmarques commented on #739
Thanks @trevdor.
I did see the PR with the label, but seeing the comment about it being released "later today" on Feb 17th I thought it had been already released, but then reverted back for some reason.
Looking forward to the release, thanks for the reply.

[2020-05-07 11:54] jeuhen opened #745 "Question: Move canvas while dragging items"
Hi all,

Is it possible to move the canvas along while dragging the item 'out of view'?
So for example:
I have only 2 weeks in my view and I want to drag an items to 4 weeks in the future. To do this, I have to place the item at the end of the canvas, scroll the canvas and do a second move.
It would be great if the canvas scrolls along when I am dragging an item and hovering over the left or right

[2020-05-08 17:26] webdeveloper001 opened #746 "Super expression must either be null or a function on heroku"
**Describe the bug**
I have been using react-calendar-timeline from the last year but I got this issue recently(from last week actually).
Until that time, it was working well. But for now, I have this issue when I try to import Components from this library.
import Timeline, {
  TimelineHeaders,
  SidebarHeader,
  DateHeader,
  CustomMarker
} from "react-calendar-timeline";

**Library Version**
0.2

[2020-05-13 17:06] x1mrdonut1x opened #747 "Detect groupId on mouseOver"
Is it possible to detect the groupId and datetime of where the mouse is on the canvas?

I would like to render an event that follows the mouse around the canvas until it is clicked.

[2020-05-14 15:23] JordanPawlett commented on #713
Would love to see this get fixed for the controlled timeline usecase.

[2020-05-14 21:57] linzhaoken opened #748 "react-create-context version 0.2.3 - legal issue"
Hi

My name is Lin Zhao. My team are using react-calendar-timeline in current project, but we are facing a problem with react-create-context which is dependencies of react-calendar-timeline.

The react-create-context version 0.2.3 has below content in their license file which blocks our product release because it can not pass our legal team review.

Below content is removed in the react-create-con

[2020-05-15 19:47] diegocasmo commented on #725
👍 to this. I'm willing to offer my help if needed as well 🙂

[2020-05-15 20:42] diegocasmo commented on #688
I had the same issue and rendering a blank blank div wasn't an option for me. Instead, I fire a `resize` event which forces the timeline to re-compute the dates (I know, this is hacky...):

[code]

[2020-05-18 08:35] bmtdh commented on #746
I am also having this error suddenly when hosting on Azure. Did you find a solution to this?

[2020-05-18 08:38] mnob2019 commented on #748
linzhaoken , hi what was the problem and did you manage with the update?

[2020-05-18 09:29] webdeveloper001 commented on #746
no I didn't
It's working well on dev mode but after built, it's not with this issue.
very odd

[2020-05-18 19:24] linzhaoken commented on #748
Hi @mnob2019 I have created a pr for this issue, still waiting for merge. https://github.com/namespace-ee/react-calendar-timeline/pull/749
The problem is the create-react-context v0.2.3 contains not suitable text in license file, it is removed in v0.3.0.

[2020-05-19 05:43] parikshit07 commented on #746
The same issue is happening with AWS deployment also, it's working fine on local but erroring out in production build. If anyone has any solution please let us know.

Versions:

"react-calendar-timeline": "^0.26.7"
"interactjs": "^1.9.13"

[2020-05-19 07:49] bmtdh commented on #746
It is a problem with interact JS since version 1.9.11, I had to downgrade interactjs to 1.9.10 and then it worked. The same issue has been reported on interactjs, so hopefully that will get solved and then we can use the latest version again.

For now downgrade interactjs to 1.9.10

[2020-05-20 21:14] diegocasmo opened #750 "Horizontal scroll "jumps" backwards/forwards when items are stacked on Firefox"
**Describe the bug**
The timeline horizontally "jumps" to the opposite direction the user is scrolling in Firefox (v 76.0.1). Here's a `.gif` of the described behavior:
![horizontal-scroll](https://user-images.githubusercontent.com/4553097/82497991-d796da80-9ab4-11ea-8934-77e32fc4206a.gif)

**To Reproduce**

I was able to reproduce this issue using the [Item Moving and Resizing](https://q3rkx1478q

[2020-05-21 04:56] parikshit07 commented on #746
Thanks this worked.

[2020-05-21 09:07] idannn98 opened #751 "Unable to use hooks inside ItemRenderer"
I implemented a simple customized react functional component for itemRenderer. Within this component I would like to define a state with the React.useState. When I do I get an error saying: "Invalid hook call. Hooks can only be called inside of the body of a function component..."
Important to note that I don't encounter this issue when using hooks within my customized groupRenderer.

I dug into t

[2020-05-28 14:03] takemyoxygen opened #752 "Export default config"
**Is your feature request related to a problem? Please describe.**
I need to how dates are displayed in the timeline header. With the font size we use in our app, default headers format produces strings which don't fit into allowed space.
This behaviour is customizable via `labelFormat` of the `DateHeader` component. I'd like to customize only part of it, for example how header width is mapped to

[2020-05-28 17:31] magarbikram commented on #728
Got similar issue, when clearing out groups and adding again, here is the like to demo issue
https://lnzgm.csb.app/

[2020-06-03 06:28] takemyoxygen commented on #752
@diegocasmo thanks for the reply!

In my case, default responsive formatting (when date format is chosen based on header unit and available space) works pretty much OK except for one minor detail - I'd like to change [formatting scale](https://github.com/namespace-ee/react-calendar-timeline#default-format) from `50px - 100px - 150px` to a bigger, for example `80px - 200px - 300px`.

So, indeed, I

[2020-06-08 10:53] JordanPawlett opened #754 "Latest versions of interactjs break production builds"
https://github.com/namespace-ee/react-calendar-timeline/blob/9182d7eb9a1cef7027dae26c4ceb485ed7cf4b07/package.json#L102

interactjs is listed as a peerDependency `"interactjs": "^1.3.4"`. Latest builds of interactjs seem to break minified/obscured production builds.

I suggest removing the caret `^` from the dependency to lock it to `1.3.4`.

[2020-06-09 12:41] avalenti89 opened #755 "onRender callback function"
**Is your feature request related to a problem? Please describe.**
I'm using the component with many items and sometime it takes a while before render.

**Describe the solution you'd like**
I have a spinner component that I want to use, but I didn't found any callback function that I can use to toggle it.
I tried to use ref element but it remount/update everytime I change the state of my spinner g

[2020-06-10 06:22] davidbejarcaceres commented on #745
Hi,

It´s not implemented on the library, fortunately I managed to get a simple solution, not very elegant and feels laggy but it works. using the function [https://www.npmjs.com/package/react-calendar-timeline/v/0.27.3-beta#moveresizevalidatoraction-itemid-time-resizeedge](moveResizeValidator).
Here you can check if item moving is close to the borders of the Timeline, and if it happends I move th

[2020-06-11 12:18] FridgeWalaby commented on #725
Newest version was pushed to npm. Thanks a lot!

[2020-06-11 12:18] #725 closed

[2020-06-11 14:04] plutocow commented on #736
@Ilaiwi Sorry for bumping an old thread but is this possible? Something like this where you get multiple columns (not the 2nd column divided into two):
![https://i.imgur.com/GNPqjCG.png](https://i.imgur.com/GNPqjCG.png)

[2020-06-11 14:05] Ilaiwi commented on #736
@plutocow I am not sure I follow

[2020-06-12 13:00] plutocow commented on #736
I made a crappy drawing in paint:
![example](https://i.imgur.com/3F63BlA.png)

Notice how there is two columns before the actual timeline?
I'm wondering if there is a way to create this and populate the second column using an item's properties.

[2020-06-12 13:01] Brighter209 opened #757 "Controlled scroll through months"
**Describe the bug**

Hi thank you for the timeline component, I have an issue when I using the Controlled scroll with months, I started my timeline with the current month (June) it has 30 days, if i go to the previous month (May) which has 31 days, my timeline doesn't show May 1st. How can I update the timeline when I scroll through months ? Thank you

**To Reproduce**
https://codesandbox.io/s/bu

[2020-06-15 13:46] lestgabo opened #758 "Wanted to share an easy Weekly, Monthly, and Yearly header example"
**Is your feature request related to a problem? Please describe.**
Just a codebox example, it would be great if this was part of the examples listed.

**Describe the solution you'd like**
Actual week month and year buttons that change the timeline header.

**Describe alternatives you've considered**
using refs or hidden refs to autoclick on the header if I changed the `unit` value of the DataHeade

[2020-06-16 00:38] lestgabo commented on #757
its the code not the bug
[code]
Needs to look at the month's number of days instead of showing number days from current month to all months.

Here's my hook code, to convert to component, just make setVisible functions into setState({})s
[code]

[2020-06-16 06:13] owen-stellar commented on #717
So in that example, the timeline above isn't scrolling along with the data. Is that expected, because it seems wrong. I would expect the data to always scroll with the timeline information.

[2020-06-16 06:39] Ilaiwi commented on #717
@owen-stellar we have a known bug in controlled timeline. We are working on it

[2020-06-16 14:30] Brighter209 commented on #757
Thank you for your help

[2020-06-16 14:30] #757 closed

[2020-06-18 05:03] lestgabo commented on #243
@loaibassam may I ask how you figured this out?

[2020-06-18 10:53] loaibassam commented on #243
I don't think i have!

[2020-06-23 10:24] THPubs commented on #688
For me also it worked only after running `window.dispatchEvent(new Event('resize'));`. @Ilaiwi any idea what's happening?

[2020-06-23 11:07] Ilaiwi commented on #688
@THPubs please try the beta

[2020-06-23 13:18] gruntygap commented on #713
It seems that horizontal scrolling has been 'broken' (not following the rules set by `onTimeChange`) since release `0.26.5`

[2020-06-23 14:10] dsgipe opened #759 "Restrict scroll window"
**Is your feature request related to a problem? Please describe.**
Currently, to restrict the viewing window of the timeline, I have to take control of visibleTimeStart, visibleTimeEnd and onTimeChange. This results in re-rendering the component at every drag, as those variables now must be maintained in state. That causes an unnecessary performance hit, as well as issues with bug [713.](https://g

[2020-06-23 15:30] THPubs commented on #688
@Ilaiwi Already using the latest beta `0.27.3-beta`. Still facing the issue.

[2020-06-25 15:05] diegocasmo commented on #742
@Ilaiwi do you have any suggestions on how to go about this one? Thanks for you work here 🙂!

[2020-07-01 10:28] workingerror opened #760 "Bars of same group are vertically overlapping in case dates are date objects"
**Describe the bug**
When Bars of the same groups are rendered but the dates (start/end) were not numbers but date objects (eg. new Date()), those bars/rows are vertically overlapping each other.

**To Reproduce**

https://codesandbox.io/s/timeline-demo-linked-timelines-tqr9g?file=/CustomTimeline.jsx

**Expected behavior**
The Bars should be rendered exactly the same as if those dates were numbers

[2020-07-02 14:28] palaumarc opened #761 "onItemDeselect is not triggered when clicking on an already selected item"
**Describe the bug**
onItemDeselect does not trigger

**To Reproduce**
Check this [codesandbox](https://codesandbox.io/s/timeline-demo-sticky-header-4v9vz?file=/CustomTimeline.jsx) to see an example of the bug.

Steps:
1. Select an item.
2. The selected item is marked as selected (yellow background) and its ID is rendered above the Timeline component
3. Click again on the selected item.

**Current

[2020-07-02 14:32] palaumarc commented on #761
I have just noticed that `onItemDeselect` triggers when clicking outside the event, so maybe this is more a feature request than a bug 🙏

[2020-07-08 22:40] LaserFlash opened #762 "DST not accounted for on item drag"
**Describe the bug**

Moving items does not correctly account for day light savings offset.
- it uses the UTC offset of todays date
- **Should be**: UTC offset of the changed date

**To Reproduce**
Steps to reproduce the behaviour:

1. Have a timeline with a `dragSnap={24 * 60 * 60 * 1000} // 1 day`
2. Be currently not affected by DST, _e.g timezone is GMT+12_
3. Have an item that is affected by D

[2020-07-13 02:56] THPubs commented on #656
I think the zooming option is not working when you use the row render right?

[2020-07-13 23:35] isaacjoh opened #763 "Zoom disabled when setting visibleTimeStart and visibleTimeEnd"
**Describe the bug**
When setting visibleTimeStart and visibleTimeEnd, I am unable to zoom in and out of the timeline. If I use defaultTimeStart and defaultTimeEnd, I am able to zoom but the corresponding start and end times aren't reflected (only the initial value is and my start and end times can change on rerender).

**To Reproduce**
You can use one of the provided examples and set visibleTimeS

[2020-07-14 15:34] diegocasmo commented on #763
Adjusting the zoom level ultimately changes the `visibleTimeStart` and` visibleTimeEnd` values ([see here](https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/Timeline.js#L544)), which means that you'll need to control these value changes by yourself using the `onTimeChange` function as [recommended here](https://github.com/namespace-ee/react-calendar-timeline#ontimechangev

[2020-07-14 20:14] isaacjoh commented on #763
thanks @diegocasmo! so i looked into the source code some more and tried changing `onTimeChange` but i think i'm not fully understanding how much "customization" i need to provide. if i set `visibleTimeStart` and `visibleTimeEnd` on the timeline component, it keep defaulting to that even though i scroll and the `onTimeChange` function i provide is triggered. also when i zoom in or out i get `NaN`

[2020-07-14 21:41] diegocasmo commented on #475
I'm having the same issue. The secondary header (which uses a unit of "week") isn't correctly updated when moment's first day of the week is updated according to locale.

As suggested, I tried changing the items/groups when this event happens, but it didn't work. Manually resizing the timeline (by changing the browser's window size) does make it correctly re-render.

What other possible solutions

[2020-07-17 16:15] berdyshev opened #765 "Scroll doesn't update after async data updates"
**Describe the bug**
When timeline data (groups/items) is updated from initial empty state for the same visible time, the scroll is not being recalculated.

**To Reproduce**

https://codesandbox.io/s/timeline-demo-sticky-header-vf4r1?
_in `componentDidMount` you can toggle between regular setting of the data
```this.generateData()```
to the simulation of the loading data via API

[code]

**Expecte

[2020-07-20 15:30] diegocasmo commented on #765
Do any of the solutions listed [here](https://github.com/namespace-ee/react-calendar-timeline/issues/688) help?

[2020-07-22 15:23] janakact commented on #688
Facing the same issue. This works as a temporary fix. `window.dispatchEvent(new Event('resize'));`

[2020-07-23 11:23] denis-n commented on #744
I render the timeline in a modal window (react-bootstrap) and it also is rendered invalid until a resize.

[2020-07-27 20:33] stahlmanDesign commented on #763
I find that when you set the visibleTimeStart/End yourself you need to force the timeline to re-render. But you don't want to do this during scrolling. When I manually set new times in functions other than onTimeChange I generate a new key for the timeline so it re-renders. I'd rather the timeline manage itself and I'm not sure of best practices

[2020-07-30 07:28] Zhanadil1509 opened #766 "how i can editing styles on every day"
![image](https://user-images.githubusercontent.com/29205903/88893109-ae8a8700-d267-11ea-8757-01ed53c70b11.png)

how i can editing styles on every day as fo this, when it change:
![image](https://user-images.githubusercontent.com/29205903/88893249-e4c80680-d267-11ea-903e-8e15e118ab66.png)

by default i can change style 'rct-item', but are there no more correct solutions?

[2020-08-01 17:32] stahlmanDesign commented on #74
The default css shows weekend colours as a light yellow`rgba(250, 246, 225, 0.5)`. You can override those or any other days with CSS:
[code]

[2020-08-03 06:25] #766 closed

[2020-08-03 06:25] Zhanadil1509 commented on #766
i'm finded in itemRenderer

[2020-08-03 11:40] Zhanadil1509 opened #768 "Don't showing all items in calendar"
i'm get array "allArr" (length = 116), but items don't add all array length on calendar, last two row don't filling
https://codesandbox.io/s/silly-wiles-9h8dt?file=/src/App.js

How to fix?

[2020-08-06 04:57] Zhanadil1509 commented on #768
i finded my bug. If id groupRenderer and id itemRenderer different, don't loading all items

[2020-08-06 04:57] #768 closed

[2020-08-07 07:45] adrianschneider94 commented on #751
I have the same issue, however @idannn98's solution doesn't work for me....

[2020-08-11 21:17] aigyptios opened #769 "Context Menu unintentionally disabled by default"
In Item.js, the context menu handler has an if statement checking for whether there is a handler passed in as a prop:
https://github.com/namespace-ee/react-calendar-timeline/blob/9182d7eb9a1cef7027dae26c4ceb485ed7cf4b07/src/lib/items/Item.js#L499-L505

However, the condition is superfluous because a handler is always passed in to the `<Items>` component, starting in Timeline.js:
https://github.com

[2020-08-12 08:09] Ilaiwi commented on #769
@aigyptios I have refactored this in beta I think. Could you check the `develop` branch?

[2020-08-13 08:55] dimagimburg commented on #759
I face this issue too. I even tried to provide only `defaultVisibleTime`'s but still if I use `onTimeChange` (because I need to perform some other callback to change state when times are changing), I immediately feel performance issues.

This doesn't happen if i leave `onTimeChange` only with `updateScrollCanvas(visibleTimeStart, visibleTimeEnd)` (which I guess is the default implementation).

For

[2020-08-13 13:31] Ruzen1 commented on #685
I want this too....

[2020-08-15 08:30] shenglong209 opened #770 "Open tooltip on canvasClick/doubleClick"
I don't know how to get current canvas ref to display the tooltip on canvasClick/doubleClick event. Because I want to open the tooltip instead Modal/Dialog like this:
![image](https://user-images.githubusercontent.com/12762395/90308781-a63f7680-df0c-11ea-8eb2-41bdb2b54db1.png)

[2020-08-16 17:08] djejaquino commented on #744
I had the same issue.

Workaround is not render `Timeline` component until you have the an array with items.

[2020-08-17 08:50] jeuhen commented on #745
Hi @davidbejarcaceres,

Thanks for your response. I agree with you that it would be nice to have this in the library, but this already helped me a lot, thanks!

Johan

[2020-08-17 09:28] dimagimburg commented on #759
I solved it meanwhile by storing data in a reference rather than in state, and create a polling interval of 200ms to check whether the value in the ref changed or not, if changed -> update the state. this increased performance dramatically and works great for me.

[2020-08-18 03:51] Ruzen1 opened #771 "Fix a timeline into desired time and not 24 hours."
Hi,
  Am trying to make the timeline be shown from 10 am to 22 pm.
Eventually, I did manage to do it using visibleTimeStart/End .
The problem is the timeline, below the dates arent being fixed. Its scrollable like left/right scroll.
I want that to be fixed with respect to the time.
I would be really happy if anyone could help with this.
Thank you

[2020-08-18 03:57] Ruzen1 commented on #709
@napatwongchr Bro, Can you please share a working example?

[2020-08-18 14:57] manu-de-verdun commented on #746
thanks !

[2020-08-19 21:39] DavidVeloso opened #772 "Is it possible to remove weekend highlights?"
Hey There!

I'm trying to remove the weekend yellow highlights. But I couldn't find any issue/question related to it? Is it possible?

![Screen Shot 2020-08-19 at 18 36 44](https://user-images.githubusercontent.com/2433234/90692132-f428e700-e24a-11ea-82ec-6b5adf8d7e2b.png)

[2020-08-24 07:07] genlee025 opened #773 "Timeline needs to be repainted before rendering new items"
Adding a new item to the state object in the timeline class does not automatically re-render the timeline and the user is forced to repaint the webpage for the new item to display.

To demonstrate this issue I used the onCanvasClick method to add a new item to the state object at the time and group the user clicked. The item does not show up immediately I had to either refresh the page or repaint

[2020-08-25 11:02] mahmoud0011 commented on #176
How can i limit the journey of a day to 17 h each day of calendar.
thanks

[2020-08-25 19:18] diegocasmo commented on #773
@genlee025

Use an immutable operation (like `concat`) when adding elements to the items array as follows:

[code]

[2020-08-25 19:20] diegocasmo commented on #772
@DavidVeloso

Yeah, should you be able to change their styling via the `.rct-day-6` `.rct-day-0` CSS classes.

[2020-08-26 01:01] genlee025 commented on #773
Thank you! that solved the problem :)

[2020-08-26 01:01] #773 closed

[2020-08-27 02:59] julian21olarte commented on #418
@aaltepet Hello, how are you? I know its a long time, but, did you solve this? I have a similar issue, thank you

[2020-08-27 08:31] karanbht507 commented on #744
0.27.3-beta version solved the problem for me. Try this out

[2020-08-27 08:31] karanbht507 commented on #718
0.27.3-beta version worked for me. Try this out

[2020-08-27 09:33] iaua commented on #601
I changed the lineHeight prop, This worked for me

[2020-08-27 12:26] aaltepet commented on #418
@julian21olarte Hello!  I solved this by working around the problem. I change the moment's default timezone before react-calendar-timeline is initialized.  Whenever the user changes the timezone, I reload the page (which reinitializes moment's default timezone).

See: https://momentjs.com/timezone/docs/#/using-timezones/default-timezone/

[2020-08-28 16:44] mahmoud0011 commented on #771
same probleme here searching for solution pleaz

[2020-08-31 21:34] aigyptios commented on #769
Hi @Ilaiwi, I'm not seeing the changes you're referring to on the `develop` branch. Could you send me a link? Thank you!

[2020-09-02 23:39] genlee025 commented on #725
I have done an npm update but the package has the same bug? Is there another command I should be doing? @FridgeWalaby @Ilaiwi

[2020-09-03 05:14] vajnorcan opened #774 "Question: Is it possible for DateHeader to display only days starting the week ?"
Hi,

based on the sample I can see that one can control the 'zoom',  to weekly, monthly, yearly etc. But what I'd like to know is if it's possible to get the date header to display not every single day, but only the starting days of each week of the month.

Example

|------------------------------ 2020 ------------------------------------------------------------ |
----- AUG ------------| ---------

[2020-09-04 07:21] MatthiasDh opened #775 "Localization files"
Is there an option to change the language of the component? I want the date names in a different language.

Thanks in advance!

[2020-09-08 01:23] genlee025 commented on #703
I am getting the same issue in the getSumScroll function in the dom-helpers file. Can we add the same check that is applied to getSumOffset to getSumScroll:
**Error shown in console:**
![Screen Shot 2020-09-08 at 11 17 34 am](https://user-images.githubusercontent.com/42591023/92423709-62ffbd00-f1c5-11ea-971a-d62971ccd68f.png)
**Error Traceback:**
![Screen Shot 2020-09-08 at 11 17 55 am](https://us

[2020-09-08 16:28] DavidVeloso commented on #772
Great! Thank you @diegocasmo.

I'm using material-ui and I just added on my component:

`const useStyles = makeStyles((theme) =>
    createStyles({
        '@global .rct-day-0, .rct-day-6': {
            background: 'unset !important',
        },
    }),
);`

[2020-09-08 16:28] #772 closed

[2020-09-09 15:08] NicolasBonet opened #779 "Change zoom levels with an external function"
**Is your feature request related to a problem? Please describe.**
Zoom level cannot be modify without using scroll, therefore I cannot control it outside the timeline element.

**Describe the solution you'd like**
If possible I would like to include a way to increase/decrease zoom of the Timeline by using an external function, that way devs could create external buttons or mechanism to change the

[2020-09-11 05:59] Zhanadil1509 commented on #182
I'm added onItemSelect
onItemSelect - need for project.
not worked onContextMenuClick, when i'm click (mousedown) to item and draggable, after click (mouseup) works onItemSelect. How to fix, that worked (onItemSelect) just on click, don't work on draggable and mouseup???

https://codesandbox.io/s/timeline-demo-working-example-forked-b7s03?file=/CustomTimeline.jsx

[2020-09-11 06:04] Zhanadil1509 opened #780 "onContextMenuClick don't work, when draggable onItemSelect"
I'm added onItemSelect
onItemSelect - need for project.
not worked onContextMenuClick, when i'm click (mousedown) to item and draggable, after click (mouseup) works onItemSelect. How to fix, that worked (onItemSelect) just on click, don't work on draggable and mouseup???

https://codesandbox.io/s/timeline-demo-working-example-forked-b7s03?file=/CustomTimeline.jsx

[2020-09-14 06:43] menasiephrem commented on #763
@stahlmanDesign I am facing the same issue. I agree the timeline should mange this but in the meanwhile can you tell me how you are re-rendering the timeline? i need to change the defaultTimeStart/End programmatically and the timeline to jump to those dates. Thanks.

[2020-09-14 15:26] stahlmanDesign commented on #763
Use visibleTimeStart/End instead of defaultTimeStart/End and add a unique key to Timeline each time those values change.

pseudo code:

<Timeline {...{
  key: Math.random(),
  visibleTimeStart: momentObj,
  visibleTimeEnd: momentObj
 }} />

[2020-09-14 21:04] djejaquino commented on #746
@bmtdh  Thank you so much for this. Would you kindly tell how did you figure this out?

[2020-09-17 12:49] juliocesaroliveira commented on #730
+1

[2020-09-17 12:50] emanuelfs commented on #730
+1

[2020-09-17 13:41] RafikiTiki commented on #730
@juliocesaroliveira @emanuelfs before #729 gets merged you could use this dirt hack to fix the problem: https://github.com/namespace-ee/react-calendar-timeline/pull/729#issuecomment-600620473

[2020-09-20 05:41] xeonfusion opened #781 "item update from child component with react hooks"
Examples for react-calendar-timeline feature updating items via state updates with React classes. Could you provide an example for using the component with React hooks, to update state after item information has been changed in another child functional component?

In my code, on double clicking an item, a modal dialog updates item information into a new object array and then updates parent state o

[2020-10-02 14:17] xeonfusion commented on #781
The issue seems to be the render call after using 'onItemDoubleClick' API. Insert following code in any project code example to see the effect:

`handleItemDClicked = (itemId, e, time) => {
    const { items } = this.state;

    this.setState({
      items: items.map(item =>
        item.id === itemId
          ? Object.assign({}, item, {
            title: "clicked",
            })
          : it

[2020-10-02 14:22] xeonfusion commented on #781
The issue seems to be the render call after using 'onItemDoubleClick' API. Insert following code in any project code example to see the effect:

[code]
The latest title gets reflected only after another item is clicked or another render is completed. This seems to be a bug in the API?

[2020-10-08 03:35] lichbui commented on #781
Same problem. Any ideal?

[2020-10-09 09:35] Aleksis92 commented on #537
Still the same issue.
If you look at your example https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-659jb?file=/CustomTimeline.jsx - you set visibleTime properties to 2 days range, but we can see the third day, and header units doesn't move with canvas when we scroll it by mouse or zooming.
Do you have any solution to show on timeline exactly provided visible time with corre

[2020-10-09 10:41] davidbejarcaceres opened #783 "Autoscroll timeline when dragging an item when close to left/right borders"
**Is your feature request related to a problem? Please describe.**
I´m trying to move/drag items from left to right, but it is limited by the visible time, between defaultTimeStart and defaultTimeEnd. But I´m trying to drag/move those items out of the boundaries when the moving/dragging item is closed to the left/right borders.

**Describe the solution you'd like**

- Start moving/dragging item cl

[2020-10-09 16:47] graham-pyett commented on #781
I am also having an issue with the title not updating until a second re-render.

[code]

The cell will be titled "some title" and have a red background initially, and then when the interval runs the first time, it will update the background color to green, but the title won't change until the _next_ time the interval runs

[2020-10-12 06:11] xeonfusion commented on #781
Not sure if this maybe due to the shouldComponentUpdate(nextProps, nextState) call in https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/items/Item.js#L93 and https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/items/Item.js#L101? It may not return true in the next vs previous props comparison for an item props with deepObjectCompare?

[2020-10-12 08:16] xeonfusion commented on #781
This bug has still not been resolved, but a possible fix as described here: https://github.com/namespace-ee/react-calendar-timeline/issues/519, is to use a custom itemRenderer to use {item.title} instead of {itemContext.title}

[2020-10-14 16:05] njpatten opened #784 "Default headers to year/month instead of month/year"
Sorry if I missed this, but is it possible default the two headers to year/month instead of month/year? Thanks!

[2020-10-28 05:28] mastercbhw opened #785 "Strange up and down when scrolling"
**Describe the bug**
Using Tree Groups and visibleTimeStart and visibleTimeEnd at the same time, the time bar scrolls misaligned when using the mac touchpad to scroll horizontally with two fingers. There is no such problem when using the left mouse button to click and drag.

Sorry, my English is limited, hope to get your feedback

**To Reproduce**

For example in this [sandobox](https://codesandbo

[2020-10-31 10:37] zaidshakil commented on #155
I am getting errors in the sandbox. can you please fix that or share the code with us :)

[2020-11-02 06:54] yehudit-ab commented on #711
@Ilaiwi  We also need support change default timezone, is it going to be?

[2020-11-02 20:31] jayshepherd commented on #734
Anyone know of a way to suppress the click based on a condition? For example, if they ctrl/cmd click the header, I want to do something different and not zoom, otherwise zoom as normal.

[2020-11-08 15:38] rwaidaAlmehanni opened #788 "TimeLine direction in Arabic language"
**Describe the bug**
When change the local to Arabic it work fine but the "timeline direction" still from ltr instead of rtl

Steps to reproduce the behavior:

1.set the "visibleTimeStart" to "moment.utc(new Date()).local('ar').startOf('month').valueOf()"
2. set the "visibleTimeEnd" to "moment.utc(new Date()).local('ar').startOf('month').add(1,'month').valueOf()"
4. See error direction will not ch

[2020-11-11 11:49] mnob2019 opened #789 "Cannot read property 'getBoundingClientRect' of undefined Jset"
Hi, probably someone had this problem, I have an issue with using Jest and shallow rendering. It returns me the following error:
May be someone bumped into this issue somehow  it seems that basically this4.container is undefined....for some reasons ...

  TypeError: Cannot read property 'getBoundingClientRect' of undefined

      189 |
      190 |       let timeline;

          |                ^

[2020-11-17 12:18] universezzz commented on #184
@mcMickJuice Thank you so much. You've saved me a lot of time.

[2020-11-23 23:13] Zanoro9000 opened #790 "Visible Time Start/End calling onTimeChange on mount when page is intially loaded"
**Describe the bug**
I've spent a decent amount of time tracking this down and it may not be a bug, I just may need more clarification. What I understand to be happening is I am manually setting visibleTimeStart/End on my timeline.

- On mount of the timeline, it calls this.resize()
- resize sets the scrollLeft to a value outside its .scrollLeftMax and is essentially ignored (because the width of

[2020-11-25 08:21] YorbenV commented on #735
Did you find a way to deal with the warning? I'm having the same concern about this.

[2020-11-29 15:18] maormagori commented on #788
I'm thinking about implementing this feature on a rtl site. Have you found a solution for this?

[2020-11-30 14:08] dsgipe commented on #769
@Ilaiwi is this still being maintained? If not, can I be added as a maintainer so we can keep updating various pieces of it.

[2020-12-01 09:54] dotundefined opened #791 "Question: Custom visibleTimeStart and visibleTimeEnd on click/zoom"
This is more of a question than a bug report.

Is it possible to have custom visibleTimeStart and visibleTimeEnd when a user clicks on a specific time from a DateHeader?

I am using visibleTimeStart and visibleTimeEnd when the Timeline is first time rendered, so initially I am showing 12 hours and that makes the DateHeader easily read, but for example when I zoom out to see a whole month, and then

[2020-12-02 15:30] marekves commented on #658
I also have this issue. I can scroll using the right scrollbar if i press on it. but other than that I cant scroll normally by swiping over the screen.
Any solutions yet?
Also iOS 13.1

[2020-12-02 15:41] lars-ewers commented on #658
Hi, no solution so far.
In my case scrolling on mac works as expected. But still touch scrolling on i0S only works on the left sidebar.

[2020-12-03 10:10] Nuhasami opened #792 "Custom Item Rendering: item height to fit its content - and add multiple divs and elements inside item"
I want to render a customized item with multiple elements inside, example: title, description, tag, etc. I have tried experimenting with [The Custom Item Rendering Example](https://codesandbox.io/s/k0wn41y0o7?file=/CustomTimeline.jsx) but it totally messed up the item.

I was hoping there is a way to avoid the fixed height completely, where the height will just fit the content of the item (I hope

[2020-12-03 12:45] oduwankenobi commented on #775
import 'moment/locale/ru';
moment.locale('ru');

Works for me. Just change 'ru' on your option. For more options look at moment.js docs.

[2020-12-04 14:18] GuiPretto opened #793 "Custom Renderer for Vertical Lines"
**Is your feature request related to a problem? Please describe.**
I want to highlight the interval where the TodayMarker is on every n time.
I know that right now we can add classes at creation time, but I would like to change classes (re-render) when, for example, the TodayMarker leaves 10h interval and enters 11h interval.

**Describe the solution you'd like**
Something just like itemRenderer,

[2020-12-07 13:47] rosanzheng opened #794 "Using verticalLineClassNamesForTime property 'join' cannot be read in Columns.js"
Hey there,
first of all thank you so much for providing this great library!
The bug / the problem I am encountering relates to the #364 feature.
**Describe the bug**
I have issues using the verticalLineClassNamesForTime property as it is shown in the documentation and in the demo example.
For data, I used the code provided in https://github.com/namespace-ee/react-calendar-timeline/blob/master/demo

[2020-12-07 17:36] Adrien-P commented on #707
I had a similar issue and wrapping the Timeline component inside a div with `overflow: scroll` solved the issue in **my use case**.
I don't know if it will solve all the issues related to wrapping the Timeline in a flex container.
Try it as a potential workaround.
[Sandbox code here](https://codesandbox.io/s/timeline-demo-sticky-header-forked-9i3x4?file=/CustomTimeline.jsx) (just added one div fro

[2020-12-07 18:51] stahlmanDesign commented on #601
I wanted to take this further and change the `top` property too, but it is calculated from the top of the timeline, not the row. This would require calculating stacked items in the same row, plus an offset from top of timeline. Daunting.
<img width="1160" alt="Capture d’écran, le 2020-12-07 à 13 48 34" src="https://user-images.githubusercontent.com/972804/101392013-2c544400-3893-11eb-9e5b-bb0894c6

[2020-12-09 10:48] rosanzheng commented on #793
Hey,
There is a prop called verticalLineClassNamesForTime - Check the documentation for usage.
But I must say, I tried using it and I am having quite some struggles with it as an error occurs, preventing the code from compiling.
I already submitted an issue #794 - You can take a look at the code here: https://codesandbox.io/s/timeline-demo-error-verticallineclassnamesfortime-of8u9

If you detect a

[2020-12-09 12:05] GuiPretto commented on #794
Hello!! First of all, thanks for replying to my issue, I really appreciate it.

Now, about your problem, I did some tests and found a solution for your problem (at least what i believe it is).
You just need to add another return for the case it isn't a holiday.

[code]

I hope this solves your problem. :D

[2020-12-09 12:11] Sahadeb1 commented on #742
@Ilaiwi , did you get any answer on hiding the weekends. Thanks in advance. @mcMickJuice @acemac @diegocasmo @mariusandra @xmityaz @ngaller @trevdor @tobiasbueschel @sjchmiela @gaston-niglia @xat

[2020-12-09 12:20] GuiPretto commented on #793
Hi!! Thanks for replying here :).
First of all, I solved my problem, and I'm gonna tell later how I did it, but let me explain better what my problem was first.

I knew about verticalLineClassNamesForTime, and I used it, but the problem is that it only worked on the build of the timeline, and not after every update. So the classes I wanted were added, but not changed after specific time. So, I nee

[2020-12-09 12:20] #793 closed

[2020-12-09 12:41] rosanzheng commented on #794
Hey @GuiPretto ,
thank you so much for helping me out with this one - I appreciate it just as much!
So regarding your solution - that indeed solved the compilation problem for me, but it still does not apply the CSS. Do you have any suggestions?
I declared a CSS-class in the file style.css (I updated the linked codesandbox URL) but nothing is rendered.
I am a little bit lost since I am quite new t

[2020-12-09 14:01] GuiPretto commented on #794
Hi again @rosanzheng,
I just saw your updated codesandbox project and I noticed that the class is rendered on where it should be, the problem is actually on the css file, for values like 'red', 'green', 'yellow' and more you don't need to type the " around it, just the word itself. Like the example below:

[code]

It's the same logic for every other value when we are working with a css file.
The o

[2020-12-09 14:07] rosanzheng commented on #794
Hey there,
Thank you so much for taking the time, I think I just got pretty mixed up with inline-styling and CSS-class styling syntax.
Anyway, I realized that I maybe just didn't look at my code properly, so thank you so much for taking the effort and the time in helping me out - it really means a lot!
Hope you'll have a great day and stay healthy!

[2020-12-09 14:07] #794 closed

[2020-12-14 10:48] CamilleSylla opened #796 "Render Week number"
Hello,

First, I love using this package thanks a lot.

I just want to know if there is a way to render week number ?

[2020-12-15 17:40] aleberguer commented on #751
@idannn98's solution worked for me.

[2020-12-19 03:29] ehatlem commented on #658
I probably had the same issue, vertical scroll (touch) on left sidebar normal, on timeline it gave heavy flickering both in chrome and safari on iOS 14.2. Found a temp-fix, but with this, the sidebar scroll doesn't work.
Added this to my CSS:
.react-calendar-timeline .rct-scroll {
  overflow-x: hidden !important;
}

[2020-12-20 19:44] rwaidaAlmehanni commented on #428
When add the dir=rtl or using the moment the style of the time line has an issue and things not working fine

[2020-12-24 13:56] ambr89 commented on #652
@daqi do you have found a solution for this problem?

[2020-12-29 14:59] ambr89 commented on #652
Hi @Ilaiwi

I've noticed that this bug appears **after refresh page**!
The step is this:

1. Enter in react page with TimeLine
2. click somewhere in canvas --> **work right**
2. change something in js, so node rebuild react page
3. click somewhere in canvas --> **work bad** date selected isn't the right date!

I have not tested it after build release to check if it works right or not.

I hope to b

[2020-12-30 00:28] manishmanjul opened #797 "Uncaught Error: A valid React element (or null) must be returned #396"
This is an old issue where the accepted solution was to upgrade the react to version 16 or greater. I have 16.8 of react and react-dom. However the issue still persists.

The error should be more descriptive.  I tried upgrading all packages to latest. Removed all peer dependency issues but the error still persist.

[2020-12-30 08:06] fpaupier commented on #246
@uffou - Did you manage to get this DnD behavior? If so, would you be so kind as to share a reproducible example of it?

[2020-12-30 09:21] dimafili2412 opened #798 "ISO Week"
Hi,

Trying to find a way to render a header with ISO week units instead of week (which is one of the defaults)
If anyone got the time to help  - I'm sure there is a very simple solution.

Thanks.

[2021-01-03 19:09] FridgeWalaby commented on #775
[code]
This worked for me.

[2021-01-08 09:59] rosanzheng commented on #532
@SuperWallaby - Have you found a solution to your problem? I am still facing the same problem here.

[2021-01-12 10:29] amureki commented on #297
Greetings, fellows.

In one of the codebases I realized, that we have an `interactjs` first-level dependency, and we are never using it in our code, that made me wonder why do we need it. Only after trying to build the bundle, I've got an error

[code]

So, react-calendar-timeline seems to be **not** working without `interactjs`. To me, that is a clear sign of it being a normal dependency, not a p

[2021-01-14 09:17] FilaCZ opened #799 "Adding events in calendar"
Hi,

not sure if I missed the topic. Is there any way to add new event directly from calendar?

Regards,

Filip

[2021-01-14 16:20] IndProgo commented on #519
It's happening because title for itemContext and getItemProps is cached inside didUpdate. So itemContext title cache is always one step behind
https://github.com/namespace-ee/react-calendar-timeline/blob/9182d7eb9a1cef7027dae26c4ceb485ed7cf4b07/src/lib/items/Item.js#L414-L415

[2021-01-21 22:18] Vidhi91-git opened #800 "Adding our own data in timeline"
Is there anyone who can help me get my own data on timeline from my API backend using axios or fetch.
I can use all features of timeline but unable to upload my own data on timeline.
TIA

[2021-01-26 20:02] stahlmanDesign opened #801 "TodayMarker causes problems with multiple synced timelines"
**Describe the bug**
When I have multiple timelines on the page, synchronized by using controlled timelines (visibleTimeStart/End, onTimeChange), the inclusion of a TodayMarker on each timeline causes snapping back to "today" when scrolling.

If I only have one timeline, the TodayMarker does not cause a problem.

TodayMarker has an `interval` prop, but setting the value does not change or delay th

[2021-01-29 00:30] stahlmanDesign opened #802 "Latest release is 0.26.7 but npm shows 0.27.0"
Latest release is 0.26.7 but npm shows 0.27.0 available. I can't find what's different.

0.27.0-beta seems to work fine, except for a few changes in itemRenderer (as described)
0.27.1-beta shows some css changes (as described)

Activity has slowed with no activity in 8 months and latest release over a year ago. Many PRs open. Not sure what I can do to help, not sure of roadmap or which release is

[2021-01-29 03:50] stahlmanDesign commented on #790
I don't know if [my issue](https://github.com/namespace-ee/react-calendar-timeline/issues/801) is related or not, but I also have "jitter" or "snapping" that I believe is caused by scroll events calling onTimeChange internally or unpredictably with a controlled timeline (visibleTimeStart/End). I also had trouble building a simplified example to reproduce.

[2021-01-31 15:53] stahlmanDesign commented on #802
I see activity [here](https://github.com/namespace-ee/react-calendar-timeline/issues/657) so that's great, I'll look at the beta.

[2021-01-31 15:53] #802 closed

[2021-02-01 23:34] agustingabiola commented on #550
@Ilaiwi Hello and thanks for your library. I was trying to limit the time and encounter the same issue with the scrolling of the rows not syncing with the header. Thank you in advance.

[2021-02-03 12:48] Kevin-Subrebost commented on #715
This is maybe because your render prop is re-created on each rerender.
Try to use [useCallback](https://fr.reactjs.org/docs/hooks-reference.html#usecallback) to instanciate your input

[2021-02-03 12:53] Kevin-Subrebost opened #803 "Items disappear after filtering Groups"
I'm trying to add a filter on groups.
But when I filter it up to having no group displayed, when I clear the filter groups come back but not their Items.

Here is my code sample:
[code]

You can reproduce the problem on this sandbox: [https://som6k.csb.app/](https://som6k.csb.app/)

**Library Version**

- react-calendar-timeline: 0.27.0
- react: 17.0.1
- typescript: 4.1.3

[2021-02-08 11:53] AdityaACE commented on #184
@mcMickJuice You're the best.

[2021-02-08 21:26] dsgipe commented on #769
@Ilaiwi ping

[2021-02-09 14:22] fpaupier commented on #533
I experience the same issue on both macOS and Windows 10 when zooming using the `Ctrl` + `Scroll` combination.

Note that using `Meta`+ `Scroll` works fine as a workaround. (`Windows` + `Scroll` on a windows or `Cmd` + `Scroll` on a mac)

[2021-02-18 21:06] loicboset commented on #247
Is anyone still using that calendar with a lot of data? Performance is quite bad on my side when there are too much elements on the calendar. Has anyone found good solutions?

[2021-02-21 12:53] ugniusr commented on #735
Wondering if anyone has found a solution to this?

[2021-02-25 14:22] smarttouchtechnology opened #804 "Items can be resized so small, they can be resized again"
**Describe the bug**
In the resize and move demo ( and in my test app) you can resize an item to the point where you can't expand it again. It essentially gets stuck in a state where the start_time is > the end time.

**To Reproduce**

navigate to the move and resize demo. Shrink an item to the smallest possible size. Notice you can't resize it again.

**Expected behavior**
You should be able to s

[2021-02-25 15:09] StoikovOleh opened #805 "horizontal scroll isue"
**Describe the bug**
horizontal scroll is ignoring visibleTimeStart and visibleTimeEnd, you can scroll timeline even without zoom

**To Reproduce**
in version 26.0.4 everything is ok, problem starting from 26.0.4

you can check how it should be here: https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-forked-jdw0l
and how it is now here: http://codesandbox.io/s/timeline-demo-c

[2021-03-01 18:03] maormagori commented on #688
This bug still occurs .` window.dispatchEvent(new Event('resize'));` still does the job,

[2021-03-02 06:03] loaibassam opened #806 "Is dependencies possible?"
Are we able to connect items with other items? like shown on the screenshot below:

![image](https://user-images.githubusercontent.com/4785390/109605392-89802e80-7b3e-11eb-8cc0-700c9d2ec036.png)

[2021-03-02 21:43] redouan-da opened #807 "problem use react-calendar-timeline on angular project ?"
Hi,
I hope if anyone can provide  me some help, or a demo example for using this in a angular project ?
I’m working on a small project of mine where I’m looking to use a time line calendar , just like this one "react-calendar-timeline", I didn’t find any example for implement this in angular.

[2021-03-09 15:53] Malfit commented on #804
You should use props minResizeWidth and set it to 0, 1, etc. Default is 20

[2021-03-19 13:17] gprpaes commented on #806
Hi, any updates on this? I also would like to know if its possible to connect items with others.

Thanks in advance,
Guilherme.

[2021-03-24 20:37] GNarek opened #809 "Horizontal scroll issue with TimelineHeaders"
**Describe the bug**
When we are adding the `visibleTimeStart` and `visibleTimeEnd` attributes the header stops scrolling.
It doesn't work even if you add the `onTimeChange` with the function provided in examples:

**To Reproduce**
You can check it on your own example
[Controlled Scroll](https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples#controlled-scroll)
[codesandbox Co

[2021-03-27 12:51] menasiephrem commented on #806
I don't think this is natively supported in the library. But we used another [library](https://github.com/Eliav2/react-xarrows) with  this one to show some kinda of dependency. I don't know if this helps.

<img width="1327" alt="Screen Shot 2021-03-27 at 3 47 32 PM" src="https://user-images.githubusercontent.com/19403083/112721285-1cc93b80-8f14-11eb-9794-c503fcad2aff.png">

[2021-03-27 22:50] gprpaes commented on #806
Thanks, I'll check it out!

[2021-03-29 03:01] cyclops26 commented on #809
@GNarek I'm seeing the same issue. But I think it is expected - albeit missing some sort of error handling.

If I add `onTimeChange` to the timeline, the headers to move; however, I have significant jitter and make `visibleTimeStart` and `visibleTimeEnd` actually shift to different times then one I pass in.

The headers are based upon the visibleTimeStart and visibleTimeEnd versus the rows/items w

[2021-03-29 07:52] fpaupier commented on #590
Hi @SaadRH,
Did you find a way to somehow export the timeline as an excel sheet?

[2021-03-29 11:23] xeleoss commented on #805
Same problem.

[2021-03-29 14:20] GNarek commented on #809
@cyclops26 I don't think that the `onTimeChange` is required.

They can consider `visibleTimeStart` and `visibleTimeEnd` as `initialVisibleTimeStart` and  `initialVisibleTimeEnd`
and then calculate it by `timeSteps` and get the range instead of certain dates.

Yes using the `setState` in the scroll event will cause performance issues

[2021-03-29 14:51] cyclops26 commented on #809
@GNarek I agree - it would make much more sense if `visibleTimeStart`/`visibleTimeEnd` where initials - though I do wonder if they are not initials to allow people the ability to change the time window via an external call - though this could be resolved by implementing a way for an external process to call `updateScrollCanvas` or the equivalent hook into the `Timeline` component.

[2021-03-29 18:28] cyclops26 commented on #809
@GNarek I'm not sure how I missed it before, but there is `defaultTimeStart` and `defaultTimeEnd` that are initials - you can use that as your starting point and then handle the scrolling normally - that fixed my issue.

[2021-04-11 15:13] loicboset commented on #720
Hi! is there an update about the scrolling behavior?

[2021-04-11 23:43] backnotprop commented on #751
@idannn98's solution worked as well, but we don't need to edit the module's source code...

<img width="881" alt="Screen Shot 2021-04-11 at 7 42 35 PM" src="https://user-images.githubusercontent.com/7244317/114325436-2b137c00-9afe-11eb-8be6-cc6d7deca968.png">

[2021-04-12 06:51] Ilaiwi commented on #720
@loicboset unfortunately this bug still exist

[2021-04-14 13:29] betacore commented on #803
The problem seems to be a switch in datetime.
You can additional log the time onCanvasClick, then click on a column on the row, filter all elements and remove the filter again and click again into the same column. The datetime changes which means the items could be there but not in visible area anymore.

But this is still a bug and it is really weird and painful if someone is using this with filte

[2021-04-14 13:42] betacore commented on #803
I tried it with version 0.27.14-gamma and it seems to work with filters

[2021-04-14 16:08] loicboset commented on #720
@Ilaiwi thanks for replying! Are you a maintainer of this repo?

[2021-04-18 13:13] loicboset opened #811 "Jitter when scrolling horizontally with trackpad"
First of all, thanks a lot for this great timeline!

**Describe the bug**
When scrolling left and right with a trackpad on a timeline with a bit of data, the headers do not follow correctly and the calendar looks shaky.

**To Reproduce**
Scroll with trackpad - see video

https://user-images.githubusercontent.com/24396771/115146619-8cd06a80-a057-11eb-8f80-dde39c7dcf1b.mov

**Expected behavior**
Whe

[2021-04-29 11:08] Ilaiwi commented on #720
@loicboset yes I am a maintainer

[2021-04-30 15:54] #807 closed

[2021-05-03 16:37] ahmadkam72 commented on #775
Its not working for fa-IR locale.
Im getting date format like this => (day name in fa-IR locale), j3 jمه j2021
can anyone help?
Thank you.

[2021-05-06 15:21] RobertDS07 opened #812 "Can i do a imperative change in zoom of calendar?"

[2021-05-07 18:18] #812 closed

[2021-05-10 20:15] magarbikram commented on #685
@Ilaiwi I am also looking for a way to have this feature, I am willing to contribute if I get some guideline on this project

[2021-05-10 22:08] Ilaiwi commented on #685
@magarbikram sure thing.

[2021-05-11 13:53] magarbikram commented on #685
@Ilaiwi  thanks, how can we proceed?, my email address is magar.bik@gmail.com. Lets connect there

[2021-05-11 16:59] RobertDS07 opened #817 "question: has any way to increase or decrease the width of specific columns?"
@loaibassam this is controlled by the width of the screen so either increase the width or zoom in more

_Originally posted by @Ilaiwi in https://github.com/namespace-ee/react-calendar-timeline/issues/504#issuecomment-470092494_

[2021-05-13 19:51] magarbikram commented on #685
So I have started working on it and based on my initial evaluation, it doesn't seems possible, any guidance would be great.

- I am able to remove the closed hours column
- But unable to distribute remaining space to open hours column

Any idea from you @Ilaiwi  @stochris

[2021-05-14 08:05] Ilaiwi commented on #685
@magarbikram will make sure to get back to this on Monday since I am on Holiday right now. Thanks for investigating

[2021-05-17 19:15] Ilaiwi commented on #685
@magarbikram if you scroll right will other columns (days) render or it's all empty?
The main issue here we are relaying on days being 24hours and all the calculations are made with this assumption hence all the `startOf(`day`)` `endOf(`day`)` all over the project. The only way I am thinking this might be possible is to first do a refactor to abstract `moment` calculations in a util module somethi

[2021-05-17 19:20] Ilaiwi commented on #817
@RobertDS07 specific columns no it's not possible with current implementation since the width unit in pixels is proportional to the visible start time and visible end time.

[2021-05-17 19:28] Ilaiwi commented on #791
@dotundefined I would recommend experimenting with the `beta` version. It has more support for formating using [custom headers](https://github.com/namespace-ee/react-calendar-timeline/tree/develop#label-format)

[2021-05-17 19:31] Ilaiwi commented on #811
@loicboset this is do to the windowing we do in the library. We use an internal buffer that we use. You can maybe add a prop to control the buffer and increase it. If it didn't work I would recommend using `@beta` since it's performance is much better than the master version (it has breaking changes though)

[2021-05-17 19:33] Ilaiwi commented on #803
@betacore you can use the `@beta` version. It's resolved there. Not sure what's the issue in the master version

[2021-05-18 01:54] magarbikram commented on #685
It will render on the right as well, but there is a gap caused by closed hours. The main issue I am having is not having a way to fill those gaps (may be with increased width per hour), but since we map each moment with exact position (positionX), it's hard to imagine how to do it technically/logically

[2021-05-20 03:24] loicboset commented on #811
@Ilaiwi thank you for coming back to me! I'll try that and let you know

[2021-05-24 15:34] edubskiy opened #818 "Is there a way to provide dependencies between event blocks?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-25 00:43] bumpusfrancus commented on #320
#819
This pr replaces moment with js vanilla Date. It also allows moment to be added back in if custom renderers use it.

[2021-05-25 16:01] magarbikram commented on #685
@Ilaiwi I like the idea of abstracting the calculation in separate provider, but I am still not clear on how can we distribute the space from a gap by closed hours to open hours. For eg: in 3day view
-------------day 1 ------------------------ day 2------------------------  day 3----------------
7am--------------------- 7pm--7am-----------------7pm-- 7am-------------------------7pm

the gap betwee

[2021-05-26 15:50] 1BrandonCummings commented on #746
This worked for me as well.

Interactjs 1.9.11 worked in dev, would not work in prod throwing "Super expression must either be null or a function" without any indication that it was Interactjs, only reason I knew that is because of this thread.

I downgraded Interactjs to 1.9.10 and now everything works fine

[2021-05-29 11:52] obadakhalili commented on #720
@dimagimburg I know it's late, but here's the [solution](https://codesandbox.io/s/timeline-demo-programmatic-scroll-solved-g4bik?file=/CustomTimeline.jsx). The problem was that you were trying to re-update the `visibleTimeStart` and `visibleTimeEnd` values on `onTimeChange` event, which was redundant. I'm not sure how react-spring exactly works, but whenever the values are updated, it re-renders w

[2021-05-31 12:44] Ilaiwi commented on #685
@magarbikram not sure I follow

[2021-06-01 09:45] maxcww opened #821 "React 17 doesn't work with dependency create-react-context@0.3.0"
Hi all, I am trying to include this beautiful library into my project, but I get the following error:

Does anyone have a solution for this, or is it safe to force the install?

[2021-06-01 14:20] Vigneshwar05 commented on #267
@x1mrdonut1x  thank you so much for the best example ever. :)

[2021-06-03 17:16] magarbikram commented on #685
@Ilaiwi, what I was saying is all the calculation is based on calculateXPositionForTime function which linearly distribute time in a canvas width, the problem I am having is how to distribute the gap that would be created by the closed hours.

In iterateTimes function, I added a logic to exclude columns which are not open, and this creates a gap in timeline
[code]
![image](https://user-images.gith

[2021-06-08 17:40] gino8080 commented on #147
not the best and clean solution, but this works

[code]

[2021-06-08 17:40] gino8080 commented on #165
to avoid a fork and manual editing I resolved with this dirty hack https://github.com/namespace-ee/react-calendar-timeline/issues/147#issuecomment-856964081

[2021-06-11 04:10] nguyenmi opened #825 "I want to function move group but I don't see a tutorial document"
![calendarTimeline](https://user-images.githubusercontent.com/23302933/121629291-0f4c3800-caa5-11eb-84a2-eb78a45d7427.PNG)
I want to move the item member in members
Thanks.

[2021-07-09 10:43] bwka1988 commented on #806
@menasiephrem thanks for your comment. I'm new at react. Can you write a short example how you can implement it? I have both libraries imported but I don't know how to combine both. Would appreciate an answer. Thanks!

[2021-07-13 07:42] Jetsxd16 commented on #751
I found a solution. I made a class based wrapper (HOC) for the item renderer, in the HOC I manage the hook, in my case a useState, but using the constructor and pass the information to the children (the itemRenderer). Here is a snippet of my code.

In the Timeline:

![SolutionPart1](https://user-images.githubusercontent.com/68814606/125410747-212b3e80-e3b5-11eb-9bfd-ea3109a71c97.png)

The HOC:

![

[2021-07-13 08:26] Jetsxd16 commented on #718
I have the same problem, try the beta version, but it didn't work, with the beta the calendar didn't show up. Someone had the same problem?

This is with the beta version :

![Untitled](https://user-images.githubusercontent.com/68814606/125417826-fef38d11-b4da-40d6-829e-30d3f7cc20e8.png)

And with the version 0.27.0:

![Untitle2d](https://user-images.githubusercontent.com/68814606/125418296-a2f584

[2021-07-19 17:06] lars-ewers commented on #713
Any update on this?

I guess at least in my case the issue with the trackpad would be fixed if I could manipulate the "3x wide scrolling canvas". If set to the boundaries defined in onChangeTime function, scrolling should stop on trackpad scroll as well...

Is there any way to set the width of the scrolling canvas?

[2021-08-06 03:26] davidtung383 commented on #821
It seems that the project would run React version 16 because of the limitation of "create-react-context"

[2021-08-09 03:00] tikakwork commented on #821
Is it possible to remove "create-react-context" in this beautiful library for supporting react version 17 ?

[2021-08-09 06:01] maxcww commented on #821
@tikakwork I have just installed the library with --legace-peer-deps. It works even thought create-react-context wants version 16. React itself also tells that 16 to 17 doesnt break if I remember correctly.

[2021-08-09 06:01] #821 closed

[2021-08-09 06:03] davidtung383 commented on #821
@maxcww does it means the react library of timeline used is 16 instead of 17?

[2021-08-09 06:24] maxcww commented on #821
@davidtung383 If you look at the package.json file of this library, it says version "react": "^16.2.0", so I think it does use 16 yes.

[2021-08-09 06:36] davidtung383 commented on #821
@maxcww then this timeline library cannot enjoy the version upgrade of react now😥

[2021-08-09 07:02] maxcww commented on #821
@davidtung383 That does not really matter as according to React https://reactjs.org/blog/2020/08/10/react-v17-rc.html there are no new features ;)

[2021-08-09 07:34] davidtung383 commented on #821
sounds good~
however, still hope timeline library can support react 17 or later versions since there maybe many updates in the future.

[2021-08-09 08:04] maxcww commented on #821
@davidtung383 I dont know whether the creator of this library is still updating it, as the last release was in november 2019...

[2021-08-10 03:57] davidtung383 commented on #821
@maxcww Would you think re-open this issue can let creators know there is potential problem on timeline library on React version upgrade?

[2021-08-17 09:31] xcaogit commented on #746
This works for me, thanks so much!

[2021-08-23 17:02] carolinavreis opened #831 "Hover pop up"
![popup](https://user-images.githubusercontent.com/71522035/130487510-54c3faeb-4468-4765-abe5-53f532d8de23.png)
how can i make a pop like this on hover (desktop) and onClick (mobile)?

[2021-08-30 03:55] shuqingw commented on #511
question still exists in example [https://codesandbox.io/s/timeline-demo-controlled-visible-time-no-scroll-659jb](url)

[2021-09-16 07:47] vandeace opened #832 "What is the fucntion to reset selected item?"
i need to pass fucntion to reset selected item to item render can u help me please?

[2021-09-16 09:03] #832 closed

[2021-09-20 15:32] AmazonessQueen commented on #800
Just bring your data and push it into a JSON array with the properties the timeline asks:
For the group, they are:
id, title and bgcolor

For the items, they are:
id, group (here you put the id of your group), title, start and end.

[2021-09-20 15:51] x1mrdonut1x commented on #747
@Ilaiwi any ideas? I can easily get the current hovered date using `<CursorMarker />`, but I would also like to know which groupId I'm currently hovering over.

[2021-09-30 13:09] bitshadow commented on #475
Couldn't find better solution for this. So I decided to force render the view for time being.
[code]
[code]

[2021-10-06 09:51] horizon-plaza opened #835 "seconds view on the timeline is missing"
**Describe the bug**
Seconds view on the timeline is not showing even after setting the minZoom={60000}

**To Reproduce**

Click through to the second view on below sandbox link. Can only can view minute view and not beyond

https://codesandbox.io/s/timeline-demo-sticky-header-forked-w87q4

**Expected behavior**
Clicking through minutes view should show seconds view

[2021-10-06 09:52] horizon-plaza commented on #835
PR for this issue https://github.com/namespace-ee/react-calendar-timeline/pull/836

[2021-10-11 01:46] goldenjayr opened #837 "Custom Markers on the SideBar Content"
**Is your feature request related to a problem? Please describe.**
Is there a way to put markers on the sidebar Content?? Thank you.

[2021-10-13 11:14] atheck opened #838 "onTimeChange called before onItemDrag"
**Describe the bug**

When dragging an item, `onTimeChange` is called just before `onItemDrag`. This happens only randomly.

In my case this unnecessarily causes reloading of data. When this happens, the moved item gets "recreated" and jumps back to the start position before dragging.

**To Reproduce**

[code]

Sometimes this will print:

[code]

**Expected behavior**

`onTimeChange` should not be

[2021-10-14 11:18] mconstable opened #839 "Drag and resize tasks without having to select them first"
I would find it more natural to drag and resize tasks without having to select them first.

Is this currently possible?

[2021-11-02 09:50] Ilaiwi commented on #839
@mconstable this is not possible due to limitations in our dnd library

[2021-11-02 09:50] #839 closed

[2021-11-08 10:28] Tobi98 opened #840 "Question: Future of react-calendar-timeline"
Hi

What is the plan with this library?
Will there be releases in the future?