[2018-04-17 18:26] mcMickJuice opened #277 "Remove preventDefault calls from certain click handlers on Item"
preventDefault is called on the following item actions:

Item actions
- onMouseDown and onTouchStart - the reason for this is, I believe, we need to accommodate selecting, dragging etc
- onContextMenu - preventDefault is called only if we have passed in an onItemContextMenu handler.  This makes sense to me and we detail it in the README
- onDoubleClick - preventDefault is called regardless of if w

[2018-04-17 18:51] mcMickJuice commented on #277
Done in v0.15.11

[2018-04-17 18:51] #277 closed

[2018-04-17 20:18] mcMickJuice commented on #277
Looks like my issue is related to mouseDown being cancelled, no doubleClick.  preventDefault on mousedown prevents blur from being called on the activeElement. *sigh*

I'm keeping this closed, but its not fixed.  The way Item interaction is handled could possibly be refactored and that could fix this but I'm just going to handle this issue in my app code.

[2018-04-18 06:52] amakhrov opened #279 "Clicking on header ignores minZoom property"
I configured the timeline with minZoom set to 7 days (in my use case it doesn't make sense to see the data in more details):
[code]
It works well when I try to zoom using a touchbar.
However, when I click on a particular date in the header, it jumps to the day view showing individual hours within that day - ignoring the minZoom setting.

My expectation is that minZoom should be respected when clic

[2018-04-18 13:49] mcMickJuice opened #280 "Take minZoom into account when changing timeRange by clicking on header"
https://github.com/namespace-ee/react-calendar-timeline/issues/279

[2018-04-19 06:42] Ilaiwi commented on #191
Hi, any updates on this? I could help implementing this too.

[2018-04-19 22:43] mcMickJuice commented on #191
I haven't done any work towards this. Any help you could provide would be awesome

[2018-04-20 03:30] amakhrov commented on #279
@mcMickJuice Thanks, I didn't realize I can use timeSteps for that.

[2018-04-20 09:52] pencilcheck commented on #273
Hm, I have moved away from this model so it might be irrelevant to me in the short term. If anyone else found this bug feel free to create the template. Thanks.

[2018-04-21 05:08] amakhrov opened #281 "Shift+Scroll doesn't scroll the timeline canvas horizontally on Mac"
Reproducible on the demo: https://namespace-ee.github.io/react-calendar-timeline-docs/#/main

- I have an external mouse. When I hold Shift and scroll the wheel, the Timeline doesn't scroll, simply nothing happens.
- However, when I use the touchpad, two-fingers swipe up/down while holding Shift DOES scroll the timeline horizontally.

[2018-04-22 02:12] pencilcheck commented on #247
It would be very nice to see the progress of this improvement in scrolling speed. also loading speed.

I have a usage where sometimes I want to click and expand and add a lot of groups (avg 500+ groups) into the calendar at a time, and the loading speed is very bad, it takes a long time and froze the entire page for 30s+ before the calendar renders with those added groups.

And the scroll speed is

[2018-04-22 07:11] pencilcheck commented on #247
Just made a pull request that pushes the performance a bit to be more on the steady side when there are a lot of items when scrolling. I hope it helps.

[2018-04-22 16:12] jabidof commented on #247
Some details from my side.
I managed to get "acceptable" performances by tinkering the Timeline the following:
- use of recompose:
`	withState('timeView', 'setTimeView', {
		timeStart: Math.round(moment().startOf('month').valueOf() / 1000),
		timeEnd: Math.round(moment().endOf('month').valueOf() / 1000)
	}),
	withState('deltaTimeView', 'setDeltaTimeview', Math.round((moment().endOf('month').valueO

[2018-04-22 17:41] jabidof commented on #247
I thought of using the https://stanko.github.io/react-window-decorators/
to filter the line that do not need rendering because not in the viewport.

[2018-04-22 17:44] mcMickJuice opened #284 "Don't render itemContent if the width of the item is less than a given width"
Per https://github.com/namespace-ee/react-calendar-timeline/issues/247.

When you have a timeline view with a large number of items that are very small, there is a major drop in performance.  When items are so small, you can't view the item content anyways so DOM elements shouldn't be created for this.

This can be configurable via a prop, but with a default value.

[2018-04-22 21:32] mcMickJuice commented on #247
@jabidof @pencilcheck check out latest version of beta (0.16.0.beta-2 specifically).  It has https://github.com/namespace-ee/react-calendar-timeline/pull/285 merged in when item contents are not rendering if the item is less than a certain width.

Comparison:

latest (0.15.11)

https://qlj6qvjrnw.codesandbox.io/

beta (0.16.0.beta-2)

https://rwxm498z4o.codesandbox.io/

Scrolling is far superior b

[2018-04-22 21:49] #281 closed

[2018-04-22 22:04] mcMickJuice commented on #281
released in v0.15.12.

Thanks @amakhrov !

[2018-04-22 22:09] #276 closed

[2018-04-22 22:31] mcMickJuice commented on #275
It appears that mousewheel speed differs by browser:

https://stackoverflow.com/questions/5527601/normalizing-mousewheel-speed-across-browsers

The onWheel handler in Timeline.js uses scroll jacking to intercept these events and pan the canvas or window accordingly.  Will need to figure out a way to normalize these wheel events or rely on default scroll behavior.

[2018-04-23 01:55] pencilcheck commented on #247
Cool, sure let me test it out.

[2018-04-23 03:11] mcMickJuice commented on #247
Thanks for getting back to me:

* what specific version of the library are you using? Can you explicitly install react-calendar-timeline@0.16.0-beta.2?
* how many items total are being rendered on the timeline (i.e. `document.querySelectorAll('.rct-item').length`)
* are the items on the timeline super close together [like so](https://imgur.com/a/DNQlyv9)?

I'll look at the header render.  If you e

[2018-04-23 16:54] p-glynn commented on #134
Using custom-react-scripts worked great for me when i was running into this same issue using webpack 2+. Thanks so much!!

[2018-04-24 17:29] b5imply opened #287 "Unselect Item after some operation when clicked"
Is there in any way to disable the selection on an item?

Here is what I need:
I click on a timeline-item. The item have a onClick function attached to it. The onClick function renders a modal. I do my stuff in the modal and finishes. When the modal is gone, the item is unselected and I can click on a different item, or the same to fire the onClick again.

Here is what I got:
When I click on a ite

[2018-04-25 05:53] vasdee commented on #287
I think you could achieve this by manually controlling the selected prop and not have the timeline do it for you. Adding the current itemId to the selected array then removing it on the modal close event

[2018-04-25 09:40] Darkdragon14 commented on #159
@vasdee Thanks, you understood the problem, but for the moment, I can not try. Normally, I return on this project soon so I will tell you if your solution is correct 😃

[2018-04-25 13:48] Bezzanin opened #288 "How to manually call fullUpdate ?"
I want to update styles of the timeline whenever the user selects the item.

Particulary, I want to change lineHeight props on 'onItemSelect' event.

At this point I am able to change the lineHeight, but to see the result the user should scroll the timeline to call fullUpdate event.

So can I call fullUpdate event inside the onItemSelect function?

[2018-04-25 21:13] pencilcheck commented on #247
* @mcMickJuice I was using the latest stable 0.15.10 with some of the optimization I did in the pull request I made.

* The slowdown happens after I expand and fetch a lot of items to be rendered and here are the numbers: `document.querySelectorAll('.rct-item').length = 617`

* It renders almost one per day, and each one takes up a day block and no overlaps, so technically they are all close toget

[2018-04-25 21:17] mcMickJuice commented on #247
For these performance discussions, can you please make sure you're on react-calendar-timeline@0.16.0-beta.2 ?  That version has the most update to date performance optimizations that I hope to release soon.  There are some visual bugs on that branch though so it's not yet ready to be released.

[2018-04-25 21:54] pencilcheck commented on #247
Yes, when I replied 3 days ago I followed what you said and tried 0.16.0-beta.2 but it doesn't make any improvements, still slow and a lot of visual are not working because the props are different.

[2018-04-26 07:59] Ilaiwi opened #289 "Rework itemRenderer prop"
Hi,

I am working on a schedule to manage employee shifts. The library till now is working really well (Thank you for the effort). But the main issues I am having is that we don't have access to render all of the items differently. So my code to manage Items and how they should look in different scenarios was split into two parts: First part is a custom `Item` component which handles the rendering

[2018-04-26 11:09] mcMickJuice commented on #287
@b5imply does @vasdee 's tip help you out?

[2018-04-26 11:12] mcMickJuice commented on #288
`fullUpdate` is a setting to tell the timeline that on every scroll, update all items.  It's not an event.

Have you tried calling [`forceUpdate`](https://reactjs.org/docs/react-component.html#forceupdate) in the component that is managing this Timeline component?  That should force a render call of your component and thereby re-rerendering the timeline component.

Off of the top of my head, I'm n

[2018-04-26 12:00] Ilaiwi commented on #289
@mcMickJuice Thank you! I will start with this very soon under prop name `fullItemRenderer` so maybe we don't push this as a breaking change for now?

[2018-04-26 12:40] mcMickJuice commented on #289
No, I'd prefer we just replace itemRenderer and include instructions for migrating from the previous version.

[2018-04-27 09:18] b5imply commented on #287
I've tested this out, and it worked. I had to define selected as an empty array, have the same eventHandler method on "onItemClick" and "onItemSelect" in order to make this work. It is a hack to an existing solution tho.

Including solution:
https://codesandbox.io/s/7y0w1wmwrq

[2018-04-27 13:15] Bezzanin commented on #288
Thank you for a response. I have tried the forceUpdate before submitting the issue and it does not help.

To be more specific I am trying to the change the lineHeight props of the timeline:

            <Timeline groups={this.state.groups}
              items={this.state.items}
              itemRenderer={this.itemRenderer}
              onItemClick={this.onItemClick}
              onItemSelect={t

[2018-04-29 02:15] tuancaraballo opened #290 "Move item without having to select it first"
Hi everyone,

I was wondering if there is currently a way to move an item without having to select it first?

Thank you in advance!

[2018-04-29 06:47] Ilaiwi opened #291 "inline ref callbacks"
Hi,

I noticed some inline ref callbacks to get references to the DOM element in the library codebase, which is causing a small performance hit. [Please refer to the react documentation about this](https://reactjs.org/docs/refs-and-the-dom.html#caveats-with-callback-refs). I thought maybe I should mention so if anyone has time can go over the project and fix it.

[2018-04-29 15:36] mcMickJuice commented on #291
Thanks for noting this.

At this point I don't want to do any changes regarding refs unless it can be proved that these inline refs are a performance bottleneck.  The main performance bottlenecks in this library are massive repaints (when there are a ton of items in the timeline) and repeatedly calling setState/renders when the user is interacting with the timeline (usually during scroll)

[2018-04-29 15:36] #291 closed

[2018-04-30 08:49] Etienne-Larrouy opened #292 "Item size minimum is 15min"
Hello,

I wanted to display an item shorter than 15min but i'm figuring out it's not possible. I thought it was my custom calendar that was doing the problem. But i have the same behaviour with the very minimum example. I just changed the first item duration to 5min:

[code]

So, I want to display a 5 minutes item but it's 15min long.

![image](https://user-images.githubusercontent.com/9501482/394

[2018-04-30 09:26] vasdee commented on #290
Do you mean to immediately have an item selected and movable within a single mouse down event?  Or controlling an item via some other input source, like a modal or input etc

The latter can be done via controlling the item props array however you wish. Not sure if the former is possible out of the box

[2018-04-30 12:03] Etienne-Larrouy commented on #292
Ok I found a fix. We need to set dragSnap to the minimum value we want. But it is a good fix ?
Is the value of dragSnap intended to do this?

[2018-04-30 14:16] morsh opened #293 "Add ability to capture Mouse Down/UP events on Canvas"
This is to enable the ability to define a time range.
Alternatively - expose a onCanvasTimerange.

This scenario is necessary if I want to enable my users to select a timerange on the canvas, then create a new activity on that time range.

If this feature is acceptable, I'd be happy to work on it.

[2018-04-30 16:03] tuancaraballo commented on #290
Hi @vasdee , I want to do the first, where I can  move an item with just one click: click on an item and be able to move it while holding the mouse down. The same way you do it with any folder in your Mac or PC desktop.

[2018-04-30 18:51] tuancaraballo commented on #74
In case someone comes across the same question. I found a hacky way to accomplish the above and that also allows the onClick on the item to be disabled by setting the z index on the item to 40.

See a picture below. In this case I want to see when professors are working and who is assisting them. I want to be able to change the assistant shift, but not the professor's.

Here we have two items:
Pro

[2018-05-01 00:51] mcMickJuice commented on #293
hi @morsh thanks for this idea.  I believe this would interfere with canvas drag:

* mousedown + drag scrolls the canvas
* mouse up releases drag

im not sure how to allow for this and not irritate 99% of users

[2018-05-01 00:56] mcMickJuice commented on #290
I agree that this is a little wonky and probably bad UX.  I'm not sure why it was originally implemented this way.  I'll keep this open as I think you're right that most users would find the current interaction a little clunky.

[2018-05-01 00:59] mcMickJuice commented on #289
Yikes, I'll look at that bug.  Continue working on your branch (off of develop) and we can merge afterward

[2018-05-01 01:47] mcMickJuice commented on #289
@Ilaiwi fix should be on develop. please merge when you have a chance.

Thanks for pointing this out!

[2018-05-01 07:51] morsh commented on #293
Might this be doable on drag-disabled Timelines?
That means a Timeline that's controlled by visisble time start/end.

[2018-05-01 14:14] mcMickJuice commented on #293
I'm sorry but this seems like to specific of a use case to your specific need to introduce to this library.  Managing when and how to fire those events would complicate the codebase for something that not everyone is going to use.

I'm going to close this issue.  If you feel strongly that this should be in the library, please feel free to fork the repo and get a working example going.  If there ar

[2018-05-01 14:14] #293 closed

[2018-05-01 14:18] mcMickJuice opened #296 "v0.16 Release"
Few things that need to happen before we release v0.16:

- [x] Create release with high level detail of changes
- [x] Update all examples to use new version
- [x] Update all examples to import stylesheet
- [x] Look at readme to ensure nothing is out of date (including FAQ)

[2018-05-01 14:32] mcMickJuice commented on #293
Editing or adding items isn't too specific a use case, but doing it using a gesture of clicking and dragging on the timeline but only when the timeline is locked is pretty specific.

It's possible I don't fully understand what you want here, which means that I'll need to see it in code. Feel free to fork and submit a PR but I can't make any promises that it will be added.  The API of this library

[2018-05-03 03:35] hotyhuang opened #297 "Item re-selection requires multiple clicks"
Hi,

I am trying with the simplest usage, with 3 items. I first selected "item 1", then I selected "item 2". But afterwards, when I trying click back on "item 1", it is not selected. I even tried with `onItemSelect`, it is not catching the later event.

Is this a known issue?

[2018-05-03 04:11] hotyhuang opened #298 "onCanvasClick is not triggered when position changes"
Hi,
Another question, I am injecting this `calendar timeline` in the page in a certain position. But the content above it might get cleared bcs of user action, like:
[code]
In this case, the `onCanvasClick` is not working properly. But if I put the content back, this `onCanvasClick` starts to work again.

I guess this happen bcs of the html canvas behavior. Another scenario to test is, if you mini

[2018-05-03 09:12] forki opened #299 "Timeline crashes if defaultTimeStart/End and visibleTimeStart/End is not provided"
![image](https://user-images.githubusercontent.com/57396/39568498-babc3008-4ec2-11e8-914a-ffd49e768a81.png)

From reading the docs we should just need to specify `start_time` - but then it fails

[2018-05-03 14:10] hotyhuang commented on #299
Hi @forki , this is requiring `defaultTimeStart` and `defaultTimeEnd` in component property. If you missed these two, that line will throw error.

[2018-05-03 14:26] mcMickJuice commented on #299
@forki if @hotyhuang response doesnt help you, can you please provide a sample of this issue in the form of a codesandbox link? Just fork one of the links in the [examples page](https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples)

[2018-05-03 14:29] mcMickJuice commented on #298
hi @hotyhuang can you please provide a codesandbox link that reproduces this issue?  Just fork one of the [examples](https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples)

[2018-05-03 14:30] mcMickJuice commented on #297
hi @hotyhuang can you please provide a codesandbox link that reproduces this issue?  Just fork one of the [examples](https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples)

[2018-05-03 17:58] mcMickJuice commented on #298
👍 excellent thank you

[2018-05-03 18:00] mcMickJuice commented on #297
Hey @hotyhuang im not able to reproduce your issue.  Couple of questions:

* what browser are you using?
* are you using a touch device?
* if no touch device, are you using a mouse or a trackpad to make these clicks?

[2018-05-03 19:06] hotyhuang commented on #297
@mcMickJuice I am using laptop, mouse clicks. I just tested a few, think it happens in certain situation. So here is several cases I tried:

- win7, Chrome (v65.0), re-select needs multiple clicks, unstable

- win7, Chrome (v66.0), re-select needs multiple clicks, unstable

- win7, Firefox (v56.0), works perfectly

- mac, Chrome (v65.0) + FF + Safari, works perfectly

I thought Chrome is fine for

[2018-05-04 00:35] #287 closed

[2018-05-04 07:04] forki commented on #299
I rebuilt it here: https://codesandbox.io/s/kko4w3kno3

basically if you don't specify keys and not DefaultTimeStart and DefaultTimeEnd then it crashes. While I think it should look at `start_time` and `end_time` in the items.

[2018-05-04 07:38] forki opened #300 "OnMove gives NAN for new starttime"
If you use date as values for item starttime and item endtime, then OnItemMove will give you NaN as result for the new start time.

If you pass unix timestamps then things work.

[2018-05-04 10:44] jabidof commented on #247
@mcMickJuice
Hi
_Sorry I could not do the testing before._

I made an on-the-field comparison between BETA you proposed above and version react-calendar-timeline@0.15.12.

The vertical scrolling is much much much better with the BETA version. The test is made using thousands of items and ~500 groups (see below picture); so I guess the test has some meaning.
**My conclusion is the changes you made

[2018-05-04 14:43] mcMickJuice commented on #297
Thanks for putting in the effort to test this out @hotyhuang !

User interaction management in this library is suboptimal.  Is it reasonable to change the title of this issue to "Item re-selection requires multiple clicks"?

[2018-05-04 14:50] mcMickJuice commented on #299
Couple of thoughts:

* the docs around [defaultTimeStart/End](https://github.com/namespace-ee/react-calendar-timeline#defaulttimestart-and-defaulttimeend) should be better (i.e. more explicit) to point this out (need to provide them or visibleTimeStart/End
* I dont think that the initial time view should be determined by start_time and end_time.  Just seems like the user should be specific here in

[2018-05-04 14:54] mcMickJuice commented on #298
Looks like this is fixed in beta:

https://codesandbox.io/s/jvy8wkvrvy

Can you confirm @hotyhuang ?  If so, I'll keep this open until that is released

[2018-05-04 14:56] mcMickJuice commented on #217
This might not be an issue with 0.16 release

[2018-05-04 14:57] mcMickJuice commented on #298
related to https://github.com/namespace-ee/react-calendar-timeline/issues/159

[2018-05-04 14:59] mcMickJuice commented on #247
thanks for the feedback @jabidof .

For the header and columns:
* are you applying custom css to those columns, groups or the header?
* which version of beta are you on? 0.16.3 removed the import of css in the library and puts the onus on the user to import the css

[2018-05-04 15:06] jabidof commented on #247
Ok, I need to check this CSS as I apply some...

**I used react-calendar-timeline@0.16.0-beta.3**
Is this new way of CSS import (good thing btw!) documented somewhere?

[2018-05-04 15:25] hotyhuang commented on #297
@mcMickJuice yep, just did. Thanks for treating these as "bug", and frequent updates of the library. Although there are some issues, I have to say this is really an awesome and flexible library!

[2018-05-04 16:10] mcMickJuice commented on #247
Upgrade to latest of beta (0.16.0-beta.4)

Change is documented in a couple places in the README of develop branch:

* [Usage](https://github.com/namespace-ee/react-calendar-timeline/tree/develop#usage)
* [First FAQ question](https://github.com/namespace-ee/react-calendar-timeline/tree/develop#my-timeline-is-unstyled)

Will likely also have release notes that can be linked from the README with det

[2018-05-04 17:58] hotyhuang commented on #298
@mcMickJuice I think the click is not so accurate with sandbox itself. But ye, the actual problem is resolved in this beta.
Btw, when are you guys planning to do the next release?

[2018-05-04 18:27] mcMickJuice commented on #298
Very soon. I'm waiting on a response from someone regarding a bug they encountered this morning.  Hopefully this weekend.

[2018-05-04 22:11] mcMickJuice commented on #296
https://github.com/namespace-ee/react-calendar-timeline/releases/tag/v0.16.1

[2018-05-04 22:11] #296 closed

[2018-05-04 22:11] mcMickJuice commented on #298
https://github.com/namespace-ee/react-calendar-timeline/issues/296

[2018-05-04 22:11] #298 closed

[2018-05-04 22:12] mcMickJuice commented on #284
https://github.com/namespace-ee/react-calendar-timeline/issues/296

[2018-05-04 22:12] #284 closed

[2018-05-04 22:12] mcMickJuice commented on #274
https://github.com/namespace-ee/react-calendar-timeline/issues/296

[2018-05-04 22:12] #274 closed

[2018-05-04 22:12] mcMickJuice commented on #260
https://github.com/namespace-ee/react-calendar-timeline/issues/296

[2018-05-04 22:12] #260 closed

[2018-05-04 22:15] mcMickJuice commented on #247
Closing this thread with 0.16.x release.

https://github.com/namespace-ee/react-calendar-timeline/issues/296

Will continue to look at further improvements in performance related to:

* virtualizing the canvas/ only showing items that are visibile
* improving canvasReset and the stuttering it sometimes causes
* zoom in and out

@jabidof if your issue persists, please open up a separate issue. Let'

[2018-05-04 22:15] #247 closed

[2018-05-04 22:16] mcMickJuice commented on #217
Closing as i believe this is addressed by using position: sticky on the header with release 0.16.x:

https://github.com/namespace-ee/react-calendar-timeline/issues/296

If it remains, please comment here and I'll reopen.

[2018-05-04 22:16] #217 closed

[2018-05-04 22:17] mcMickJuice commented on #159
This should be fixed in 0.16.x:

https://github.com/namespace-ee/react-calendar-timeline/issues/296

[2018-05-04 22:17] #159 closed

[2018-05-04 22:18] mcMickJuice commented on #273
Closing as theres no repro and I don't understand the issue :)

[2018-05-04 22:18] #273 closed

[2018-05-04 22:19] mcMickJuice commented on #288
This is a bug. Labeling it as such.

[2018-05-05 08:04] jabidof commented on #247
@mcMickJuice
All good with CSS! I'll go ahead and test latest release.
Peanutbutter?

[2018-05-05 17:44] Ilaiwi commented on #289
@mcMickJuice Hi, I implemented the render prop with prop getter pattern to render the items and made the default prop the previous render function but I had problems wasn't as snappy when moving items as the current version of master (0.16v). I also tried the provide patterns since it has fewer function calls but it was slower as well. Please Take a look at [my fork](https://github.com/Ilaiwi/reac

[2018-05-06 12:05] mcMickJuice commented on #289
Great! Can you open a PR against master so I can review?

[2018-05-06 12:54] Ilaiwi commented on #289
@mcMickJuice to be clear with only the optimizations?

[2018-05-07 01:52] mcMickJuice commented on #289
Can you open a PR for the itemRenderer prop reworking only - [this branch](https://github.com/Ilaiwi/react-calendar-timeline/tree/itemRenderer)? Not with the optimizations?  It's good practice to keep PRs very specific.

We can discuss the optimizations at a later point in time.

[2018-05-07 06:22] Ilaiwi opened #303 "cut extra renders for performance"
Hi,

I ran a react optimization tool called [why-did-you-update](https://github.com/garbles/why-did-you-update) to find reasons why items render on every little interaction when they shouldn't. This tool runs deep equality for the changing props and state to figure out where props or state differ in reference but not in content. I discovered hundreds of extra render and cutting them is not very ha

[2018-05-07 09:06] Ilaiwi opened #305 "dynamically changing the groups cases an error with drag and drop items"
Hi,

I had a bug where when I change the groups dynamically using some filter and chose groups that do not have sequential order cause a drag and drop fail. It also causes an error when trying to move another item from the dropped to group.

I guess the problem is with the item [`group order`](https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/Timeline.js#L1100) where it n

[2018-05-07 13:49] Ilaiwi commented on #305
My bad. I investigated the code and problem was with my code. I should've selected the dropped group from filtered groups and not from groups.

[2018-05-07 13:49] #305 closed

[2018-05-07 13:51] mcMickJuice commented on #305
Phew! I wasn't looking forward to fixing this bug :)

[2018-05-07 13:59] Ilaiwi commented on #305
false alarm 😅

[2018-05-07 19:40] florianbepunkt commented on #228
Does somebody know what's the status of the ranges feature? I read here somewhere that it should be converted into a plugin. Has this been done yet? If not is there a repo somewhere where I can jump in, maybe do a PR?

[2018-05-08 04:08] hotyhuang opened #306 "onCanvasClick does not match cursor line"
Hi guys,

This should be a performance issue. So basically I want to work with both `showCursorLine` and `onCanvasClick`, leave `dragSnap` as default which is 15 min. I suppose the click event will pass me the 15 min time slot, where the cursorLine is at. But it loses some accuracy here.

Left Click:
![22:45](https://cdn1.imggmi.com/uploads/2018/5/8/d16cd68fa28803919c320e2a651d6eb2-full.png)

Righ

[2018-05-08 11:41] mcMickJuice commented on #306
Hi @hotyhuang so you expect the time reported with the canvas click to match the cursor line. Or more explicitly, you expect the time reported on canvas click to respect dragSnap?

[2018-05-08 13:55] hotyhuang commented on #306
Hi @mcMickJuice I expect it to match the cursor line. Otherwise people who use it may get confused, he thought he is clicking at the cursor line, but we are catching a different time.

[2018-05-09 18:54] timoweiss commented on #258
@sjarseneault thanks for the pointer!

[2018-05-11 02:48] ashinga48 commented on #258
@sjarseneault  thanks,
I'm using NextJS, so i tried this and it works

`import TimelineCalendar from 'react-calendar-timeline/lib';`

Saved hours for sure.

[2018-05-11 06:23] LitvinaviciusM opened #310 "Item Drag is off after Drag"
![dnd-bug](https://user-images.githubusercontent.com/29225557/39909244-a53692c6-54fa-11e8-85b8-595a944e73e3.gif)
Hey guys,
thanks for great timeline.
I faced the problem and I don't really know where it is...
Any suggestions?
Here is my render method of timeline

`  render() {
    const { items, groups } = this.state;

    return (
      <ReactCalendarTimeline
        { ...defaultSettings }

[2018-05-11 10:47] mcMickJuice commented on #310
Hi, can you create a minimal reproducible example of this, either using one of the examples (i.e. https://codesandbox.io/s/lyjr9p0119) or a github repo?  It's a lot easier to troubleshoot if there is working code instead of a screenshot.

BTW thats a nice look app you got there :)

[2018-05-11 10:53] mcMickJuice commented on #306
I'm not sure that we would want to do this:

* the cursor line is not on by default, you need to opt in
* im assuming cursor line is determine by dragSnap.  If it is, there will be scenarios where some users expect the canvas time reported to be as accurate as possible (exactly where you click) and some who expect it to work like you're describing
* I think that users can account for this by round

[2018-05-11 10:58] mcMickJuice commented on #212
These three items are mentioned specifically in the readme so im going to close this.

[2018-05-11 10:58] #212 closed

[2018-05-11 11:01] mcMickJuice commented on #73
Closing due to inactivity and narrowness of feature request

[2018-05-11 11:01] #73 closed

[2018-05-11 11:02] mcMickJuice commented on #60
Closing due to inactivity

[2018-05-11 11:02] #60 closed

[2018-05-11 11:08] mcMickJuice commented on #265
Hello, I can't reproduce this (Mac, using Chrome 66.0.3359.139) and if you have a workaround I'm going to close this.

Also this might be due to your adding padding to rows and sidebar rows.  That will likely mess things up in the timeline as it's positioning does not take CSS into account.  So...you might have a bad time when you do this

[2018-05-11 11:08] #265 closed

[2018-05-11 11:10] mcMickJuice commented on #146
@besteric is this still occurring with 0.16.x release? Also can you create a code example using one of the examples as a template (e.g. https://codesandbox.io/s/lyjr9p0119)

[2018-05-11 13:56] hotyhuang commented on #306
Hi @mcMickJuice I get it that people may expect differently at this point, but I still prefer if cursor line can match drag snap.
So if it is not something you are going to implement, right now I am creating a `CustomTimeline` component to extend react-calendar-timeline, overwriting some functions to meet my needs. Where is the best place to make this change (onCanvasClick return cursor line posit

[2018-05-12 00:47] gachavez commented on #300
I ran into a similar issue.

- Used a Date object for starttime and endttime.
- onCanvasClick was returning a Nan.

Solved with using unix timestamps in milliseconds for starttime and endttime

[2018-05-12 12:06] florianbepunkt opened #311 ".rct-header has a bounce effect"
Thanks for creating an issue! Please fill out the sections below so that we can accommodate your request:

**What kind of issue are you experiencing?**

* [x] Bug

**Actual Behavior**:
When I used 0.15.5 the header scrolled along the timeline. Now with version 0.16.1 there is this bounce effect know from apple/safari/iphone, which produces some bad UX.

**Steps to reproduce the issue**:

limit scr

[2018-05-12 12:27] florianbepunkt opened #312 "Canvas click not firing when item is selected"
Not sure if this is a bug or by design

I have a timeline and specify

[code]

When I select an Item and item is displayed as being selected, I need to click two times on the canvas to fire the event. The first click on canvas deselects the item, but does not fire the event, the second click fire the onCanvasClick event.

Is this a bug? I would expect onCanvas click to fire the first time

EDIT: H

[2018-05-12 14:10] mcMickJuice commented on #312
Is this issue occurring in the base example (the link that is in the issue template)?

Any reason you didn't use the issue template for this issue? 😀

[2018-05-12 14:28] florianbepunkt commented on #312
Sorry, my bad…  here we go: https://codesandbox.io/s/l211p68z6m

[2018-05-14 00:51] devictokai commented on #265
Hello, thanks for looking into this.
First of all, I don't have any problem with you closing this, as we do have a workaround.

But just as an FYI, the problem still occurs on Mac, Chrome 66.0.3359.139 (official build) (64 bit). and can be reproduced by the following steps.

1. Open Chrome in maximized, but not full-screen window mode.
2. Set browser zoom to 110%
3. Go to https://github.com/namesp

[2018-05-14 01:03] mcMickJuice commented on #265
I've encountered some weirdness with codesandbox, both with alignment and other really strange issues.

[2018-05-14 01:07] devictokai commented on #265
Yes, but our dev is seeing it on his live product as well. However, this all made me go back and check Firefox on windows (where the problem is still bad, with tens of pixels in misalignment), and also with FF on windows. On code sandbox once again, the problem goes away when undocking the output-frame on.  So I think this problem might be related to the width of the parent container or something.

[2018-05-14 11:18] mcMickJuice commented on #306
I take "Performance" to mean rendering performance such as frame rate, cpu usage etc, not how the timeline functions

You can start by looking at https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/Timeline.js#L800

That's where cursorPosition is determined.  Canvas time is determined here: https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/Timeline

[2018-05-14 12:08] mcMickJuice commented on #303
hi @Ilaiwi ill try to review this stuff this week or next. I'm really slammed at work 😄

[2018-05-15 14:00] alexbavinton opened #313 "Timeline not rendering in Isomorphic react app"
I am trying to render the basic minimum example as show in the docs. I don't get any error messaged but the page just hangs until the browser kills it. I am loading the css with isomorphic-style-loader.

I have tried rendering the timeline with create-react-app and this all works fine.

Any help would be greatly appreciated!

[2018-05-15 14:21] #313 closed, assigned to nobody

[2018-05-20 07:12] andy-dorman commented on #306
It sounds to me like canvasClck position and cursorLine position are distinctly different things but it would be useful to be able to know where the cursor is or be able to set/store it’s position.

I’m quickly getting to the point of wanting to work with time regions and left and right locators - audio app style. It sounds like CursorLine and TodayLine could take some abstraction and we could imp

[2018-05-20 12:14] jabidof commented on #247
@mcMickJuice
FYI, up to now no particular issue/bug found. Performance is noticeably better and I could simplify part of my code.

[2018-05-23 07:52] maxaggedon commented on #290
@tuancaraballo I actually implemented this behaviour. You just need to handle the selected items yourself, using the `selected` prop of the `<Timeline />`. Then in your `itemRenderer`, just add these events to the outer `div`:
[code]
This way, when you hover an item, it is already selected!

[2018-05-23 07:59] maxaggedon opened #315 "Move multiple items"
This is a question / feature request.

Is it possible to move multiple items in one drag?

I know its possible to select multiple items, but this does not make it possible to move them together. Is it possible, or has it already been discussed? I couldn't find anything on the subject.

[2018-05-23 09:07] alexbavinton opened #316 "Items overlap when stackItems is set to true"
My code is as follows

[code]

[2018-05-24 00:48] vasdee commented on #315
There is a current PR for this open for discussion. Now would be a perfect time to jump in with your thoughts on it

https://github.com/namespace-ee/react-calendar-timeline/pull/314

[2018-05-24 00:49] mcMickJuice commented on #316
Can you please provide a reproducible example of this issue? Can you also use the issue template?

[2018-05-24 00:52] mcMickJuice commented on #315
what @vasdee said :)

duplicate of https://github.com/namespace-ee/react-calendar-timeline/issues/215

[2018-05-24 00:52] #315 closed

[2018-05-25 08:09] vasdee commented on #310
I've seen this happen when there is dynamic content above the timeline that pushes the canvas out of whack.

I would suggest trying the resizeDetector first and see if that fixes it, then issuing a resize event manually eg `window.dispatchEvent(new Event('resize'));`

The second one is a dodgy workaround but sometimes works for me. I'll probably look at a more sustainable fix once I get a bit more

[2018-05-27 19:36] tuancaraballo commented on #290
Hi @maxaggedon thank you for sharing it. I will try it out. Thanks a lot !

[2018-05-28 14:37] mcMickJuice commented on #316
Closing as no further information provided as far as reproducing the bug.

[2018-05-28 14:37] #316 closed

[2018-05-28 14:38] mcMickJuice commented on #312
Yea, that's a bug. Thanks for posting the code!

[2018-05-28 15:13] mcMickJuice commented on #312
Should be fixed in next release

[2018-05-28 15:29] #303 closed

[2018-05-28 16:56] mcMickJuice commented on #299
More descriptive error message included in #318 .  Removed onTimeInit prop since it serves no purpose anymore.

A few of reasons for this:
* The user should be explicit in the default start or end date of the timeline
* I feel like there would be strange issues that occur if we calculate these default start and end dates based on items (think items that differ in time range by multiple years) and

[2018-05-28 16:58] mcMickJuice commented on #300
I feel like this timeline should only support unix timestamps in ms as the input.  marshaling between strings, Date object, Moment and milliseconds is a pain.

[2018-05-28 17:08] jabidof commented on #300
Simplify, simplify and simplify!
Fully agree.

[2018-05-29 13:12] unutranyholas commented on #146
I guess something like that: https://codesandbox.io/s/1379xnvxo7

[2018-05-29 13:31] mcMickJuice commented on #146
@unutranyholas was your link meant to show this issue in action?

[2018-05-29 13:31] #146 closed

[2018-05-30 06:43] unutranyholas commented on #146
Sorry, I will create another issue with my problem.

[2018-05-30 14:05] florianbepunkt commented on #311
Sure… I can give it a try

[2018-05-31 09:00] ivikash opened #319 "Restricting calendar timeline just for a day."
Is there a way though which I can restrict the calendar timeline only for a day? And the toggle cycles only through the day view and hour view.

Also, similar functionality for restricting a week?

**What kind of issue are you experiencing?**

* [ ] Bug
* [x] Feature Request
* [x] Question

[2018-05-31 11:29] mcMickJuice commented on #319
Yep, you can likely do this using a few props:

visibleTimeStart and visibleTimeEnd - https://github.com/namespace-ee/react-calendar-timeline#visibletimestart-and-visibletimeend
minZoom - https://github.com/namespace-ee/react-calendar-timeline#minzoom
maxZoom - https://github.com/namespace-ee/react-calendar-timeline#maxzoom
timeSteps - https://github.com/namespace-ee/react-calendar-timeline#timest

[2018-05-31 11:40] mcMickJuice opened #320 "Explore removing moment as a peerDependency"
Thanks for creating an issue! Please fill out the sections below so that we can accommodate your request:

**What kind of issue are you experiencing?**

* [ ] Bug
* [X] Feature Request
* [X] Question

The moment library is listed as a peerDependency to this library. Lots of apps use moment however it seems a little unreasonable to require this lib ([which is huge](https://bundlephobia.com/result?p

[2018-05-31 11:51] mcMickJuice opened #321 "Simplify API to only expect/return unix timestamp for dates"
Thanks for creating an issue! Please fill out the sections below so that we can accommodate your request:

**What kind of issue are you experiencing?**

* [ ] Bug
* [X] Feature Request
* [ ] Question

This library accepts a moment object, Date or unix timestamp in some cases...but not other cases.  Moreover, throughout the app, the code expects dates to be a Moment object...sometimes. I'd like to

[2018-05-31 13:56] ivikash commented on #319
I meant, just for a day and not an entire month or a year.

[2018-05-31 15:49] mcMickJuice commented on #319
So the max zoom you want is one day? You can use the min/maxZoom prop.

Here's a related bug to zoom though: https://github.com/namespace-ee/react-calendar-timeline/issues/279

[2018-05-31 20:58] gachavez commented on #321
We are moving away from using moment as much as we can because of performance reasons. I would be in favor of unix timestamps.

[2018-05-31 21:20] mcMickJuice commented on #321
Just curious, what kind of performance issues did you face?  What actions or situations did moment perform poorly?

[2018-06-01 10:09] pencilcheck commented on #247
0.16.1 is still very slow, scrolling on the calendar result in 5+ secs delay until it renders. Unfortunately I don't really see any improvements from my end.

[2018-06-01 14:06] mcMickJuice commented on #247
@pencilcheck until you can post a repo or codesandbox that replicates the issues you are running into, I can not help you.

[2018-06-01 15:01] mcMickJuice commented on #312
released with 0.16.2

[2018-06-01 15:01] #312 closed

[2018-06-02 18:45] mcMickJuice commented on #168
Fixed in v0.16.3

[2018-06-02 18:45] #168 closed

[2018-06-02 18:48] mcMickJuice commented on #306
@hotyhuang I'm going to close this issue as I don't want to align time in canvas click with cursor line.  Moreover, the user can accomplish this in the onCanvasClick function by rounding based on dragSnap.

@andy-dorman I'd be interested in what you're thinking.

[2018-06-02 18:48] #306 closed

[2018-06-02 18:50] mcMickJuice commented on #171
Closing due to inactivity.  Although changes related to multiselect might allow for this behavior:

https://github.com/namespace-ee/react-calendar-timeline/pull/314

[2018-06-02 18:50] #171 closed

[2018-06-02 21:51] andy-dorman commented on #306
@mcMickJuice Basically there are a couple of things I'd like to be able to do.

1. To be able to drop "markers" on to the timeline which would render as a "timeline marker", pretty much like the "Today line" marker works at the moment. I'd be more than happy to handle these outside of the component itself, but if I could build an array of "markers" with corresponding time properties I could do thi

[2018-06-02 22:44] vasdee commented on #306
@andy-dorman I am actually after the same things, canvas select region is definitely a high priority for me. The marker drop I didn't even realise I needed until you mentioned it. Definitely worth creating some seperate feature request issues for these.

[2018-06-02 23:06] mcMickJuice commented on #306
Agree. @andy-dorman would you mind creating issues for each of these things?  Feel free to just copy and paste.

[2018-06-03 08:20] andy-dorman opened #327 "Timeline Markers (Today, Cursor, Custom)"
I’d like to be able to drop "markers" on to the timeline which would render as a "timeline marker", pretty much like the "Today line" marker works at the moment. I'd be more than happy to handle these outside of the component itself, but if I could build an array of "markers" with corresponding time properties I could do things like set up "ctrl-[NUMBER]" key commands to jump directly to points in

[2018-06-03 08:24] andy-dorman opened #328 "Timeline region selection"
I would like to be able to click and drag on the canvas to highlight a region of time. onCanvasClick could expose this, and probably does already - I forget to be honest, which you could use to drop a marker at that point. If on release or stopDrag or whatever exposed the time that related to the mouse position at that point I could probably hack together some kind of region highlighting interface

[2018-06-03 08:28] andy-dorman opened #329 "Enable alternative time formats"
I would like to be able to change the time format into SMPTE for instance so I could use this as an interface to arrange closed captioning entries against a piece of video that I would display on the same page.

Fortunately things like this exist:

https://www.npmjs.com/package/smpte-timecode

So I don’t think this necessarily has to be hugely complicated.

[2018-06-03 08:36] andy-dorman commented on #306
Ok I’ve created three issues, I managed to fudge the title of the first from my phone, @mcMickJuice you can delete and recreate if you’d like!!

[2018-06-03 22:46] acemac opened #330 "Cannot resize on 'left' edge"
**Describe the bug**
Using Chrome 66, left edge of item cannot be resized with mouse

**To Reproduce**
1. Go to the resizing and moving example https://codesandbox.io/s/8nl1l4j6rj
2. Click on and item's left edge and try to resize

**Expected behavior**
The item drags out from the left as it does with the right edge

**Library Version**
0.16.3

**Desktop (please complete the following information)

[2018-06-04 01:26] mcMickJuice commented on #330
This is related to how the Timeline is configured in this example:

* the Timeline component accepts a `canResize` prop. Detailed [here](https://github.com/namespace-ee/react-calendar-timeline#canresize)
* the demo had the value of `true` passed to the component. Since the items did not specify their own `canResize`, resize was only allowed on the right

This is confusing and should be updated.  H

[2018-06-04 01:27] #330 closed

[2018-06-04 02:08] mcMickJuice commented on #327
This is a good idea.  I'd like to implement this with the following goals in mind:

* user maintains state of this feature
* user is in control of rendering of this feature
* api is as declarative as possible and hopefully doesn't introduce new props on the Timeline component.

Here's the end API I have in mind:

[code]

The `TodayMarker` and `CursorMarker` would be handled in the exact same way:

[2018-06-04 02:35] mcMickJuice commented on #329
This can't be accomplished via this config - https://github.com/namespace-ee/react-calendar-timeline#headerlabelformats-and-subheaderlabelformats

Probably wanna change this config to a function that the user provides.

[2018-06-04 02:50] mcMickJuice commented on #328
The problem with this is dragging the canvas scrolls the timeline.  This is especially true for touch devices.

We'd need to implement this using gestures/Ctrl + Cick or something.

[2018-06-04 05:30] jabidof commented on #327
I’m using another lib (google-map-react) that has this approach too. Any marker in that case needs GPS coordinates to be rendered on the map. It makes the code easier to read.

[2018-06-04 06:03] andy-dorman commented on #328
You could also drag on the time labels perhaps? This would possibly be more appropriate, by definition a region would have no notion of a “height”, only a “width”. A key modifier would also work...

[2018-06-04 06:09] andy-dorman commented on #327
@mcMickJuice That sounds pretty much spot on to me. The cases I gave were just for illustration, I’m sure this would give me what I need. I could probably hack region selection together with this as well while it was being properly developed.

[2018-06-04 15:09] AdamFreemer opened #331 "Holidays or multi group items"
I am wondering if anyone has tried or implemented "multi group" items (a vertical column)?

I have a calendar implemented with rows as Users, and want to be able to list a Holiday, for all Users. Easiest way would be to create a duplicate item for all Users, in effect creating a column. Any thoughts or ideas from anyone of a better way to accomplish this?

[2018-06-07 05:30] vic-yoshitom commented on #297
hi @mcMickJuice

I found same situation in interactjs. The below URL is the issue about this situation.
* [URL]( https://github.com/taye/interact.js/issues/393 )
It seems that this bug was fixed in latest interactjs.
But react-calendar-timeline does not require latest interactjs. (The latest version is 1.3.4,  react-calendar-timeline requires 1.2.6.)
Would you upgrade interactjs version?

[2018-06-10 12:20] yftachman opened #332 "Can't scroll vertically if inside a fixed div"
If any of the containing elements have position fixed I'm no longer able to scroll vertically.
Any ideas how to get around it?

Example:
https://codesandbox.io/s/rlw48868jo

(Or just add position:fixed to any of the containing elements)

Happens on latest (0.16.3)

[2018-06-10 12:58] yftachman commented on #332
Found the culprit.
In the ScrollElement:
`  handleWheel = e => {
    const { traditionalZoom } = this.props

    e.preventDefault()

    // zoom in the time dimension
    if (e.ctrlKey || e.metaKey || e.altKey) {
      const parentPosition = getParentPosition(e.currentTarget)
      const xPosition = e.clientX - parentPosition.x

      const speed = e.ctrlKey ? 10 : e.metaKey ? 3 : 1

      // conv

[2018-06-10 20:18] jabidof commented on #321
Hi,
We're using [date-fns](https://date-fns.org/) that uses the standard Date object.
Maybe that is a way.

[2018-06-11 00:20] mcMickJuice commented on #329
@andy-dorman have you tried to achieve this using the header/subheader formats?

[2018-06-11 12:18] andy-dorman commented on #329
I haven’t, let me try this afternoon and you can close this off.

[2018-06-12 02:25] #310 closed, assigned to nobody

[2018-06-12 02:27] mcMickJuice commented on #224
Closing. Might address this once we do an API redesign.

[2018-06-12 02:27] #224 closed

[2018-06-12 02:46] mcMickJuice commented on #297
@vic-yoshitom thanks for the tip!

FIx for this will go out in next version.  I moved interactjs to peerDependency and specified 1.3.4 as version.

[2018-06-12 02:49] #297 closed

[2018-06-12 03:00] mcMickJuice commented on #299
Fixed in 0.17.0

[2018-06-12 03:00] #299 closed

[2018-06-12 03:00] mcMickJuice commented on #300
Fixed in 0.17.0

[2018-06-12 03:00] #300 closed

[2018-06-12 03:01] mcMickJuice commented on #297
Fixed in 0.17.0

[2018-06-12 03:02] vic-yoshitom commented on #297
you are welcome.
it is my pleasure to help you.

[2018-06-12 03:03] mcMickJuice commented on #290
@maxaggedon very clever!

[2018-06-12 03:08] mcMickJuice commented on #263
I think this is achievable via [tabindex=0](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex).

There is going to be some trickiness with what is the "first" focusable, tabable header/subheader
(e.g. should it be only visible header/subheaders? Or can you tab into non visible header/subheaders).  I'm going to have to think about how to achieve this...

[2018-06-12 03:10] mcMickJuice commented on #228
There's been no movement on this feature however I'm going to start on an approach soon that might replace the plugin system.  When I get around to it, I will post a roadmap issue and open things up for discussion.

[2018-06-12 05:43] andy-dorman commented on #329
I’ve still not had a proper look at this but I can’t immediately see how those label configurations will help? I need to specify a unit smaller than seconds, frames, and I don’t think specifying a unit of ‘FF’ will be understood by the intervals of the package which I think uses moment?

Fundamentally, it would be nice to be able to specify a date/time library other than moment and have all time v

[2018-06-12 11:13] mcMickJuice commented on #329
OK. Just wondering if this could be accomplished by existing code.

Regarding your second point, there's [this issue](https://github.com/namespace-ee/react-calendar-timeline/issues/320) for looking into other date libraries. Also, [this issue](https://github.com/namespace-ee/react-calendar-timeline/issues/321) for the library accepting and returning unix timestamps.

Your specific issue is separat

[2018-06-12 11:15] mcMickJuice commented on #297
Nope other than:

* the readme states that interact is a peer dep (even before this change) so I wanted to be consistent with the docs
* I don't see the harm in making it a peer dependency and it might be more appropriate that it is one, given situations like this

Do you disagree?  What are reasons not to list it as a peer Dep?

[2018-06-12 22:40] ctrldavid commented on #297
I'm still trying to get my head around what warrants promoting a dependency to a peer dependency myself. Reading: https://nodejs.org/en/blog/npm/peer-dependencies/ seems to indicate that it was introduced for 'plugins' that enhance the functionality of the peers. In which case I'd probably say that react + react dom should be peers, but moment and interactjs would be regular dependencies.

I guess

[2018-06-14 08:21] maxaggedon commented on #315
@vasdee @mcMickJuice I looked at the PR discussion, and my use case is much simpler than what you are discussing. I have only one item per group and items cannot change groups (kind of like a gantt chart). So I have no insight on "squashing" or collision. I'll let you guys decide what's best on those matters!

[2018-06-14 21:41] jabidof commented on #247
@mcMickJuice  Just a naive comment from my side.

I did some "why-did-you-update" react analysis and I converted all **React.Component** from the TImeline lib to **React.PureComponent**. _I could remove a tremendous amount of useless re-render_.

Wouldn't that be an simple optimization approach?

[2018-06-16 21:22] FabriceReynolds opened #336 "Navigate programatically"
How can I programatically navigate the timeline to a specified date/time or to a specific zoom level?

For example I would like like to have a button/calendar  that I can click on to go to a specific date at a specific zoom level

Just want to add that this is a really great implementation of a timeline component, thanks.

[2018-06-20 17:20] yftachman opened #337 "Option to edit the date header label?"
Hey, I'd like to edit the way the date at the top is styled (both text and look),
also for the header label group (red part on top).

**Describe the solution you'd like**
Let me pass a method to the Timeline object, if present gives for each column the date it represents, maybe format (as in if its days, months etc...) and expect a return value of jsx object.

**Describe alternatives you've consid

[2018-06-20 17:30] mcMickJuice commented on #337
Duplicate of https://github.com/namespace-ee/react-calendar-timeline/issues/329

[2018-06-20 17:30] #337 closed

[2018-06-20 17:30] mcMickJuice commented on #337
hi @yftachman can you please bring this request over to the referenced issue above?

[2018-06-20 17:34] mcMickJuice commented on #336
You should be able to achieve this by using the `visibleTimeStart` and `visibleTimeEnd` props:

https://github.com/namespace-ee/react-calendar-timeline#visibletimestart-and-visibletimeend

Whatever you pass in via these props will move the timeline to those dates.  Does this help you achieve what you want to achieve?

[2018-06-20 17:35] mcMickJuice commented on #331
So you would want the same item to appear in each group?

[2018-06-21 08:05] yftachman commented on #329
Hey guys, in my opinion this library should let the user have full control of each element it renders.
Just like itemRenderer or GroupRenderer, a headerLabelRenderer and a headerLabelGroupRenderer would be super useful for those of us who want to fully customize the way our timeline looks.

In regards to the original post, this will enable you to basically do whatever you want, including passing i

[2018-06-21 08:05] yftachman commented on #337
Yeah sure,
however in my opinion that issue is a sub-case of this issue, but whatever.

[2018-06-21 13:36] mcMickJuice commented on #329
That's the main goal of future development on this project :smile:

[2018-06-21 14:01] mcMickJuice opened #338 "Performance Improvements V2"
Let's discuss additional performance improvements that we can make to this library.  Here are a couple of my goals and also some that others have mentioned:

* lazy rendering - only render items that are in or near viewport.  This can be achieved by having an observer on each group row. If that group row is in or near viewport, then we render items in that group. If not, then we don't.  This has s

[2018-06-21 14:02] mcMickJuice commented on #247
Not naive at all @jabidof .  There was a PR opened a month or so back that addressed this:

https://github.com/namespace-ee/react-calendar-timeline/pull/304

However, the use of deepEqual on arrays (separate from PureComponent) was troubling and i didnt want to include that in code.  I agree that PureComponent should be used more here but I want to address the causes of the need for deepEqual and

[2018-06-21 14:21] jabidof commented on #338
Have a look at https://github.com/NoamELB/shouldComponentUpdate-Children/blob/master/README.md
Not the canonical approach I would like to see implemented (from an academically viewpoint) but I could get a performance boost of a factor of 6-8!
For just a one-liner I adopted it 👏

[2018-06-21 23:42] mcMickJuice opened #340 "Example codesandboxes are broken."
**Describe the bug**
All examples are broken. interact.js is not defined

**To Reproduce**
Go to any of the codesandboxes in the examples section

https://codesandbox.io/s/lyjr9p0119

**Expected behavior**
Examples should just work.  Need to update examples to use interactjs.

[2018-06-22 18:14] buddythumbs commented on #244
Hi, did this solve the issue you were having?

I don't know how to change styling in itemRenderer to apply my custom background color to entire item.
This is what I have:
![image](https://user-images.githubusercontent.com/24975408/41792231-649497fc-7658-11e8-9b04-df546153ad56.png)

My item renderer is a styled div:

[code]
Then the item renderer function:

[code]

Any help here is greatly apprecia

[2018-06-22 18:41] mcMickJuice commented on #244
If you override `.rct-item-content` to remove padding, does that help?  Can you inspect the item element itself and identify _why_ this issue is happening?  I believe it's related to default padding applied.

[2018-06-23 09:19] buddythumbs commented on #244
Hey,

I think I am making progress with this, I override `.rct-item-content` in the my main global.css and then just handle styles in the local renderer.

I'll report back when I feel I've got it nailed so others can see what works for me

[2018-06-23 17:32] buddythumbs commented on #244
Hey - I just set the item that is rendered `display: block` and it fixed my issue here - thanks!

[2018-06-24 09:12] Ilaiwi commented on #338
an improvement would be to memorize the results from the `dimensionItems`, `groupHeights`, `groupTops` this will of course cut down extra renders as well...

[2018-06-25 03:04] mcMickJuice opened #343 "Use rollup for code bundling/publishing"
Current publishing uses babel to transpile and move into a lib folder.  We can shave off some size of this bundle by using rollup (or some other library bundler) while also better supporting package.json `module` field.

[2018-06-25 06:46] Ilaiwi commented on #343
@mcMickJuice what do you mean by "while also better supporting package.json module field"?

[2018-06-25 12:06] mcMickJuice commented on #343
From [rollup docs](https://github.com/rollup/rollup#publishing-es-modules)

[2018-06-26 15:05] morulus opened #347 "Support prop `style` for Item"
Support prop `style` for an Item component, that allows you to specify the inline-style of a particular item.
In can be used to specify some dynamic styles, which can't be described in CSS classes. For example, set backgroundColor received from the server for each element. Or the item color is formed by some user configuration. Random color at least.

[code]

Why className is not suitable? Because

[2018-06-26 15:10] morulus opened #348 "Provide `selected` prop to itemRenderer"
I need to know whether an item is selected inside the itemRenderer function. It can be useful when you need to render some advanced information only for selected items.

[code]

[2018-06-27 07:36] Ilaiwi opened #349 "Custom headers"
**Is your feature request related to a problem? Please describe.**
Support adding custom headers inspired by #339 to support for example adding daytime intervals something like this:
![rtc-customheaders](https://user-images.githubusercontent.com/10817089/41958706-8948176a-79f3-11e8-81a0-4cb4fbe59e31.PNG)

This will make it possible also to solve #140 and #130 in clear way.

**Describe the solution

[2018-06-27 11:54] mcMickJuice commented on #349
Thanks for this @Ilaiwi .  I agree that the API should work this way.  Here are a couple of terms so we're on the same page (please feel free to recommend different names for these)

* `PrimaryUnit` - the top unit. This unit is always "larger" than the `SecondaryUnit` and appears above the secondary unit.  In your screenshot, "Month" is the `PrimaryUnit`
* `SecondaryUnit` - the unit below the `Pri

[2018-06-27 21:44] jabidof commented on #338
Any chance react waypoint would improve performances?
http://brigade.github.io/react-waypoint/

[2018-06-28 09:48] yftachman opened #350 "onItemDeselected function is not documented"
**Describe the bug**
Hey, I've found a function on the props that is not documented and works. Also makes sense to have this function (it was just what I needed).

Weird part is it has a comment on it saying this isn't in the docs...

[2018-06-28 12:32] yftachman opened #351 "interact.js is outdated"
**Describe the bug**
Currently when I install this package the dependency of interact.js is set to v1.2.6 while the latest version is 1.3.4.
This causes a bug that is VERY annoying and very allusive .
Where

1. Click on item 1 (gets selected)
2. Click on item 2 (gets selected)
3. Click on item 1 again (doesn't get selected)
4. Try to click on item 1 again (might get selected :\ )

It's a huge UX p

[2018-06-28 12:49] yftachman commented on #351
My bad, was fixed in 0.17.1 .

[2018-06-28 12:49] #351 closed

[2018-06-28 13:25] yftachman opened #352 "PeerDependency version of interactjs doesn't work with browserify"
**Describe the bug**
Hey, since moving interactjs as peer dependency I can't run my project unless I delete the dist folder of interact js.
Obviously this is their bug however this post: https://github.com/taye/interact.js/issues/593
has a solution that might help as a workaround in the mean time.

**To Reproduce**
1. npm install react-calendar-timeline
2. WARN have peer dependency interactjs
3.

[2018-06-28 16:57] FabriceReynolds commented on #336
This does work correctly thanks. I was running into issues in my implementation which caused values to be overridden.

[2018-06-28 16:57] #336 closed

[2018-06-28 20:55] mcMickJuice commented on #352
@yftachman thanks for opening this. Would you mind submitting a small PR to fix this? interactjs is in Item.js file

[2018-06-28 20:56] mcMickJuice commented on #350
Seems like a quick doc fix. Mind submitting a PR?

[2018-06-28 21:01] mcMickJuice commented on #338
For sure @jabidof .  I was looking at that or using a polyfill for [IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API).  Either way, I think my strategy for this would be:

* use two waypoints as a top and bottom "sentinel". These sentinels will be tied to a GroupRow so we will know what groups are within visible range (+ / - some padding)
* For those

[2018-06-29 13:22] mcMickJuice commented on #348
Pending release in 0.17.2

[2018-06-29 13:23] mcMickJuice commented on #347
Pending release in 0.17.2

[2018-06-29 17:42] #348 closed

[2018-06-29 17:42] #347 closed

[2018-06-29 17:42] mcMickJuice commented on #292
This should be fixed in 0.17.2

[2018-06-29 17:42] #292 closed

[2018-06-29 17:58] mcMickJuice commented on #340
Fixed

[2018-06-29 17:58] #340 closed

[2018-06-29 23:50] morulus opened #356 "Header Dates are incorrect if groups is initially empty"
If as an initial value for prop `groups` I pass an empty array, then the displayed date does not correspond to the values of `defaultTimeStart` and `defaultTimeEnd`.

This causes problems with lazy loading of groups and when empty groups came from the server

Here is the example. I'm trying to display the year 2018, but 2017 is displayed.
https://codesandbox.io/s/rwz71pp20n

[2018-07-01 03:16] mcMickJuice commented on #356
This is a nasty bug to fix so until I can get to it, the workaround is, instead of an empty array, pass in a dummy group, maybe with a title of "fetching groups" or something.  Then your default start/end will be respected and everything will be fine when your actual groups are loaded.

As an FYI, the bug is related to how the Scroll header is affected when you scroll the timeline body.  When you

[2018-07-01 18:05] Ilaiwi commented on #311
Hi @mcMickJuice this is blocking me at the moment. Could you please give me some pointers on how to solve this?

[2018-07-01 21:16] florianbepunkt commented on #311
@mcMickJuice Also interested…

[2018-07-01 23:31] morulus commented on #356
Ok, I got it.

[2018-07-02 01:21] mcMickJuice opened #357 "Timeline scroll causes Timeline component to re-render on every scroll"
**Describe the bug**
When you scroll the timeline, setState is called in the `onScroll` handler.  This causes Timeline component to re-render on every scroll event which can be a performance issue.

**To Reproduce**

Run this repo locally and put a console.log in the render method of Timeline component

**Expected behavior**
Timeline should only re-render when necessary (props change, state change

[2018-07-02 01:21] mcMickJuice commented on #338
This is a big one too: https://github.com/namespace-ee/react-calendar-timeline/issues/357

[2018-07-02 01:47] mcMickJuice commented on #357
I think we'll need to refactor how this library handles scroll.

Current state:
* `ScrollElement` calls `this.props.onScroll` any time the user scrolls that component (swipe, arrow key, drag).
* `Timeline` component's onScroll is invoked with leftOffset.  It calculates the new visibleTimeStart/End and calls `this.props.onTimeChange`. `this.setState` is then called to set offsetLeft.
* `onTimeChang

[2018-07-02 01:48] mcMickJuice commented on #311
Related issue - https://github.com/namespace-ee/react-calendar-timeline/issues/357

[2018-07-02 06:00] Ilaiwi commented on #311
@mcMickJuice I havent found any workaround for this yet so I think I am going to tackle it later this week

[2018-07-04 05:52] Ilaiwi commented on #311
Hi, I was trying to solve this bug and I found out that the problem in my app was from a timeline plugin I wrote. Sorry, but I am not going to continue with this bug since the problem doesn't affect me anymore. For anyone who is interested in the future, I solved it by applying `oveflow: auto` on my plugin divs.

[2018-07-04 06:51] florianbepunkt commented on #311
@Ilaiwi Interesting, I also had a timeline plugin activated. However even when I disabled all timeline plugins completely the bug still occurs as well as when applying css overflow property as you suggested.

[2018-07-04 07:10] Ilaiwi commented on #311
@florianbepunkt in my application the plugin was responsible for some customized drag and drop behavior. This bug appeared for me when I was dragging the item close to the edges so after researching that the solution was for me is to do `overflow: auto`. This was a very specific case. I also have mouse dragging disabled on the timeline so it is very rare for this bug to appear for me.

[2018-07-04 08:43] pencilcheck commented on #79
The code and the link to the reference has expired, let me try my best to describe how I set initialZoom,

1. Set minZoom to the unit of time you want to zoom to
2. Set defaultTimeStart and defaultTimeEnd ONLY (no visible*) to the duration that is suitable to what you want to display given the minZoom
3. Viola

[2018-07-04 10:41] AlexSenchenko opened #358 "Implement time slot select for new item"
I want to implement behavior when on mouse click on canvas
will create newItem with  `timeStart`
second click - will be item `timeEnd`, and then - new item dialog will be showed with
predefined dates:  start, end.
Between first and second click will be selection showed.

Is it possible with current control api?

[2018-07-05 07:44] Ilaiwi commented on #358
what do you mean by "Between first and second click will be selection showed."?

[2018-07-05 16:11] AlexSenchenko commented on #358
I mean, like you select in daterange control start and end dates, like in Expedia.

[2018-07-06 19:09] Ilaiwi commented on #358
With the current implementation, this is possible with (plugins)[oncanvasclickgroupid](https://github.com/namespace-ee/react-calendar-timeline#oncanvasclickgroupid-time-e] but is not very straightforward. First, you need to listen to the onCanvasClick to get startDate, endDate and group when clicking. For the plugin, you need it to get the mouse hover date and group. To do so you need to have a di

[2018-07-09 13:27] dkarnutsch opened #359 "Single Row Header has wrong Height"
**Describe the bug**
When using a very large maxZoom (e.g. 15 years) to have a single row header, the row height is wrong.

**To Reproduce**
https://codesandbox.io/s/pjl9ln5mom

**Expected behavior**
The top row should have zero size

**Screenshots**
<img width="2211" alt="screen shot 2018-07-09 at 14 58 29" src="https://user-images.githubusercontent.com/10632685/42453236-64d0986a-838c-11e8-9793-6

[2018-07-09 14:11] evanrenaud opened #361 "Split headers by week"
I would like to be able to split up headers by week, and noticed in a comment that you were planning on doing this:

https://github.com/namespace-ee/react-calendar-timeline/blob/master/src/lib/utility/calendar.js#L41

I wanted to ask if this feature is still in your roadmap, when you think it'll be available, or if there's anything I can help with it.

[2018-07-09 19:44] pencilcheck commented on #247
I noticed one of the source of slowdown on my end when using version 0.16.1 was that I implemented `onTimeChange` and passed that into the props along with `visibleTimeStart` and `visibleTimeEnd`.

The performance went a lot faster and smoother after removing the props mentioned above.

I hope this helps others who also might be struggling.

[2018-07-10 13:52] dkarnutsch commented on #361
I am currently evaluating if we can use this library in one of our projects. I'm currently trying to implement a week view as well as a three row header layout. The three row header layout is necessary for us too, in order to keep the UI context when weeks are used.

You can find my version at: https://github.com/dkarnutsch/react-calendar-timeline/tree/feature/weeks

With the three row header layo

[2018-07-11 02:08] mcMickJuice commented on #358
@AlexSenchenko this can be achieved either using [onCanvasClick](https://github.com/namespace-ee/react-calendar-timeline#oncanvasclickgroupid-time-e) which returns time. You would have to manage the first and second click though.  Or you can do what @Ilaiwi suggests.

[2018-07-11 02:08] #358 closed

[2018-07-11 02:08] mcMickJuice commented on #352
I'm going to close this as this is an issue with interactjs library, not this one.

[2018-07-11 02:08] #352 closed

[2018-07-11 02:18] mcMickJuice commented on #130
Closing in favor of https://github.com/namespace-ee/react-calendar-timeline/issues/361.  All discussion will continue over there.

[2018-07-11 02:18] #130 closed

[2018-07-11 02:56] mcMickJuice commented on #359
Fixed in 0.17.3

[2018-07-11 02:56] #359 closed

[2018-07-11 02:59] mcMickJuice commented on #331
Closing due to inactivity

[2018-07-11 02:59] #331 closed

[2018-07-11 03:01] mcMickJuice commented on #85
I believe this has been fixed as of 0.17.2 . If not, I'll reopen this.

[2018-07-11 03:01] #85 closed

[2018-07-11 12:32] mcMickJuice commented on #361
No there is not.  If this is something that you need specifically for your project, you can always fork and publish your own version to npm.

[2018-07-11 13:07] Ilaiwi opened #362 "change headerLabelFormats and subHeaderLabelFormats doesn't reflect change in headers"
**Describe the bug**
changing the props `change headerLabelFormats` and `subHeaderLabelFormats` dynamically doesn't change the labels on header and subheader and change only reflect if you zoom in and out again
**To Reproduce**
change headerLabelFormats or subHeaderLabelFormats  dynamically
https://codesandbox.io/s/7m0yn3x4z1

**Screenshots**

**Library Version**
`0.17.3`
**Desktop (please complet

[2018-07-11 13:22] dkarnutsch commented on #361
Maybe together we can fix the bug, as I'm keen to help. We just need to clarify what the expected result should be.

Should weeks be optional or mandatory?

Also the timeSteps are kind of vague, which I will try to illustrate.
Starting at the smallest unit possible. We can see one hour and its minutes.
![screen shot 2018-07-11 at 15 10 14](https://user-images.githubusercontent.com/10632685/4257352

[2018-07-12 12:54] dkarnutsch opened #364 "Custom styles for vertical lines (dates)"
**Is your feature request related to a problem? Please describe.**
I want to have special styling for certain dates. Use cases would be e.g. public holidays or opening hours.  Partly described in #331.

**Describe the solution you'd like**
I would want to add custom classes to the vertical lines depending on the time and unit.

**Describe alternatives you've considered**
I haven't found any other

[2018-07-12 13:11] dkarnutsch commented on #361
While digging into the code I found another interesting case:
When having a small window like:
![screen shot 2018-07-12 at 15 01 32](https://user-images.githubusercontent.com/10632685/42634892-d6ea9040-85e4-11e8-92e6-f285bece336e.png)
I would expect that clicking the top header would result in zooming out, which is actually what is happening. But when clicking the bottom header I would either expe

[2018-07-15 01:19] joncar commented on #265
I see the problem but I'm not sure of the right solution.

Firefox is rendering the border of the left elements with at least 1 (screen) px. The left elements have their top automatically calculated via HTML layout and so their top/height is based on a 1 (screen) px border, but the right elements have their top set explicitly in their style based on JavaScript calculations which I assume is using

[2018-07-16 12:48] Grigosha40 opened #366 "Change the locale of the calendar."
Hi,
This timeline calendar is very cool! It is so helpful!!!

But I have one problem. It doesn't change the language even when I try to change the moment locale!

Can you help me, pls:)))

[2018-07-16 12:57] dkarnutsch commented on #366
How did you try to change the locale?

For me using `moment().locale("de");` in the constructor of `App.js` works fine. You can also change the way how the dates are displayed with `headerLabelFormats` and ?`subHeaderLabelFormats`.

[2018-07-16 13:04] Grigosha40 commented on #366
Thank you for the quick reply. I am trying the same thing, but the calendar doesn't pay any attention to this!

[2018-07-16 16:38] #366 closed

[2018-07-17 12:55] dkarnutsch opened #367 "Custom styles for horizontal lines (groups)"
**Is your feature request related to a problem? Please describe.**
Especially when using the tree groups example it is frustrating that I can't style the headers of the groups different than the groups itself. Also I would like to overwrite the calculated height with a custom height.

**Describe the solution you'd like**
For the height: If the height is specified in the group, the lib should use t

[2018-07-17 15:11] Dr-Satan opened #369 "An easy way to disable scroll and zoom"
Hello and thank you very much for this component !
Is there an easy way to disable scroll and zoom ?

[2018-07-17 16:31] Grigosha40 opened #370 "Rotate calendar."
Hi,

Don't know, is it possible to rotate the calendar (time is on the left side and groups are on the top) by its methods? Or I must edit the library?

Thanks!

[2018-07-18 10:49] Ilaiwi commented on #369
yes, you can. You can do that by providing `visibleTimeStart` and `visibleTimeEnd`, and implement `handleOnTimeChange` to only call `updateScrollCanvas` with your `visibleTimeStart` and `visibleTimeEnd`

[2018-07-18 10:55] Ilaiwi commented on #369
this might be easier when #357 gets implemented maybe

[2018-07-18 13:13] Dr-Satan commented on #369
Okay, I found it. I did as you said but fixing visibleTimeStart and visibleTimeEnd to keep it still

`
handleTimeChange = (visibleTimeStart, visibleTimeEnd,updateScrollCanvas) => {
        updateScrollCanvas(moment(this.state.defaultTimeStart).valueOf(),  moment(this.state.defaultTimeEnd).valueOf());
 }`

[2018-07-18 13:13] Dr-Satan commented on #369
Thanks !

[2018-07-18 13:40] #369 closed

[2018-07-18 14:23] tymochko opened #371 "Static propTypes error"
Hi,
I installed "react-calendar-timeline" but constantly getting an error about:
[code]
Although my .babelrc looks like this (I assume I did everything right, stage-2 includes "transform-class-properties", even thou I tried stage-1 and stage-0)
[code]
somehow "react-calendar-timeline" get into webpack running process with the uncompiled code.
Part of webpack.config.js which shows that node_modules

[2018-07-19 07:42] Ilaiwi commented on #371
try `react-calendar-timeline/lib`

[2018-07-19 14:03] Ilaiwi commented on #371
yes it is a peer dependanciy

[2018-07-20 11:00] dkarnutsch opened #372 "ScrollRef to programmatically scroll"
**Is your feature request related to a problem? Please describe.**
In order to programmatically scroll (not just setting the visible range, but animating) I would like to have a DOM reference to the scroll element.

**Describe the solution you'd like**
Same solution as for the header reference.

**Describe alternatives you've considered**
-

**Additional context**
I will submit a PR.

[2018-07-23 10:08] florianbepunkt opened #374 "onCanvasClick not wirking"
**Describe the bug**
onCanvasClick method does not get called

**To Reproduce**
`<Timeline onCanvasClick={() => console.log("FOO")} />`

**Expected behavior**
`<Timeline onCanvasClick={() => console.log("FOO")} />` should log FOO, but logs nothing.

**Library Version**
0.17.3

[2018-07-23 11:29] #371 closed

[2018-07-23 11:34] florianbepunkt commented on #374
Sure. https://codesandbox.io/s/52r0rxp8px

[2018-07-23 11:45] mcMickJuice commented on #374
In that sandbox, you weren't passing `onCanvasClick` to the library's `Timeline` component. Here's the fixed sandbox which is logging out FOO:

https://codesandbox.io/s/kkjmy3x9qv

Please let me know if this problem persists and I'll reopen.

[2018-07-23 11:45] #374 closed

[2018-07-23 11:46] mcMickJuice commented on #370
No, that is not something that is possible in the current state of the timeline and is unlikely to be something that is pursued.

[2018-07-23 11:46] #370 closed

[2018-07-23 11:56] florianbepunkt commented on #374
My bad, sorry. The problem on my side still persists… I also found the culprit. I'm using a timeline ranges plugin like this

[code]

But this prevents the underlying canva from being accessible/clickable. That is why the clicks were never logged in my case.

[2018-07-23 12:02] mcMickJuice commented on #374
Hmm, I'm not sure the best solution for you.  You can try to add the click handler to whatever components you're rendering in the TimelineRanges plugin.  I'm not too familiar with how plugins work with this library so I'm sorry I can't be of more help.

[2018-07-23 12:45] tymochko opened #376 "Vertical scroll issue"
Hi,
I faced an issue with vertical scrolling when there are many rows available.
It is especially noticeable when "timeline" is used in popover.

Please see demo attached: (https://codesandbox.io/s/o9y6w366w6)

I would expect when mouse pointer is above "timeline" and I am using mouse scroll - timeline rows should scroll and when mouse pointer is above outer content and I use mouse scroll - outer

[2018-07-23 20:49] mcMickJuice commented on #362
Released in 0.18.0

[2018-07-23 20:49] #362 closed

[2018-07-23 20:51] mcMickJuice commented on #327
Released in 0.18.0

[2018-07-23 20:51] #327 closed

[2018-07-23 20:52] mcMickJuice commented on #376
This looks like a duplicate of https://github.com/namespace-ee/react-calendar-timeline/issues/332 , at least the symptoms are the same.

[2018-07-24 07:19] Ilaiwi opened #377 "groupRenderer doesnt work for right sidebar"
**Describe the bug**
Timeline's right sidebar doesn't content doesn't render the `groupRenderer` passed to the timeline

**To Reproduce**
1. provide `rightSidebarWidth` prop to timeline
2. provide `groupRenderer` prop to timeline

**Expected behavior**
right sidebar content should be rendered through `groupRenderer` if provided

**Library Version**
0.18

**Desktop (please complete the following in

[2018-07-24 09:35] Ilaiwi opened #378 "cursor marker disappear while hovering over item"
**Describe the bug**
The cursor marker disappears while hovering over an item

**To Reproduce**
hover over item
https://codesandbox.io/s/n920olmyxj

**Expected behavior**
the cursor should be shown by default even though the cursor is over an item

**Library Version**
0.18
**Desktop (please complete the following information):**

* OS: macOS
* Browser Chrome

**Additional context**
This problem oc

[2018-07-24 12:14] Ilaiwi opened #379 "Date passed to CursorMarker child is wrong"
**Describe the bug**
the date bassed to `CursorMarker` render prop is wrong
**To Reproduce**
look at the console of
https://codesandbox.io/s/n920olmyxj

**Expected behavior**
print the correct hover date

**Library Version**
0.18
**Desktop (please complete the following information):**

* OS: macOS
* Browser chrome

[2018-07-24 15:23] mcMickJuice opened #382 "Discussion: Plugins usage"
Having assumed maintenance of this project earlier this year, I always wondered how plugins were used in this library.

In fact, while adding/refactoring this library, [I removed the plugin section from the README](https://github.com/namespace-ee/react-calendar-timeline/commit/5d990706cba82459c10445162afd2857f84b91f2#diff-04c6e90faac2675aa89e2176d2eec7d8L540) as I didn't want to officially support

[2018-07-24 16:04] RichardWeug opened #383 "onCanvasClick not listening"
**Describe the bug**
When I click on empty canvas, "onCanvasClick" doesn't get called.

**To Reproduce**

[code]

**Expected behavior**
The console logs "test".

**Library Version**
0.18.0

**Desktop (please complete the following information):**

* OS: Chrome OS
* Browser: Chrome
* Version: 69.0.3494.0 (Official Build) dev (64-bit)

**Additional context**
I've taken a look at issue #374 beforehan

[2018-07-24 16:18] RichardWeug commented on #383
This issue only occurs on version 0.18.0! I rolled back to 0.17.3 and now it works perfectly.

[2018-07-24 16:22] Ilaiwi commented on #378
What do you think about maybe track the mouse over event on the root canvas div?

[2018-07-24 16:59] LitvinaviciusM opened #384 "Stackable items"
Hey guys,

Not sure if it is a feature request yet.
Is there any way to stack items only for a specific group ?

Thanks for a great lib! Any advice is welcome!

[2018-07-25 07:19] Ilaiwi commented on #382
Well, for our use case plugins are among the most important feature of this library. For me, I think of the calendar part as layers
[code]
Recently, you added markers to these layers and I think the whole feature could be implemented using plugins only which is EXTREMLLY POWERFUL in my opntion.

The app I use this library in has very customized use cases for this library. This includes, for exampl

[2018-07-25 14:31] Ilaiwi commented on #383
this is related to this #378
The `MarkerCanvas` is blocking the event trigger

[2018-07-26 09:17] ludovicm67 commented on #331
I think it could be interesting to have a prop on the Timeline component taking a function having a date for argument, and returning true or false depending if it is an holiday day or not, so that we can implements easter day and other days like it automatically for each years.

[2018-07-27 19:23] mcMickJuice opened #386 "On mount, Timeline renders twice"
**Describe the bug**
There is a cascading effect in the Timeline component when it mounts:

* component calculates all item positioning
* the timeline is mounted
* in `componentDidMount`, `this.resize()` is called which queries the parent container to get the `width` and `offsetTop`.  It then calls `setState` which kicks off the rerendering process again

This causes a lag in initially rendering t

[2018-07-27 20:37] mcMickJuice commented on #384
I don't believe this is currently possible, although someone else might want to chime in if they were able to achieve this.

[2018-07-27 20:52] mcMickJuice commented on #379
Fixed in 0.18.1

[2018-07-27 20:52] #379 closed

[2018-07-27 20:52] mcMickJuice commented on #377
Fixed in 0.18.1

[2018-07-27 20:52] #377 closed

[2018-07-27 20:53] #376 closed

[2018-07-27 20:55] mcMickJuice commented on #290
Closing as @maxaggedon has a great workaround.  I also think this behavior should be opt-in as there might be users who get frustrated with a timeline that has many items and the only way they can scroll the timeline is by dragging between items.

[2018-07-27 20:55] #290 closed

[2018-07-27 21:05] mcMickJuice commented on #378
@Ilaiwi  I'll try this, or have the MarkerCanvas accept children, or something 😄

[2018-07-29 14:40] mcMickJuice commented on #383
Fixed in 0.18.2

[2018-07-29 14:40] #383 closed

[2018-07-29 14:40] #378 closed

[2018-07-29 14:59] mcMickJuice commented on #382
Thanks for your response @Ilaiwi .

I have a few problems with the plugin API:
* it exposes implementation details (e.g. `groupHeights`, `groupTops`) of the timeline that make refactoring risky and will likely result in breaking changes and major releases if any internal refactoring is done
* it's non declarative
* a lot of the use cases I believe can be achieved by exposing how we render Rows, Co

[2018-07-30 09:04] storrisi commented on #319
I'm into this.
I've set both minZoom and maxZoom to the same value (a month), assuming this would keep the view as "fixed".
Instead, the default view is not set to maxZoom, and when clicking the header renders a different range of time, ignoring minZoom.

My goal is to render a view only by month (and move on the calendar by month as well)

[2018-07-30 10:03] Ilaiwi commented on #311
I think I can solve this after finishing #349. For now, my new headers bounce because of `canvasTimeStart` and `canvasTimeEnd` change where they shouldn't, because of the limit enforced by `onTimeChange`

[2018-07-31 06:00] acemac commented on #357
Is `updateScrollCanvas` neccessary as a callback from `props.onTimeChange`? Can the controlling component achieve the same functionality by passing `visibleTimeStart `and `visibleTimeEnd` based on the result?

[2018-07-31 06:11] acemac opened #393 "Optionally filter out empty groups"
**Is your feature request related to a problem? Please describe.**
We have many groups that track assets and allocation of assets over time. Groups may not exist for periods of time. As we scroll, we would have huge scroll-able areas of empty groups. We currently filter our groups above, which can cause performance problems on scroll as the new array causes a lot of re-rendering.
Would there be mu

[2018-07-31 06:29] acemac commented on #386
This is currently blocking some other performance increases I am working on. The initial render is assuming the planner is 1000px wide and causing the initial display to be off.

Any hints on how to start this? Would it be worth just using a hack to render something cheap to get dimensions and then render the timeline?

[2018-07-31 09:15] Ilaiwi commented on #393
have you tried `onBoundsChange`? it will be much more performant than `onTimechange`

[2018-07-31 14:55] mcMickJuice commented on #393
I too am doing what you describe above (respond to `onTimeChange` to pass in new items) and agree that this behavior of hiding unoccupied groups should be opt in.  The only issue I foresee is maintaining vertical scroll position as groups appear and disappear.  Also, we need to determine when these updates occur.  Probably at the same time we reset the canvas.

Either way I'm all for this.

[2018-07-31 21:54] mcMickJuice commented on #386
I started last week to look at solutions to this.  Here's a POC using an Autosizer component that passes in timeline width and topOffset (the latter is needed for item resizing and dragging):

https://github.com/namespace-ee/react-calendar-timeline/tree/temp/use-autosizer-on-mount-POC

Run the examples (`yarn start`, localhost:8888) and you'll notice that the timeline is misaligned.  This is due t

[2018-07-31 21:57] mcMickJuice commented on #357
As it's currently implemented, yes, you need to call updateScrollCanvas if you specify onTimeChange.

It's a bad API IMO.  I want to propose a better way of controlling timeline time but need to think about it more.

[2018-07-31 22:39] acemac commented on #357
If the component is uncontrolled and is passed `defaultTimeStart`, `defaultTimeEnd` and `onTimeChange` then this is the only way to update the scroll.

In this case would it not always be better to use a controlled component and use `visibleTimeStart`, `visibleTimeEnd` and `onTimeChange`? Calculate new VTS and VTE, then pass those back in?

Internally we have never used the callback

[2018-07-31 22:53] acemac commented on #393
Could this be done by adding an optional prop `groupFilter` that accepts a filter function predicate accepting
`(group, timelineContext)` and returning a boolean?

Filter the groups against this function and check to re-render by comparing `oldArr.length === newArray.length` and then `oldArray[i].id === newArray[i].id`

This would hurt people who are using an index as group ids.

[2018-08-01 10:46] Ilaiwi commented on #329
this will be possible after #391

[2018-08-01 12:08] mcMickJuice commented on #289
This has been published to @beta .  I'm going to merge other substantial changes first then publish to 0.19.0.  Also gotta add a migration from existing item renderer and this one.

Thanks @Ilaiwi !

[2018-08-02 06:21] pranshu1992 opened #396 "Uncaught Error: A valid React element (or null) must be returned"
**Getting this error when I run the basic example**
Uncaught Error: Consumer.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object

[code]

![image](https://user-images.githubusercontent.com/9313077/43565936-843ac9de-95e1-11e8-9e1a-1bb7fa02de52.png)

Here are all the dependencies in my package.json for this test.

[2018-08-02 08:46] Ilaiwi commented on #396
I copied your code in https://codesandbox.io/s/428qqz86j0 and it worked. could you use codesandbox and reproduce the issue please?

[2018-08-02 13:46] mcMickJuice commented on #396
This library supports > react 16. You have React 15.6.1 installed.

You should see a peer dependency warning when you run npm install.

Solution: upgrade to React 16+

[2018-08-02 13:46] #396 closed

[2018-08-02 18:06] pranshu1992 commented on #396
Yes I was able to get it to work with react v16. Is there any plan to make this backward compatible ?

[2018-08-02 18:27] mcMickJuice commented on #396
No there is not.

[2018-08-02 23:15] acemac commented on #332
When using a fixed div, drag and drop is broken if the div is scrolled.

[2018-08-03 11:42] mcMickJuice commented on #332
This is likely due to the fact that drag and drop event is looking at PageY which might be screwed up if you use a fixed div.  Just a guess.

[2018-08-03 13:53] mcMickJuice commented on #228
This should be achievable via solution implemented in https://github.com/namespace-ee/react-calendar-timeline/issues/364

[2018-08-03 13:56] mcMickJuice commented on #372
Released in 0.19.0

[2018-08-03 13:56] #372 closed

[2018-08-03 13:57] mcMickJuice commented on #367
Released in 0.19.0

[2018-08-03 13:57] #367 closed

[2018-08-03 13:57] mcMickJuice commented on #364
Released in 0.19.0

[2018-08-03 13:57] #364 closed

[2018-08-03 13:57] mcMickJuice commented on #289
Released in 0.19.0

[2018-08-03 13:57] #289 closed

[2018-08-03 13:57] mcMickJuice commented on #228
Released in 0.19.0

[2018-08-03 13:57] #228 closed

[2018-08-05 12:28] Ilaiwi commented on #384
This would be very helpful for me as well!

[2018-08-05 13:04] Ilaiwi commented on #349
Hi @mcMickJuice, I started working on this in #391 and I would love to take your feedback on the terminology I used so far.

So a default header would look like this
[code]
So I have 4 components
* `TimelineHeaders` which is the renderer for all the header section above the body of the timeline
*  `SidebarHeader` which renders either the `right` or `left` sidebar headers. It uses child function to

[2018-08-06 10:59] Ilaiwi opened #399 "gh-page not working"
**Describe the bug**
gh page for the lib is not working

**To Reproduce**

https://namespace-ee.github.io/react-calendar-timeline-docs/

[2018-08-06 11:19] mcMickJuice commented on #399
I'd rather remove that link from the description and not maintain the gh page.  However, I don't have admin rights on this repo and cannot remove it.

@mariusandra can you please remove the gh page link from this repo's description?

[2018-08-06 11:28] Ilaiwi commented on #399
maybe we should host the demo on some other host service like `now`?

[2018-08-08 08:46] maxaggedon opened #400 "[Question] Printing / export as PDF"
I need to export my timeline as image or pdf. I wondered if anyone encountered such a use case or have ideas how to do it?

[2018-08-08 11:56] yftachman commented on #332
I'm having difficulty making this work as expected, anyone with knowledge on how the dragging works can shed some light on the subject?

[2018-08-10 05:47] acemac opened #401 "Scroll left/right causes item move/edit to be at incorrect time"
**Describe the bug**
When moving or resizing a booking while scrolling with shift+mousewheel, the position of the action is wrong

**To Reproduce**
1. Go to https://codesandbox.io/s/6vo2jkov23
2. Click on any booking and move it left/right with the mouse
3. Hold shift+mousewheel
4. Booking position will no longer be under mouse

**Expected behavior**
Booking should move with the scroll, bookings c

[2018-08-10 11:39] acemac commented on #338
Would https://github.com/bvaughn/react-virtualized be possible for this?

Or any hints? I'm going to end up with thousands of groups and will need to cut down on re-render times for them.

[2018-08-10 14:47] florianbepunkt opened #402 "Example for resize in itemRenderer"
**Is your feature request related to a problem? Please describe.**
Since 0.19.0 came with a complete refactored itemRenderer prop it would be nice to see in the docs a more complete example(s) that shows how to reproduce the old functionality. I have elements that can be resized. this worked out of the box with a custom item renderer component before. now when I use an itemRenderer function from t

[2018-08-10 15:04] florianbepunkt commented on #402
okay, nevermind… I figured it out. not sure why but in the existing example of the itemRenderer method  all conditionals include a check for `itemContext.showInnerContentsRender` which I have not set. therefore all the resize elements never render.

[2018-08-10 15:04] #402 closed

[2018-08-10 20:18] Ilaiwi commented on #338
Yes, it would. actually, I might experiment with it in the following two days

[2018-08-12 10:35] Ilaiwi commented on #402
my bad! will fix the readme

[2018-08-13 15:41] riflemanIm opened #403 "Help Please. I use create-react-app and I get error Module not found: Can't resolve 'interactjs'"
Failed to compile.

./node_modules/react-calendar-timeline/lib/lib/items/Item.js
Module not found: Can't resolve 'interactjs' in '/home/oleg/sandbox/my-app/node_modules/react-calendar-timeline/lib/lib/items'

[2018-08-14 05:29] dkarnutsch commented on #403
`interactjs` is listed as a peer dependency. So please add it to your webpack config.

[2018-08-14 15:50] samboylett opened #404 "Timeline throws an error if you attempt to use visibleTimeStart or visibleTimeEnd with 0"
**Describe the bug**
Using either visibleTimeStart or visibleTimeEnd with 0 throws an error

**To Reproduce**

[code]

**Expected behavior**
It should not throw an error if you use 0 (but should still throw with any other falsy value)

**Library Version**
`0.17.2`

**Desktop (please complete the following information):**

All

**Smartphone (please complete the following information):**

All

[2018-08-14 15:51] samboylett commented on #404
I'm happy to put in a PR for this 👍

[2018-08-15 09:39] tot98git opened #405 "Conditional to check if the user has zoomed into day view"
Hi all,
I do apologise in advance if such issue has been submitted before.
I am using react-calendar-timeline on an employee management system.
Currently, I am implementing a feature in which when the user is scrolled into month view, it is going to show the shift types (morning / afternoon shifts), but when the user scrolls into day view it is going to give a detailed interval about the employee'

[2018-08-15 10:49] Ilaiwi commented on #405
have you checked `onTimeChange`? it should be called on every zoom event (click and mouse scroll)

[2018-08-15 11:47] tot98git commented on #405
@Ilaiwi Yeah but my problem is not the zoom event not being fired. It's just how to check if the view is day-view. Thank you for your input!

[2018-08-15 12:02] Ilaiwi commented on #405
so `visibleTimeStart ` and `visibleTimeEnd ` are in milliseconds. If you subtract them you should get a duration of the day in milliseconds which is `8.64e+7` or you can use moment to get the moment diff between the two values

[2018-08-15 13:29] tot98git commented on #405
OK! Taking @Ilaiwi advice, I solved my issue. Thank you so much!
To reiterate, my issue was to create an event that checks if the user has scrolled into day view and if they did, the view state would switch to 1. In the context of my project, _view 1_ was employees check in / out intervals and _view 2_ were shift types.
  For anyone who might find this useful in the future, the approach I took tow

[2018-08-15 13:29] #405 closed

[2018-08-17 10:43] prasad0612 opened #406 "Does this library support AMD or requirejs?"
Our application is built in angular1.6 where we are using requirejs to load libraries.
We have also provided react view support.
Now one of the customer want's to use this library, So my question is does this library support requirejs?

[2018-08-17 22:30] ronnyfly2 opened #407 "onCanvasClick on canvas not work"
Hello, the onCanvasClick event does not work on ipad, tablets and mobile devices
How do I make it work?
`import React, { Component } from 'react';
import {Router, Route, Link, RouteHandler} from 'react-router';
import Timeline from 'react-calendar-timeline/lib';
import DatePicker from 'react-datepicker';
import Stickyfill from 'stickyfilljs';
//import momentTimezone from 'moment-timezone';
import

[2018-08-19 06:38] Ilaiwi commented on #407
could you please add your code to a sandbox?
this would be a good starting point
https://codesandbox.io/s/zr5r289rm4

[2018-08-19 23:29] acemac opened #408 "Change onItem* API to return Item"
**Is your feature request related to a problem? Please describe.**
When an item is dragged, editted, moved etc. The `itemId` is passed to the callback.
For simple modifications as in the examples this works well with the `setState` and `map`. But for more complex cases this isn't necessarily ideal.

Every edit, the first thing we have to do it search the items array for the matching id. We take th

[2018-08-27 07:08] NickPeelman opened #409 "A valid React element (or null) must be returned."
When adding the timeline to my ASP .net core 2 project, I get the following error:

Consumer.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.

![image](https://user-images.githubusercontent.com/15141922/44645247-4c6bdc00-a9d7-11e8-9e4a-4872c143623a.png)

I'm using typescript, and these versions:

    "react-calendar

[2018-08-27 10:11] mcMickJuice commented on #409
Please verify that you indeed have React 16+ installed.  That error above is related to returning an array and pertains to React 15 <

[2018-08-27 12:05] NickPeelman commented on #409
I read that too somewhere, so I upgraded my react version in the package.json file. I also deleted the dist folder and rebuild the project.

Unfortunately, this was not enough. I just quickly deleted the node modules folder and manually installed all the packages through cmd (npm install). Now I get a bunch of type (typescript) errors, but I think my react was indeed not fully upgraded, and now it

[2018-08-27 12:05] #409 closed

[2018-08-27 18:29] Ilaiwi commented on #408
Thank you. This will make the API much nicer. For `onItemMove` let's have the group as well passed instead of the group index to make everything consistent

[2018-08-27 18:33] Ilaiwi commented on #404
this would be nice! just make sure the error is not thrown in `production`

[2018-08-28 10:50] rmncavaco opened #410 "Styling issue at first load"
Hello,
I'm testing the basic example and when i first load the page it gets like this:
![image](https://user-images.githubusercontent.com/14841396/44718537-61f00d00-aa8e-11e8-97cc-e68d0afc4da4.png)

After navigate to another page and navigate back to the page where the timeline is, it gets fixed by itself.
![image](https://user-images.githubusercontent.com/14841396/44718615-98c62300-aa8e-11e8-88d9

[2018-08-28 10:50] rmncavaco opened #411 "Styling issue at first load"
Hello,
I'm testing the basic example and when i first load the page it gets like this:
![image](https://user-images.githubusercontent.com/14841396/44718537-61f00d00-aa8e-11e8-97cc-e68d0afc4da4.png)

After navigate to another page and navigate back to the page where the timeline is, it gets fixed by itself.
![image](https://user-images.githubusercontent.com/14841396/44718615-98c62300-aa8e-11e8-88d9

[2018-08-28 10:57] Khyzz commented on #372
Hello,

Any documentation on scrollref? I can't understand how to use it... Thanks.

[2018-08-28 11:02] #410 closed

[2018-08-28 12:35] Ilaiwi commented on #372
They are non for now. Controlled scrolling is not an easy task for now.
On the other hand, ou can pass `visiableTimeStart` and `visableTimeEnd` for now to control scrolling

[2018-08-28 12:43] Ilaiwi commented on #411
This is very weird!
what was your environment?

[2018-08-28 14:11] rmncavaco commented on #411
I'm using with Ant Design UI on top of a React + Redux .net core template

[2018-08-28 16:02] Ilaiwi commented on #411
what os and browser are you using?

[2018-08-28 16:34] mcMickJuice commented on #411
@rmncavaco before we proceed, can you please provide a a repo or a codesandbox that you can share here that displays this bug?  This issue could be an issue with the library or an issue with your code but it's impossible to know without actual code that we can play with.

This is why this project has issue templates (which you should have filled out) configured so that you as the issue creator can

[2018-08-28 16:35] mcMickJuice commented on #408
This would cover https://github.com/namespace-ee/react-calendar-timeline/issues/237

[2018-08-28 16:35] mcMickJuice commented on #237
Discussion moved to https://github.com/namespace-ee/react-calendar-timeline/issues/408

[2018-08-28 16:36] #237 closed

[2018-08-28 16:36] rmncavaco commented on #411
Windows 10 + Chrome Version 68

[2018-08-28 16:36] mcMickJuice commented on #406
It does not currently support requirejs but we do accept PRs!

[2018-08-28 16:37] #403 closed

[2018-08-28 16:39] mcMickJuice commented on #400
This library doesn't support print media queries but you can provide your own.  Just look at the source code to see where classes are added.

This question is out of scope for this repo from a feature/support perspective.

[2018-08-28 16:39] #400 closed

[2018-08-28 16:39] rmncavaco commented on #411
@mcMickJuice i will create a codesandbox asap and let you know.

[2018-08-28 18:46] rmncavaco commented on #411
I've made some code cleaning and apparently it went away....
Sorry about bothering you guys and thank you for you time.

[2018-08-28 20:08] rmncavaco commented on #411
Ok, i was able to reproduce it again in codesandbox https://codesandbox.io/s/wj9r8wy18
Try the following:
Load the page and click on the timeline menu
Click anywhere in the code and hit the "space" bar.

Looks like that any update to the code when the timeline is been rendered causes the CSS to get messed up.

[2018-08-28 20:17] Ilaiwi commented on #411
works fine for me

[2018-08-28 20:26] rmncavaco commented on #411
![capture](https://user-images.githubusercontent.com/14841396/44748963-2b8eae00-aadf-11e8-8fcf-e6106ca58ea0.gif)

[2018-08-28 20:40] Ilaiwi commented on #411
ok I was able to reproduce now. It is a bug of how we calculate the width of the calendar headers part. Will look into it.

[2018-08-29 05:49] dkarnutsch commented on #372
We are using it currently in the following way:
[code]

and to scroll
[code]
Hope this helps!

[2018-08-29 20:57] Ilaiwi commented on #372
Hi @dkarnutsch. Thank you for the example 👍
if you could please do a codesandbox with this snippet and make a PR to add it to examples I would really appreciate it

[2018-08-30 10:32] Khyzz commented on #372
Yes thanks @dkarnutsch.
@Ilaiwi I tried to use visibleTimeStart/End but for some reason I have an error while trying to use it : it doesn't want to take a moment("...") in any format

[2018-08-30 23:52] danielmorine commented on #349
How can I control the state change of the datetime in this.state? I want to control it with a date picker

[2018-08-31 01:50] rohitgupta3 commented on #403
Does this require ejecting then?

[2018-08-31 12:59] mcMickJuice commented on #403
No. You can just npm install it.

[2018-08-31 17:41] danielmorine opened #413 "How can I change calendar data from a picker?"
Hello!
For example, I have a selector and it is controlled by my state this.state.selectDay. I looked in the documentation and in the examples, however, I did not find any component that I could program and put this date control in my calendar. I'm looking for something like: <Timeline
..
**defaultTimeStart** = {moment (). add (-12, 'hour')}
**defaultTimeEnd** = {moment (). add (12, 'hour')}
**dat

[2018-08-31 18:09] Ilaiwi commented on #413
you can do that via visibletimestart and visibletimeend
https://github.com/namespace-ee/react-calendar-timeline#visibletimestart-and-visibletimeend

[2018-08-31 20:12] antoshigas commented on #28
I need this :D

[2018-08-31 23:34] danielmorine commented on #413
It worked, but there is a bug happening, the calendar always brings the information from the previous day. I created two constants and put my state formatted with the momentjs. Debugging through the Google console, the date is right. This is my code:

`        const defaultTimeStart = moment(this.state.selectedDay).startOf('day').toDate();`
      `  const defaultTimeEnd = moment(this.state.selecte

[2018-09-01 06:59] Ilaiwi commented on #413
Please provide a codesandbox example of your problem.
this is a good starting point https://codesandbox.io/s/zr5r289rm4

[2018-09-03 20:39] danielmorine commented on #413
Now it's working. This problem was happening because the Timeline items object was empty. The solution was very simple, I created a fake item and a condition to verify whether it has information or not, if in case it will display my data, if not, it will render my fake data but without displaying it.

Below is an example with a datepicker:
https://codesandbox.io/s/zn07w79z3l

[2018-09-03 20:42] Ilaiwi commented on #413
Oh yes! this is related to this #393. Glad you found the solution

[2018-09-03 20:42] #413 closed

[2018-09-04 08:25] Ilaiwi opened #414 "Timeline `GroupRow` height doesn't match `lineHeight` prop"
**Describe the bug**
If `lineHeight` prop is set then the `GroupRow` will have a height `lineHeight - 1`. This causes problems with how items look when `itemHeightRatio` is set to `1`.

**To Reproduce**

https://codesandbox.io/s/j3o7q8zpj9

**Expected behavior**
`GroupRow` should have the same height as  `lineHeight` prop

**Screenshots**

![screenshot](https://user-images.githubusercontent.com/10

[2018-09-05 20:36] mrampersad opened #415 "Commit e090aeec appears to break item styling"
**Describe the bug**
As of commit e090aeec, item class override for overridable styles doesn't work.

**To Reproduce**

_Please provide one or both of the following:_

1. Try to override the background color of an item using a class name according to the documentation.

https://github.com/namespace-ee/react-calendar-timeline#how-can-i-have-items-with-different-colors

**Expected behavior**
The bac

[2018-09-08 16:55] Ilaiwi commented on #415
Well, to be honest, I thought about that. You can, of course, override the inline styles using  [getItemProps](https://github.com/namespace-ee/react-calendar-timeline#itemrenderer), but I think this depends on the told you are using to style your components.
A solution I thought of is to move all the unnecessary styles to classes but if you are using `itemRenderer` then you will not get these clas

[2018-09-11 16:10] mrampersad commented on #415
itemRenderer is an advanced interface that I am not using. I cannot comment on how the solution will impact users of itemRenderer. It sounds like this will restore the ability to customize the look of items using class names, so I like it.

[2018-09-11 21:44] Shvarts commented on #338
@Ilaiwi Did you have any success on experimenting with https://github.com/bvaughn/react-virtualized?

[2018-09-11 22:45] Ilaiwi commented on #338
@Shvarts no yet. However, I just merged #392 which has a substantial performance boost with no
API changes. I will release it by the end of the week.
I will get to virtual lists sometime soon but I can't say when exactly since I am very busy with work.

[2018-09-12 00:06] vasdee commented on #338
@Shvarts @Ilaiwi shameless plug, but the timeline component mentioned under https://github.com/bvaughn/react-virtualized#friends was heavily inspired by this timeline and got some great performance gains out of react-virtualised. Full disclaimer, I'm a co-author

[2018-09-12 00:42] mcMickJuice commented on #415
@mrampersad Why don't you just use itemRenderer? it's purpose is use cases like this.

[2018-09-12 03:12] mrampersad commented on #415
@mcMickJuice The reason I have not considered itemRenderer is that according to the FAQ, changing the look of an item is two lines of effort: add a className and define it in CSS. Either the new behavior should be considered a bug, or the FAQ should be updated to put in a working example of changing the color. itemRenderer looks very powerful, but it is dozens of lines of reading with concepts tha

[2018-09-12 11:32] mcMickJuice commented on #415
All those points are fair.  Thank you for raising them.

I believe the FAQ needs to be updated as it is out of date.  I understand your concern about having to dig into concepts that you might not need but this library has to strike a balance between developer productivity/ease of use and customization.  We are skewing towards the latter as it gives the developer more power over what is rendered.

[2018-09-12 11:34] mcMickJuice commented on #415
@mrampersad I hope this isn't too much to ask but would you be able to create a codesandbox that reproduces this behavior? Like, have a bare minimum example of what you're trying to do so that, when we make these changes, we can confirm that they fixed your issue?

Here's a good starting point - https://codesandbox.io/s/zr5r289rm4

[2018-09-12 13:24] aaltepet opened #418 "Support displaying timeline in different timezones"
**Describe the solution you'd like**
We're using timeline with groups.  Each group represents an individuals calendar, and the events are times scheduled on the calendar.  This package has been easy to use and works quite well!

Some individuals live in different timezones.  When the timeline first loads, all the events are normalized to a single timezone (CST, i.e. America/Chicago).  We'd like to

[2018-09-12 15:57] z3jd4c opened #419 "More levels of grouping"
Hello,
Is it possible to have more than one level of grouping? For example: building/room/occupancy, and It would be many room groups per one building  group.

[2018-09-13 08:32] Ilaiwi commented on #419
Yes, Please take a look at this https://codesandbox.io/s/k9qyx9zp2o
I am gonna close this for now if you have a question or feature request please follow the template provided for you when you created the issue

[2018-09-13 08:32] #419 closed

[2018-09-13 14:58] mrampersad commented on #415
@mcMickJuice Here is an example that I forked from the starting point you provided. I changed the version of react-calendar-timeline to 0.18.2 to show how it worked (https://codesandbox.io/s/r5w6xxjj4p):

![image](https://user-images.githubusercontent.com/451351/45496188-de4b4700-b742-11e8-8ad6-c68bd7d9f093.png)

This is the same code with only the version changed to 0.19.0 (https://codesandbox.io

[2018-09-13 17:13] ArunChockalingam opened #420 "Styling of overlapping items"
**Is your feature request related to a problem? Please describe.**
To start off with, this is a great library , very extensible. This is more of a question as well.
1. Currently if stackable is false, and two items overlap, one item gets hidden behind the other . Is it possible to color the overlapping areas of the item in a different color
2. If stackable is true, there is no overlap at all and m

[2018-09-14 20:05] kevinmanncito opened #421 "When CustomMarker date prop changes marker doesn't move on the timeline"
**Describe the bug**
Changing the `date` prop passed into a `CustomMarker` component doesn't update on the timeline.

**To Reproduce**
Code sandbox: https://codesandbox.io/s/q9x8zp0qp9

Just enter in numbers in the text field above the time and you can see that the state is updating but the marker on the timeline doesn't move.

~Run the `marker-change-bug` branch on my [fork](https://github.com/ke

[2018-09-14 20:08] Ilaiwi commented on #421
Hi, @kevinmanncito could you please replicate this in https://codesandbox.io/s/zr5r289rm4
It will be easier for all of us helping you here

[2018-09-14 20:18] Ilaiwi commented on #420
Hi @ArunChockalingam. To answer your questions:
1- Well, you can't do it out of the box right now, unfortunately, bit I have a CSS trick that might help you which is to make the background of the item a little transparent. This will make the overlap appear in a darker color which could help. Otherwise, you need to add this as a feature knowing that it is not hard to do.
2- As far as this question

[2018-09-14 20:18] kevinmanncito commented on #421
Updated issue with a code sandbox demo: https://codesandbox.io/s/q9x8zp0qp9

[2018-09-14 20:39] Ilaiwi commented on #415
@mrampersad @mcMickJuice
Sorry for not getting to this sooner. This discussion is very on the point and thank you for raising it. I am actually thinking about this issue for custom headers and I had a very similar conversation with a colleague about where to put styles and how to override them.
So as far as your point @mrampersad about needing a 40 lines itemRenderer to change a color. I have the

[2018-09-14 20:54] Ilaiwi commented on #421
@kevinmanncito yes this is a bug. The problem is that the `CustomMarker` inside `src/lib/markers/implementation/CustomMarkers` is not getting the new date. So there is a quick hack fix that will work just fine implemented [here](https://codesandbox.io/s/6x22l3npkz)
I would appreciate if you went and fixed submitted a PR and fixed this issue 🥇

[2018-09-15 04:53] kevinmanncito commented on #421
You got it: https://github.com/namespace-ee/react-calendar-timeline/pull/422 let me know if you can see a better way of fixing this

[2018-09-17 05:00] renatas7 opened #423 "Additional information showing on hover"
**Is your feature request related to a problem? Please describe.**
Would it be possible to show additional information on bar hover?

**Describe the solution you'd like**
It would be nice to see for example start time and end time just by hovering the bar in the tooltip.

[2018-09-17 14:50] Ilaiwi commented on #386
@mcMickJuice @acemac I just found this  lib [AutoSizer](https://github.com/bvaughn/react-virtualized/blob/master/docs/AutoSizer.md)
it is a perfect fit for the problem we have here

[2018-09-18 07:30] Ilaiwi commented on #423
Hi @renatas7, This is not possible in the current API, however, this is a very useful feature that could be added to the API. If you have the time please feel free to submit a PR adding this.
I would suggest using renderProps to implement some prop called `infoLabelRenderer` or whatever you deem appropriate

[2018-09-19 11:42] WebspressoCo opened #425 "Example not working"
**Describe the bug**
One of the CodeSandbox examples returns an error. The example is listed here: https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples#custom-item-rendering-using-timelinecontext---conditionally-render-components

**To Reproduce**
Codesandbox example link: https://codesandbox.io/s/r74qoxw94p

I haven't looked into the issue, as I'm just trying to select a l

[2018-09-19 11:45] Ilaiwi commented on #425
the problem is that you are passing a class react component as a prop to `itemRenderer` where you should pass a function as explained [here](https://github.com/namespace-ee/react-calendar-timeline#itemrenderer)

[2018-09-19 11:54] WebspressoCo commented on #425
Thank you for checking this out,

I ended up selecting a different library but I wanted to help you improve your docs/examples.

[2018-09-19 11:55] Ilaiwi commented on #425
thanks

[2018-09-19 11:55] #425 closed

[2018-09-22 21:39] acemac commented on #423
I believe this can be achieved using the itemRenderer.

By rendering the item as something that responds to hover you can get this information out and display it how you see fit.

[You could use something like React Semantic Popup](https://react.semantic-ui.com/modules/popup/#usage-nested)

[2018-09-22 21:49] acemac opened #426 "Test Coverage"
**Is your feature request related to a problem? Please describe.**
There is currently ~25% code coverage from unit tests in this library.
There is no tests for the `interactjs` behaviour, scrolling with the mouse etc.

**Describe the solution you'd like**
Better code coverage of the core component loops.
UI automation tests in common browsers for the mouse/touch interactions

**Describe alternativ

[2018-09-24 19:50] ArunChockalingam commented on #420
@Ilaiwi thank you for the suggestions, i will try them out once i get to that part of that app and update the codesandbox as well.

It would be great if the library provided a feature of customizing overlap items in terms of color, margin-top etc. Currently if two items have the exact start date and end date, you cannot see or click one of them unless we have the stackable=true.

Longer term, it w

[2018-09-24 19:56] Ilaiwi commented on #420
@ArunChockalingam out of the box solution would be nice but I am certain you can achieve it without adding it as a feature to the library.
when you get to that part, Please keep this issue updating and feel free to ask any questions regarding on how and where

[2018-09-25 20:38] yotamberk opened #428 "Support right-to-left timeline"
It would be awesome if right-to-left support was enabled.

Maybe simply by adding `dir='rtl'` to the html tag or with an `isRtl` option

This would be useful for languages that are right to left like Hebrew and Arabic

[2018-09-26 04:05] pvtran1995 opened #429 "ItemRenderer is not working"
**Describe the bug**
I can't use itemRenderer. Original example is not working
https://codesandbox.io/s/04l9x67qxv
Please help me!

**Screenshots**
![image](https://user-images.githubusercontent.com/43138633/46056669-ee6c1900-c17b-11e8-85d1-70fcb6933551.png)

[2018-09-26 04:37] gachavez commented on #429
You have to pass in getItemProps() in div tag like this

`itemRenderer = ({ item,getItemProps }) => {
    return (
      <div
        {...getItemProps()}

        <span style={{ fontWeight: 600 }}>Hack:</span>
        <span style={{ textDecoration: "underline" }}>{item.title}</span>
      </div>
    );
  };`

Also, shouldn't this be posted in stack overflow?

[2018-09-26 04:49] pvtran1995 commented on #429
Thanks for your help.
Author should update `div {...getItemProps()} ` in codepen example
![image](https://user-images.githubusercontent.com/43138633/46057879-2aa27800-c182-11e8-8878-6913d009eed2.png).

Thank you very much.

[2018-09-26 07:40] Ilaiwi commented on #429
Yup! I should. I will update it then close this issue to keep track

[2018-09-26 12:46] Khyzz opened #430 "Rendering the timeline while being down on the page makes me appear on top of it"
Hi,

First, thank you so much for this useful plugin.

But I'm facing this problem since I started using it.

**Describe the bug**
Rendering the timeline while being (scrolled) down on the page makes me appear on top of it and it makes me unavailable to modify items at de bottom of the calendar.
Please tell me if this comes from a mistake from me,  or a known bug, or even if anyone already faced t

[2018-09-26 12:59] #430 closed

[2018-09-26 13:00] Khyzz commented on #430
Oups sorry I messed up this is the wrong lib

[2018-09-27 08:54] Ilaiwi commented on #393
I as well have this requirement in my app. I like the approach @acemac have suggested but my thinking is how many `groupItemsForContext` should we pass? only the visible ones? or all of them?
This for me is important because in our app we disable scrolling and we navigate from week to week using a calendar.
let me know guys what do you think

[2018-09-28 11:28] Ilaiwi opened #431 "remove deprecated `toBeInTheDOM`"
**Describe the bug**
the method `toBeInTheDOM` is being deprecated by [`jest/dom`](https://github.com/gnapse/jest-dom#tobeinthedom) causing some of our tests to fail in development environment.

This is an effort to increase testing for this library as described in #426.

**To Reproduce**
1- clone the project
2- run `npm t`

**Expected behavior**
all tests in master should pass

**Library Version*

[2018-09-28 11:42] Ilaiwi commented on #426
hi @acemac thank you for this! I agree this is really needed for this project and crucial for development and stability since there is a lot of code that has not been documented correctly and is very hard to understand like the `stackingItems` code.
I created #431 as a first initiative to increase unit testing and in #391 I aim to do unit tests for the headers which will increase the percentage of

[2018-09-30 07:14] ArunChockalingam opened #435 "Dragging item out of current view"
Is there a way to drag an item out of the current view ? For example, in code sandbox, https://codesandbox.io/s/6vo2jkov23

1. Zoom in a little bit, so the entire timeline is about 8 hours or so at a time.
2. Now drag any item to the end of the day or to tomorrow.

as the item gets close to the end of the current view, you are able to scroll the timeline with the trackpad while still dragging the

[2018-10-02 22:00] acemac commented on #435
@ArunChockalingam I believe this is a bug I have tried to address with #427

[2018-10-02 22:51] acemac commented on #429
@Ilaiwi to jump in on this one.  The default item renderer seems to have changed behaviour.

Previously, the item's text would be this.itemTitle, now it is this.itemDivTitle

Previously the item's div title (the tooltip) would be this.itemDivTitle, it is now not set.

[2018-10-03 03:35] acemac opened #437 "Cannot interact with item that is initially selected"
**Describe the bug**
If an item is mounted and selected initially user is unable to interact with it.

Interaction events are attached to the item the first time the item is selected in componentWillReceiveProps.

componentWillReceiveProps does not fire on first mount, which causes issues

**To Reproduce**

_Please provide one or both of the following:_

The base template for bugs no longer works.

[2018-10-03 12:42] mousumi-dualcube opened #438 "Uncaught Error: Consumer.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object."
Getting bellow error -

I am getting this error when I am starting the npm by "npm start". Please follow the below file. And suggest me the issue. It seems timeline component returning null.

**Index file -**
import React from 'react'
import ReactDOM from 'react-dom'
import Timeline from 'react-calendar-timeline'
// make sure you include the timeline stylesheet or the timeline will not be styled
i

[2018-10-03 16:38] ArunChockalingam commented on #438
@mousumi-dualcube i do not think this this is a react calendar timeline issue as you are not using the timeline component anywhere except for importing it.

I was able to load your index file fine without any issues, had to wrap your "Rendered by React!" string in quotes. So your issue must be in some other file?

[2018-10-03 16:40] ArunChockalingam commented on #435
@acemac thank you!
@Ilaiwi will this get into the next version?

[2018-10-03 19:27] Ilaiwi commented on #435
@ArunChockalingam I will try to do so. I just need to resolve something first that has to do with releases

[2018-10-04 05:47] mousumi-dualcube commented on #438
Sorry. My bad. I am facing the issue with following code -

**Index.js**

import React from 'react'
import ReactDOM from 'react-dom'
import Timeline from 'react-calendar-timeline/lib'
// make sure you include the timeline stylesheet or the timeline will not be styled
import 'react-calendar-timeline/lib/Timeline.css'
import moment from 'moment'

const groups = [{ id: 1, title: 'group 1' }, { id: 2,

[2018-10-05 13:03] mousumi-dualcube commented on #438
Hi,
This issue get resolved with 0.17.0 version of react-calendar-timeline. I think current version is not supporting with react version. But I need another help. On first click, we select the item and onitemClick event fire on second click. So can we skip the select event and fire click event on first click ?
Please help.

[2018-10-07 22:17] acemac opened #440 "Resizing the sidebar does not cause update"
**Describe the bug**
If the sidebar is resized, the component will not update as expected. This is on develop/master 0.20

**To Reproduce**

Resize the sidebar. Can use one of the demos, set the sidebar to the state, and call a setState changing the sidebar's width

[2018-10-08 05:55] dkarnutsch commented on #438
@mousumi-dualcube
There is a property called [itemTouchSendsClick](https://github.com/namespace-ee/react-calendar-timeline#itemtouchsendsclick) for that.

[2018-10-08 06:18] mousumi-dualcube commented on #438
Sorry, I have tried with below code. But again it is not working. First item select get called after that item click is called.

`<Timeline
          groups={groups}
          items={items}
          keys={keys}
          itemRenderer={this.itemRenderer}
          groupRenderer={this.groupRenderer}
          sidebarWidth={0}
          sidebarContent={<div style={{textAlign: 'center'}}>Survey</div>

[2018-10-08 06:56] dkarnutsch commented on #438
@mousumi-dualcube
Please create a minimal code sandbox showing the problem.

[2018-10-08 15:49] thiagosatoshi opened #442 "InfoLabel shows [object Object] in tree group when dragging items"
**Describe the bug**

An InfoLabel is displayed when an item is being dragged. When using tree groups, the InfoLabel shows [object Object].

The reason is because the Sidebar and the InfoLabel both use the groupTitleKey to render themselves, but the groupTitleKey can point to a React element for the Sidebar. This is used in the tree group functionality, to simulate collapsing/expanding of the grou

[2018-10-13 17:09] Ilaiwi commented on #311
this is solved in 0.20.0

[2018-10-13 17:09] #311 closed

[2018-10-13 17:13] Ilaiwi commented on #407
no sandbox was provided

[2018-10-13 17:13] #407 closed

[2018-10-13 17:14] Ilaiwi commented on #421
released in 0.20.0

[2018-10-13 17:14] #421 closed

[2018-10-13 17:19] Ilaiwi commented on #429
@acemac yes you are correct my bad. I will keep this open then, but if you would like to create another issue with a codesandbox example that would be appreciated.

[2018-10-13 17:19] #431 closed

[2018-10-13 17:28] Ilaiwi commented on #438
@mousumi-dualcube itemRendere will solve your issue using `propGetter`
this example has your requirement https://codesandbox.io/s/1p8m477w7
if you have other questions please open another issue

[2018-10-13 17:28] #438 closed

[2018-10-13 17:38] Ilaiwi commented on #357
@mcMickJuice @acemac in 0.20.0 this issue was solved for the item canvas and now it only affects the headers, Am I right?

[2018-10-13 21:12] marwej opened #446 "Sidebar header disappears with no sidebarContent prop"
**Describe the bug**
With no `sidebarContent` the (left) sidebar header disappears and timeline header is misplaced.

**To Reproduce**
Provide no `sidebarContent` prop. Setting it to e.g. `<div/>` will solve the issue.

**Screenshots**
![image](https://user-images.githubusercontent.com/5296840/46910017-0ba33480-cf3d-11e8-88de-a710aeb67d2a.png)

**Library Version**
0.20.0

**Desktop (please complet

[2018-10-14 01:59] acemac commented on #357
@Ilaiwi Yes!

If `defaultTimeStart` and `defaultTimeEnd` are passed in, the component is allowed to do whatever it wants with regards to changing time.

If `visibleTimeStart` and `visibleTimeEnd` are passed in, then `onTimeChange `callback must be passed in too. In this instance, the displayed time can be validated by using `onTimeChange `and `setState `in the parent container.

With the 0.20 chan

[2018-10-16 16:10] bingle87 commented on #446
I have the same issue. Did you find a fix?

[2018-10-16 16:14] bingle87 commented on #446
Nevermind. Re-read the comment. Thanks for the fix.

[2018-10-16 23:13] ArunChockalingam commented on #423
I got this to work and here is the skeleton of what is needed. For this to work correctly , have the below code in a separate component and return this component in the item renderer method

In the item Renderer:
`
<div
        {...getItemProps({
          style: {
            background,
            color,
            borderColor,
            boxShadow,
            borderStyle: "solid",

[2018-10-17 21:15] Ivo-Donchev opened #450 "Cannot provide `backgroundColor` without `backgroundColor when item is selected`"
**Describe the bug**
If itemRenderer is predefined and backgroundColor is passed as in https://codesandbox.io/s/1p8m477w7 (CustomTimeline.jsx/line 41) , you need to to provide different color when item is `selected`, otherwise when you click on item and click away the background color is the default `blue`

**To Reproduce**
1. Open https://codesandbox.io/s/1p8m477w7
2. Go to CustomTimeline.jsx / l

[2018-10-19 10:08] saajuck commented on #450
Same issue here, fixed by using `background` instead of `backgroundColor`

[2018-10-20 17:48] Ilaiwi commented on #423
maybe I didn't get what the issue was referring I understood it to be about the hover bar that appears when you move or resize an item.
@renatas7 could you please provide more context

[2018-10-21 08:34] Ilaiwi commented on #446
this will be fixed wuth #391

[2018-10-21 10:43] tony-show opened #451 "Items are not dragged. And the layout of the timeline is a bit broken."
Hello!
I used to start create-react-app, but after insstall and start project, i look for this problems:
1 - Items are not dragged and resizing.
2 - And the layout of the timeline is a bit broken.

This is gif screencast for a problem - https://svoywebsayt.ru/gif.gif

Anybody know what this happenes? Thank, you lot!

[2018-10-21 11:43] holytoastr opened #452 "Documentation for verticalLineClassNamesForTime returns only first holiday in array"
**Describe the bug**
The documentation for verticalLineClassNamesForTime provides an example that only returns data for the first holiday that meets the conditions in the holiday array, regardless of date range. This is because the return statement is within the if block. For a new user, this behavior can be extremely confusing.

I spent a full day trying to debug my code, to discover it was only

[2018-10-21 12:59] Ilaiwi commented on #451
@tony-show could you please follow the issue template and provide a codesandbox for your issue

[2018-10-22 15:13] Reixko commented on #451
Hello, @acemac I have the same issue when resizing items, but I'm handling callbacks. Do you think that can be a bug ? Also, there is that exact issue in the Demo about Moving and resizing on the front page.

[2018-10-22 20:33] acemac commented on #451
Thank you @Reixko

RCT now depends on React 16.3 or greater. In the example it is using React 16.0.

After upgrading the [example ](https://codesandbox.io/s/lx91k4wpz) to 16.3 it is working a bit better.

[2018-10-23 04:48] maxlibin opened #453 "import * will not work"
[code]
I am binding this to reasonml, and with es6 module, it imports * as default way, but this will not work?

[2018-10-23 06:45] Ilaiwi commented on #453
this will not work because we use the default export to export the timeline and we use named exports to export marker's components.
not sure how to deal with default exports in reasonml but please if you figured it out share the solution with us herer

[2018-10-23 08:55] maxlibin commented on #453
ok I can import default from reason side:

[code]

[2018-10-23 08:56] #453 closed

[2018-10-23 10:10] ifordesmith opened #454 "Today Marker Styling"
How can you set the style of the Today Marker Line - I've tried setting in line styles on <TodayMarker> but it still defaults to Black ?

I can see in your implementation the colour is set to Black but I'd like to control this.

[2018-10-23 14:46] renatas7 commented on #423
I mean just showing some additional content, for example bars start time and end time, on  hover. Not on action(move or resize). Now it's just appears standart browsers tooltip with bars title.

[2018-10-24 08:07] jarnovanrhijn opened #455 "When zooming in/out events are moved across the timeline"
**Describe the bug**
When zooming in/out events are moved across the timeline and then do not match the start and end time.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/zr5r289rm4
2. Zoom in / out
3. See events being moved to the left / right

![screen recording 2018-10-24 at 10 01 32 1](https://user-images.githubusercontent.com/2767127/47415731-755ce300-d7

[2018-10-24 08:19] jarnovanrhijn commented on #454
Try adding the following within <Timeline> component

https://codesandbox.io/s/lxlnjz36wm

              <TodayMarker>
                {({ styles }) => (
                  <div style={{ ...styles, backgroundColor: 'green' }} />
                )}
              </TodayMarker>

[2018-10-24 08:54] #454 closed

[2018-10-24 10:28] Ilaiwi commented on #455
@acemac I have the same issue using the sandbox provided by you but it appears when you zoom in and out with the subheader has day units shown (sorry I do not have gif capture on my osx machine)

[2018-10-24 10:44] acemac commented on #455
@Ilaiwi Thats no good! I'll get an MacOS machine to test against.

Every 'tick' of my mousewheel triples the amount of timeline shown. And zooming in from any level immediately zooms to a 1 hour visible range. This has always been the behaviour we see on Win10, Win8 and Windows Server.

The video provided there seems to be far more control over the zoom level. Perhaps a race condition with multipl

[2018-10-24 10:51] Ilaiwi commented on #455
@acemac yes scrolling events seem to have a different behavior in osx than windows. I don't think it is a race condition though because we don't pass state from children to parents but maybe I don't know much about the race condition problem in react much.

I will debug this after work and comment my findings here

[2018-10-24 11:02] Ilaiwi commented on #423
@renatas7 then the example @ArunChockalingam should do the trick. ItemRendere is the solution

[2018-10-24 11:02] #423 closed

[2018-10-24 11:04] acemac commented on #455
@Ilaiwi Good job :) Is this broken? [Example using setState from parent](https://codesandbox.io/s/l52j57yrz9)

Timeline.js line 495

[code]

This is a potential race condition if I understand React correctly.

[code]

[2018-10-24 11:08] jarnovanrhijn commented on #455
@acemac & @Ilaiwi, I've tested with your example but the problem still persists. Also tested it in Microsoft Edge (in parallels) and the problem also exists there. If i can help out with testing or debugging let me know.

[2018-10-24 21:02] Ilaiwi commented on #455
@acemac
So the timeline recalculates the items' positions in 4 cases:
1- if you have default time start and default time end on initialization
2- if you change visible time start and visible time end
3- on dragging items and resizing them
4- on mouse wheel and scroll events
all the above cases end up setting state using the function `calculateScrollCanvas` but this function acts smart. if you chan

[2018-10-25 00:55] acemac commented on #455
@Ilaiwi Thanks for investigating. I will do a PR adding a check to re-draw if the zoom level changes.

[2018-10-25 06:13] jarnovanrhijn commented on #455
@Ilaiwi, Thanks for the quick reply and (temp) fix!! Will use the onChangeTime handler for now!

[2018-10-25 18:37] mcMickJuice commented on #428
I'm sorry but this is too specific of a use case for us to take this in.  If you'd like to implement and create a PR and that PR gains enough interest, we can look at it.

[2018-10-25 18:37] #428 closed

[2018-10-26 13:19] MartaDS opened #459 "I have a console.log showing the correct information onMouseDown event how do I change it so it shows the data in a pop up window?"
import React, { Component } from "react";
import moment from "moment";
import Timeline from "react-calendar-timeline";
import generateFakeData from "../../generate-fake-data";

export default class App extends Component {
constructor(props) {
super(props);

const { groups, items } = generateFakeData();
const defaultTimeStart = moment()
  .startOf("day")
  .toDate();
const defaultTimeEnd = moment()

[2018-10-26 15:12] neartik opened #461 "Graphic issue: empty block at top right corner"
We updated the timeline to the last version today ("react-calendar-timeline": "^0.20.0")

Since then, we have an empty space at the top right of the calendar:
![image](https://user-images.githubusercontent.com/7240294/47575335-295f9900-d942-11e8-9c93-be12b7097bd7.png)

I used the code of the example, that I included inside my template.
Right click => Inspect on this space shows me the calendar com

[2018-10-26 15:15] neartik commented on #461
Indeed, we have upgraded React to "react": "^16.6.0".
Is something planned to make it compatible for react 16.6 ?

Regards & thanks for your help

[2018-10-26 15:17] Ilaiwi commented on #461
it works with react 16.6
https://codesandbox.io/s/6xlw8q8ppz
please provide a code sandbox for your problem and we will help you on that is happening

[2018-10-26 19:28] Ilaiwi commented on #451
peer dependency added

[2018-10-26 19:28] #451 closed

[2018-10-27 11:14] Ilaiwi commented on #459
@MartaDS could you please follow the issues templates and provide a codesandbox for your question here
https://codesandbox.io/s/jv987l9l95

[2018-10-29 08:45] MartaDS commented on #459
Hi Ahmad,

I've insered the code into sandbox: https://codesandbox.io/s/l5174m72vm

The data starts on the 11th of October, so you might have to scroll to it. Is there a way of ending the calendar on the specific date, so I don't need to scroll to the 11th?

[2018-10-30 21:14] danielmorine opened #464 "[Possible] Disable the click on the header?"
Hello!

I have a question: can I disable the click on the header to not change the time and date? I have a mini calendar that makes date change and I want to remove this click on the timeline header.
I looked at the documentation but could not find a solution.

Thanks for the help!

[2018-10-31 08:35] Ilaiwi commented on #464
@danielmorine this will officially drop when #349 finishes but for now, you can do that using `onTimeChange` since it is called when you click the header and you can block the change from there

[2018-10-31 18:20] danielmorine commented on #464
Perfect, it's working the way I want it to. Thanks for your help one more time!

[2018-10-31 18:20] #464 closed

[2018-11-01 15:36] JaredDiCioccio opened #465 "What determines vertical stack order for events?"
I have a requirement to display events, and one requirement is to have "similar" events from one source drawn in the same row.

For example:

![Example](https://i.imgur.com/6VVbnIL.png)

These are all events from "Node 1". We want all "TX" events to be drawn on the same row, and all "RCV" events to be drawn on the same row. So for this example I want the two "TX" events to be in the 'second row' o

[2018-11-02 16:07] JaredDiCioccio opened #466 "Scrolling in real time."
I know you can scroll programatically with `scrollRef.scrollLeft`, but is there any built in way to scroll in real time? essentially so regardless of zoom level "Now" would always be in the center of the viewport? Essentially making a real time animated timeline.

[2018-11-04 20:26] tony-show opened #467 "prevent stack elements from crossing and overlapping?"
Hello everybody!
Is there any way to prevent stack elements from crossing and overlapping???

Thanks for answers!

[2018-11-05 20:40] acemac commented on #465
I've had a quick look through the code and there is very little science to the overlapping. From what I understand is that the items are placed on the timeline in the order they come in from the items array.

If the item overlaps with an item with a lower index, it will be moved down a level.

To better control how the items render could you use multiple groups and styling?

[2018-11-05 21:01] acemac commented on #466
You could scroll in real time quite easily.

[Take a look at this](https://codesandbox.io/s/1y7no02j2l)

I've had a go with the example you provided in your other question. I had to upgrade React to 16.3. When you click the button it should start 'scrolling'. You could put this code in componentDidMount. You should also keep the reference to the interval and clean it up if the component unmounts.

[2018-11-05 21:09] acemac commented on #467
If the items already overlap they will be rendered as such.

If you want to stop the user from dragging or resizing an item to overlap you could use [moveResizeValidator](https://github.com/namespace-ee/react-calendar-timeline#moveresizevalidatoraction-itemid-time-resizeedge)

[2018-11-08 00:29] lucasasalmins commented on #256
@viestat did you get this working? I'm having the same issue

[2018-11-16 16:17] Ilaiwi commented on #452
@holytoastr could you please provide a sandbox example?
I've seen the discussion you had with @dkarnutsch in the PR and I agree that your fix will only add ``holiday` over and over again.
I really appreciate your effort in helping this library

[2018-11-16 17:03] Ilaiwi commented on #429
released in 0.22.0

[2018-11-16 17:03] #429 closed

[2018-11-16 17:04] Ilaiwi commented on #401
released in 0.22.0

[2018-11-16 17:04] #401 closed

[2018-11-16 17:04] Ilaiwi commented on #442
released in 0.22.0

[2018-11-16 17:04] #442 closed

[2018-11-16 19:48] Ilaiwi commented on #437
@acemac has this been fixed with the `0.22.0` release?

[2018-11-16 19:49] Ilaiwi commented on #466
@acemac thanks for helping

[2018-11-16 19:49] #466 closed

[2018-11-16 19:50] Ilaiwi commented on #435
@ArunChockalingam released with `0.22.0`

[2018-11-16 19:50] #435 closed

[2018-11-16 20:11] Ilaiwi commented on #465
@JaredDiCioccio I dont think this would work in the current implementation.
you are welcome though to submit a PR to support the needed behaviour but it is not in our current plans to do so

[2018-11-16 20:12] Ilaiwi commented on #467
@tony-show Please follow the issue template and provide more description on what you are asking

[2018-11-19 10:10] Ilaiwi commented on #299
revisit after `refactor stackItems`

[2018-11-19 11:46] maxlibin opened #471 "how do you set a defaultSelected"
how do you set a defaultSelected without require to handle onitemSelect itself?

[2018-11-24 19:06] sm1ddy opened #473 "StackElements does not work with Date Objects"
I've noticed that StackItems does not work when trying to use Date Objects on items. On the other hand, using moment seems to work.

[2018-11-24 20:47] Ilaiwi commented on #473
you can either use moment or UNIX milliseconds only we dont support native date

[2018-11-24 20:47] #473 closed

[2018-11-27 04:33] ArunChockalingam commented on #435
@Ilaiwi Thanks a lot! will try it out

[2018-11-27 17:17] brightMarco opened #475 "How to re-render the component when changing locale?"
I'm having some trouble with changing locales. I have the Timeline running with default english but when I change language the component doesn't update the labels to the new language until I scroll a bit to make it re-render or until I refresh the page. I've searched the documentation but found no way to make the component re-render when I change the locale on componentDidUpdate(). Any way to deal

[2018-11-27 17:19] Ilaiwi commented on #475
you can pass new items kist or group when changing the local that will definitely help

[2018-12-01 20:56] tony-show commented on #467
@Ilaiwi
When i try drag item to date-time another item, making crossings items or draging item jump to new line.

How i can prevent crossings or overlappings items in one zone date-time, to make the dragged item jump to the intersected item before or after it?

Looking this problem in gif video (!calendar modify view): https://svoywebsayt.ru/corssing_items.gif

[2018-12-03 12:47] jarnovanrhijn commented on #382
Hello @Ilaiwi, is it possible to give an example on how to use your idea of `DroppableLayer`? Or has another solution been implemented in the meantime?

Thanks in advance :)

[2018-12-03 22:09] Ilaiwi commented on #382
@jarnovanrhijn I use it currently to drag shifts from outside the scheduler to the scheduler. I use [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd) (which is an overkill for now). I created droppable areas using `plugins` the same way I did in https://codesandbox.io/s/wknzrlz557 and dragging draggable shifts from an outside area to those dropabbles.

BUT I NEED TO WARN YOU.

[2018-12-04 06:43] jarnovanrhijn commented on #382
@Ilaiwi, Thanks for the quick response. Will implement it for now as i need it asap but will be aware of breaking changes next year!! Keep up the good work :)

[2018-12-04 06:49] Ilaiwi commented on #382
@jarnovanrhijn I would really appreciate it if you create a codesandbox with your code. This way you give also back to the community.

[2018-12-04 12:44] jarnovanrhijn commented on #382
@Ilaiwi, I'm trying to create a codesandbox but need some help. I'm a bit stuck at trying to calculate the start time when dropping an item from outside the timeline area. If you could point me in the right direction that would be great. I've build upon your example and added react-dnd for dragging and dropping. code can be found here: https://codesandbox.io/s/o5w280jzn5

[2018-12-04 21:53] richard-still opened #476 "Timeline goes onto 2nd row"
Timeline goes onto 2nd row,

I think there are sometimes issues with the way the width of the viewport is calculated, which in some circumstances can make the timeline go onto two rows like the screenshot below. Resizing the screen forces a recalculation and it renders properly. You can also see this in the codesandbox examples if you slowly resize the preview pane to be smaller, the items jump do

[2018-12-05 19:51] madhujahagirdar opened #477 "Add external events in to calendar"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Drag an element from a list, which is not scheduled, to calendar on specific time.

**Describe alternatives you've considered**
None

**Additional context**
None

[2018-12-06 03:27] SDupZ opened #478 "The sidebar re-render's even when group heights do not change"
**Describe the bug**
The sidebar will re-render even when the groupHeights prop passed into the sidebar component has the same values inside the array.
This causes an unnecessary re-render of the sidebar when zooming in or out.

**To Reproduce**

Steps to reproduce the behavior:
1. On master, add the following snippet to `lib/layout/Sidebar.js`
[code]

2. Zoom out to the top-level zoom. Zoom one l

[2018-12-07 11:50] Ilaiwi commented on #476
yep I reproduced it in https://codesandbox.io/s/ypy86zww9v . Thanks for noticing that and for the fix. I will make sure the example works after merging

[2018-12-07 12:12] #475 closed

[2018-12-07 12:35] Ilaiwi commented on #476
Ok, I spent some time trying to reproduce this. So to reproduce the problem visit this URL https://ypy86zww9v.codesandbox.io/
to reproduce
1- hover over the left edge of the gray div till resize pointer appear
2- resize the timeline by dragging the edge right and left
So as you can see the problem is not with the calendar div that you added `flex` to but is with the sidebar header collapsing.
This

[2018-12-09 14:47] stasrdv opened #481 "Vertical column for time."
**Is your feature request related to a problem? Please describe.**
Is there any option rotate the calendar so the hours would be on the left and the column of the 'groups' on top ?

**Describe the solution you'd like**
Both vertical and horizontal view.

[2018-12-10 11:06] dkarnutsch commented on #481
Until July it was not planned. See: https://github.com/namespace-ee/react-calendar-timeline/issues/370

[2018-12-10 19:24] Ilaiwi commented on #481
as @dkarnutsch said there is no current plan to implement this. If you want to start with it and add it as a feature please feel free to open a PR to do so.

[2018-12-11 16:12] florianbepunkt opened #482 "Change infobox that appers when moving an item"
**Is your feature request related to a problem? Please describe.**
When dragging an item, an info box appears on the bottom left corner of the screen. I would like to format the content. In my case the day in the date is irrelevant, so therefore I would like to only show the time in HH:mm format. Also I would like to add/change content based on the group.

**Describe the solution you'd like**
Prov

[2018-12-11 21:39] #481 closed

[2018-12-12 18:02] JaredDiCioccio opened #483 "Is there any way to change the color of the sidebar and top bar?"
I cannot find a way to change the red color below to anything else. Is there any way, hacked together or not, to change this color?

![baerwgp](https://user-images.githubusercontent.com/633075/49888884-1af41080-fe0e-11e8-8a26-466b7bcda7eb.png)

[2018-12-12 19:31] Ilaiwi commented on #483
you need to override there css rules

[2018-12-13 17:07] JaredDiCioccio commented on #483
Thanks for the reply. This is my first big web-dev project so was a little unclear on how to find the correct css selectors.

For anyone else... this was my solution:
[code]
![image](https://user-images.githubusercontent.com/633075/49954937-a2558880-fecf-11e8-9a3a-d3bd7d226269.png)

[2018-12-13 17:07] #483 closed

[2018-12-13 17:15] Ilaiwi commented on #467
by using [moveresizevalidatoraction](https://github.com/namespace-ee/react-calendar-timeline#moveresizevalidatoraction-itemid-time-resizeedge)

you this callback will fire on every move/resize. the return value will determine if the item should be moved to its new dragging position or not

[2018-12-17 14:38] schevall opened #484 "CanMove set to False doesn't forbid moving items"
Great component, exactly what we needed, but it seems that the canMove bool no longer fill its purpose

**Describe the bug**
When canMove is set to False, items can still be moved

**To Reproduce**
On the example given by this repo about restricting resize and move. Set canMove to false for all items

**Expected behavior**
Items with canMove === False are not draggable

**Screenshots**
If applicab

[2018-12-19 20:18] Ilaiwi commented on #484
Hello guys. I will include a fix for this in the next release. I would really appreciate it if you guys submit a PR to fix this. it will make it easier for me and the release will go out faster

[2018-12-19 21:16] acemac commented on #484
A workaround to this could be to use moveResizeValidator to prevent the moving. and set `canChangeGroup={false}`

This is a problem in `Item.js`. I am not sure why it has not presented sooner. The problem code has been around for a long time.

When items initially selected, their click handlers are mounted in `mountInteract`.

As permissions for the item can change, the permissions to resize or mo

[2018-12-20 15:25] z3jd4c opened #486 "Different lineHeights depending on item height"
I have different types of items in calendar when I'm using custom item renderer.
Some of items are smaller and some of item are higher.
Is there any chance to have lineHeight as big as highest item in a row?

[2018-12-23 10:17] #467 closed

[2018-12-23 11:08] tony-show commented on #467
@Ilaiwi Thank you!

[2018-12-26 15:37] mertcanyalhi commented on #411
Hey, is there any progress on this issue?

[2018-12-26 15:46] mertcanyalhi commented on #411
Hi, is there a workaround for this issue?

[2018-12-28 18:29] everaldo opened #487 "Calendar lines misaligned with header"
**Describe the bug**
Calendar lines are not aligned with header.

Version: 0.22.0

**To Reproduce**

Create a simple calendar without any custom options

**Expected behavior**

Calendar lines should be aligned with header (dates) lines.

**Screenshots**

![issuereactcalendartimeline](https://user-images.githubusercontent.com/892012/50524553-818b5680-0abd-11e9-9cd2-6ed98ccfeb0a.png)

**Library Vers

[2018-12-31 13:18] Cyanures opened #488 "I can't add timeline to my project"
**Describe the bug**
Hello, I can not import the REACT component. My project transpires well but when I launch my app, I have a visual problem with the application watching the screen shot below. And I can not moove the tasks I can not help but do not know how to do it.

Thanking you in advance,

Regards,

**Screenshots**
![image](https://user-images.githubusercontent.com/46154944/50560977-665f578

[2018-12-31 14:16] everaldo commented on #487
I was able to fix it when added the props sideBarContent, as showed in the example's page:

https://codesandbox.io/s/w6xvqzno4w

![fixedwhensidebarcontentwasadded](https://user-images.githubusercontent.com/892012/50561842-ddd8bb00-0cf5-11e9-9102-e2b18364bf0f.png)

[2018-12-31 14:17] #487 closed

[2018-12-31 14:17] everaldo commented on #488
@Cyanures , about the misalignment, I was able to fix it by adding the sideBarContent props

https://github.com/namespace-ee/react-calendar-timeline/issues/487

[2019-01-02 08:12] Cyanures commented on #487
Thank it fixed my problem :)

[2019-01-02 08:13] Cyanures commented on #488
@everaldo Thanks it fixed my issue 👍

[2019-01-02 08:13] #488 closed

[2019-01-02 14:49] Cyanures opened #489 "Change size of column"
How can we change the size of the weekends in timeline

(smaller saturday and sunday) ?

Thank you for giving me a hint

[2019-01-05 01:14] TiagoGraf89 commented on #411
I'm an issue which i think its also related to the calculation of the header width.

![chrome-capture](https://user-images.githubusercontent.com/9963897/50718364-c5dda000-1043-11e9-95de-ecc22d24cde3.gif)

In the initial state the sidebar header is not property aligned,
after a page resize (or `window.dispatchEvent(new Event('resize'));` like @mertcanyalhi mentioned) it seems to get resolved.

Also

[2019-01-05 07:09] Ilaiwi commented on #411
@TiagoGraf89 this will be solved as well with `Custom headers` which is getting closer and closer to the end line.
could you please provide a codesandbox issue for future testing?

[2019-01-07 14:31] migrachev opened #490 "Attaching event listeners to Item is failing."
**[My use case]**
I want to start with what I am trying to achieve.
I like the **DefaultItemRenderer** and for my needs I see no reason to override it and/or use **Timeline.**_itemRenderer_. However I need to attach simple React events to the outer _**div**_ of the Item. As an example I would like to add _**onKeyPress**_ event listener. Please note that in order for that listener to work properly

[2019-01-09 11:20] uffou opened #491 "Entire timeline re-renders when you move or resize of item"
**Describe the bug**
Entire timeline renders when you move or resize an item. I believe this to be the main reason for poor performance during this action.

**To Reproduce**

1. Turn on react render highlights in chrome dev tools
![image](https://user-images.githubusercontent.com/2581788/50896104-b3cb7b00-1410-11e9-95d8-0d9b823e58f7.png)

2. Drag to move or resize an item

**Expected behavior**
I

[2019-01-13 14:51] Ilaiwi commented on #491
We are aware of the issue please take a look at #338.
This is how the library work more not just simple optimization problems

[2019-01-13 14:51] #491 closed

[2019-01-13 14:52] Ilaiwi commented on #490
this feature was deleted when we launched `itemRenderer`. For your case you need to use `itemRenderer` to attach the listeners

[2019-01-13 14:55] Ilaiwi commented on #489
this is not currently a feature, unfortunately. If you would like to submit a PR to add it. but we currently dont have any plan to add this feature

[2019-01-13 14:55] #489 closed

[2019-01-14 07:59] migrachev commented on #490
Thank you. I manage to make it work with _**itemRenderer**_. However I got two ideas on how to improve that. Hopefully I will have some time soon to make it into a PR.

[2019-01-14 08:38] Ilaiwi commented on #490
@migrachev looking forward to it

[2019-01-14 13:33] Ilaiwi commented on #384
released in 0.23.0

[2019-01-14 13:33] #384 closed

[2019-01-14 13:34] Ilaiwi commented on #484
released in 0.23.0

[2019-01-14 13:34] #484 closed

[2019-01-14 13:34] Ilaiwi commented on #478
released in 0.23.0

[2019-01-14 13:34] #478 closed

[2019-01-17 12:23] dziugas-liaudinskas opened #493 "Omit hours from the timeline"
I need to implement timeline but it shouldn't show all hours from 00 to 23. For example, I set hours to be shown from 08 to 17 and each day shows only these hours. I searched for examples and looked to the props but couldn't find a solution for that. I found this quite old issue which is related to mine ( #73 ) and there is said that it is not possible, but maybe something changed and this feature

[2019-01-17 17:37] Felix-N opened #496 "Document timelineRef and zoom methods"
Add documentation about the timelineRef and methods for manual zooming

See #69

[2019-01-17 21:34] msand commented on #156
I've implemented a proof of concept for drag & drop unto the timeline from outside of it here: https://github.com/msand/react-calendar-timeline/commit/e2c72b0167a0776d44162d6adbf27fe2669aeb05
@mcMickJuice What do you think of this? Any suggestions how to improve it? Is it alright to depend on these internals? Or should the logic be moved inside the Timeline component?

[2019-01-17 23:47] Felix-N opened #497 "height calculation of stacked items is off if no item is visible in a line currently"
the calculated lineHeight is off when stacking is enabled and a given line has no item visible (or on the canvas).

If an item comes into the view / canvas the line hight gets calculated. However the linehight is incorrect.

I've fixed it for my use case and added it to the pull request
https://github.com/namespace-ee/react-calendar-timeline/pull/495

Though I've just updated the snapshots and did

[2019-01-21 03:19] richardgirges commented on #156
@msand that is almost exactly what I was looking for! But there is one issue: when you scroll through the timeline, or zoom in/out of the timeline, the drop starts to become inaccurate. I'm noticing that the event is placed at a later time than intended. It doesn't happen if I load the demo and drag+drop without zooming or scrolling through the timeline first

[2019-01-21 08:31] Ilaiwi commented on #497
@Felix-N could you please provide a gif for this?

[2019-01-21 13:46] Felix-N commented on #497
Not a gif but 2 images:
lineHeight is set to 25
<img width="1176" alt="1" src="https://user-images.githubusercontent.com/1209409/51478078-b8861c80-1d8a-11e9-8845-9fdb857f0a4c.png">
<img width="1303" alt="2" src="https://user-images.githubusercontent.com/1209409/51478079-b8861c80-1d8a-11e9-9c73-f29eaeb4d39e.png">

The changes to groupStack to the verticalMargin fixed the issue for me (they are in t

[2019-01-21 15:09] msand commented on #156
@richardgirges How about this? https://github.com/namespace-ee/react-calendar-timeline/commit/39d5a8a794c7d0189210248c962ca35eea96b366
https://github.com/namespace-ee/react-calendar-timeline/compare/master...msand:drag-n-drop-unto-timeline

[2019-01-22 04:02] msand commented on #156
Refactored into a reusable component: https://github.com/namespace-ee/react-calendar-timeline/commit/4d26362900c6d384a235acf297b8e85e30419e0c

[2019-01-22 04:06] msand commented on #156
https://github.com/namespace-ee/react-calendar-timeline/blob/4d26362900c6d384a235acf297b8e85e30419e0c/demo/app/demo-main/index.js#L21-L103

[2019-01-22 13:32] Felix-N opened #498 "Allow the sidebar horizontal line styling in a similiar fashion as for horizontalLineClassNamesForGroup"
Currently you can style horizontalLines, but only the part within the timeline.

Adding a horizontalSidebarLineClassNamesForGroup prop working similar as horizontalLineClassNamesForGroup.

Added the change to the open pull request.

[2019-01-24 04:37] SDupZ opened #500 "Scrolling diagonally on a trackpad no longer works. Also the traditionalScroll prop does not work."
**Describe the bug**
Scrolling diagonally on a trackpad no longer works since version 0.22.0. Additionally the traditionalScroll does prop does not work.

It seems like it was introduced in https://github.com/namespace-ee/react-calendar-timeline/pull/427 in the `src/lib/scroll/ScrollElement.js` file.

**To Reproduce**
You can observe this behaviour in the regular codesandbox: https://codesandbox.i

[2019-01-24 15:37] Ilaiwi commented on #500
Thank you for reporting this. I don't think I have the resources to focus on this issue right now so any help is appreciated

[2019-01-24 15:39] Ilaiwi commented on #498
@Felix-N thank you for the suggestion. Although could you please open a separate PR for each  issue opened? this will give me space to focus on individual issues at a time and will facilitate your contribution to be merged as soon as possible

[2019-01-24 15:56] Ilaiwi commented on #156
@msand this looks really exciting. I will take a look at this ASAP and maybe document it somehow

[2019-01-24 17:20] mcMickJuice commented on #156
I strongly recommend that we add this example to the examples/README.md and not to the project readme.

This should be treated as a recipe and not something that our library supports. Otherwise we're going to get a ton of issues related to this specific feature (this happened with the tree-view example).

Just my 2 cents. I know I haven't been involved in this project for months now but for your s

[2019-01-28 08:59] oskari opened #501 "Sidebar header with over 60px of height breaks layout"
**Describe the bug**
Inserting content to sidebar header so that it exceeds 60px of height breaks the timeline header layout

**To Reproduce**
https://codesandbox.io/s/2o6jnpyvqy

**Expected behavior**
Timeline header to align on the bottom of the container, not top of the container

**Screenshots**
![Screenshot of the problem](https://i.imgur.com/3LXu3hs.png)

**Library Version**
0.23.0

[2019-01-29 06:02] Enigma10 opened #502 "Hi there, Sorry to ask it here. Is there any similar library in vue ?"

[2019-01-29 09:15] Ilaiwi commented on #502
I am not sure

[2019-01-29 09:15] #502 closed

[2019-01-29 17:46] ericraq opened #503 "Item tooltip not displayed on touch devices"
Hi everyone,

I am facing problems on showing a tooltip when using touch devices. I am using rc-tooltip component on itemRenderer and everything seems fine in desktop mode. However, when selecting any mobile device with touch enabled the tooltip is not been displayed.

The sandbox below shows the problem:

https://codesandbox.io/s/j4kzk82k69

Any ideas?

Thanks!

[2019-01-31 18:25] loaibassam opened #504 "Increase the width of the date columns"
Is there a way to increase the width of the dates columns?

[2019-01-31 21:23] jjarrett21 opened #505 "Can't get this to render in a grid position near the center."
I'd like to stack this underneath another component but can't seem to get css to render it anywhere except for top left or full screen.

[2019-02-01 14:49] lukasirsak opened #506 "Page scrollbar appearing causing break of calendar layout"
**Describe the bug**
I've got timeline in responsive layout (width of parent element is set to 100% of page). Timeline have sidebar which have clickable categories which will expand creating new lines, when users clicks on them. When I am expanding categories and I reach point where page scrollbar should appears the timeline break's it's layout. Sidebar stays where it should be, but grid is pushed

[2019-02-01 19:47] Ilaiwi commented on #506
could you please provide codesandbox example?

[2019-02-02 20:56] Ilaiwi commented on #506
@lukasirsak

[2019-02-02 21:08] lukasirsak commented on #506
@Ilaiwi I will make you codepen ASAP (tomorrow).

[2019-02-03 15:45] lukasirsak commented on #506
@Ilaiwi I was able to reproduce this bug [here](https://codesandbox.io/s/l95n09oywl ).

In Chrome on Mac everything is OK.
In Chrome on Windows 10 layouts breaks (like in gif above).

[2019-02-12 19:14] cw196 opened #508 "scoll vertically using scrollRef props"
I know there are examples for scoll horizontally with scollRef.

But when i try with

scrollRef = {el => this.component = el}

this.component.scrollTop=100

This is not working for scoll vertically. Is there anyway to solve this?

[2019-02-18 22:51] RC1245 commented on #361
Is this feature likely to be merged anytime soon? I was looking at potential timelines which handle a by week basis and this looks very promising.

[2019-02-19 11:16] Wax6610 opened #511 "Question about visibleTimeStart"
Hello and thank you very much for this cool component !

I have question about how to use visibleTimeStart and defaultTimeStart.
In my project i want to limit Timeline just for one day. I set visibleTimeStart(or defaultTimeStart), but after component render first time i see a day before visibleTimeStart(or defaultTimeStart). Once i force to re-render component (for example just resize browser wind

[2019-02-20 09:07] MadDeveloper opened #512 "Add UTC offset support"
**Is your feature request related to a problem? Please describe.**
I had to be able to show a calendar timeline in UTC timezone, but keep the <TodayMarker> in local timezone. So `moment-timezone` was not enough (I think).

**Describe the solution you'd like**
Being able to see a calendar following an UTC offset, and seeing others indicators in another timezone.

**Describe alternatives you've cons

[2019-02-20 13:50] vdmkotai opened #513 "Unable to use multiple timelines at the same time (the demo is provided)"
**Describe the bug**
I have an application with two tabs. I would like to put a timeline inside each tab. In this example I am using semantic-ui-react Tab component. The problem is that only timeline works correctly.

**To Reproduce**
I've created the demo on stackblitz to reproduce the problem
https://stackblitz.com/edit/react-nqmvkb

1. Go to https://react-nqmvkb.stackblitz.io
2. Click on Tab2 (

[2019-02-20 13:54] vdmkotai commented on #513
Please notice that I am using renderActiveOnly={false} for Tab, so the tab panes doesn't unmounts when I switch the tab. That's the behavior I would like to use.

[2019-02-20 15:53] chriemmy opened #514 "Include group in moveResizeValidator"
**Is your feature request related to a problem? Please describe.**
I have a set of rules defined in `moveResizeValidator`. They ensure that certain time ranges cannot be allocated. The rules can be defined fine when I have only one group and the validator works.
But when I move an item to a different group I would like to define different time ranges where an item cannot be placed for that particu

[2019-02-20 16:40] bwgjoseph opened #515 "Hiding the timeline"
Hi,

Is there any way to hide the `timeline`? Currently, there is `sidebarWidth` which allows to set 0, hence, only showing the `Timeline`.
See <a href="https://codesandbox.io/s/ypwo34m21">this sample</a>

Is there anyway to do like `timelineWidth={0}` so that only the `sideBar` will be shown, and the `timeline` is hidden.

Thanks.

[2019-02-21 09:26] Ilaiwi commented on #515
@bwgjoseph there is no way currently to do that. I would suggest forking the library  and applying the changes you are suggesting.

[2019-02-21 09:26] #515 closed

[2019-02-21 09:56] Ilaiwi commented on #514
@chriemmy yes this makes perfect sense. This would be a great first PR for anyone who would like to contribute to this library

[2019-02-21 10:49] Ilaiwi commented on #513
@vdmkotai I've seen two problems here:
1- would be the disappeared header. This problem will be solved in the custom header release but you can use it now in beta here:
https://stackblitz.com/edit/react-nqmvkb?file=index.js
2- wrong positions of items header time slots this is I think related to context issues.

I don't think I have the time currently to investigate the problem but I would be able

[2019-02-22 02:13] FutureArchitect-wang2449 opened #517 "Ability to customize the InfoLabel"
**Is your feature request related to a problem? Please describe.**
It could be nice if we show customized information while dragging (moving or resizing) items (currently only showing time and groupLabelKey).

**Describe the solution you'd like**
Provide a renderer for InfoLabel the same way like groupRenderer or itemRenderer.

**Describe alternatives you've considered**
At least give an option to

[2019-02-24 22:20] acemac commented on #514
I did this as a part of #412

[2019-02-24 22:21] acemac commented on #506
Does #441 fix this?
In your example gif, the sidebar changes width and causes the break.

[2019-02-25 06:14] FutureArchitect-wang2449 commented on #517
Finally I added the [simple function](https://github.com/namespace-ee/react-calendar-timeline/issues/517#ref-pullrequest-413946637) by myself (a personal account).
I will be grateful if you have time to review and pull it. (This will be the first time I contribute to oss, excited! )

@mariusandra @Ilaiwi

[2019-02-25 09:36] lukasirsak commented on #506
@acemac i will take look on this later.

Sidebar width isn't changing in my case. It's stay the same, only header labels get's deformed so it seems like width of sidebar is changing. But it stay the same.

[2019-02-25 19:17] DHerls opened #519 "Item Context Title does not match item title"
**Describe the bug**
When rendering items on the timeline, the `title` attribute passed to the `itemContext` variable is different from the `title` attribute of the `item` variable.  This leads to lags in updating item titles.

**To Reproduce**
https://codesandbox.io/s/rl6v15rn9p

When you change the value in the box, the context title and the item title become desynced because different values ar

[2019-02-26 10:20] Cyanures opened #521 "Question : Is any way to render time as day of 8hours instead of 24"
Hi guys, for my private usage i need to display a day as a day of 8hours instead of 24 is that possible or not ?

Thank you for your help.

[2019-02-26 11:10] Ilaiwi commented on #521
not possible currently

[2019-02-26 11:10] #521 closed

[2019-02-26 15:16] Cyanures opened #522 "Question : Is that possible to filter the calendar on certain groups or items ?"
Hi i have a new question, there is any way to filter group with a check box or something ?

For exemple i check the box "only groups started by a "A" and then all the groups who don't respect this condition disapear ? i don't really know how to do it

Thank you for your help

[2019-02-27 19:26] vititu opened #523 "Question: Is there a way to check collision?"
Is it possible to check collision? Using `onItemMove`, `onItemResize` or `moveResizeValidator` can I check if it has collided with another item and what item?

Thanks.

[2019-02-27 20:23] gaston-niglia opened #524 "Markers don't get unsubscribed after being hidden, if date has previously changed"
**Describe the bug**
Let's say you have a _CustomMark_ on your Timeline, also a DateTimePicker that updated the mark date property on selecting a date form the calendar. And let's say you change the mark date more than once and then hide it by clearing the datetime value. This will NOT make the CustomMark to unsubscribe from the _state.markers_ list.

**To Reproduce**
I have locally added some but

[2019-02-28 12:18] lukasirsak commented on #506
Upgrade to 0.23, no changes.

Importing resize detector fixed this issue for me. [Resize detector](https://github.com/namespace-ee/react-calendar-timeline#resizedetector )

Now when scrollbar appears on windows windows resize is detected and everything is fine.

[2019-02-28 12:18] #506 closed

[2019-02-28 14:17] lukasirsak opened #526 "Moving in timeline with mouse stuck sometimes"
**Describe the bug**
Mouse left click dragging gets sometimes stucked.

For example in this [sandobox](https://codesandbox.io/s/w6xvqzno4w).
When user with Windows 10 machine on Chrome/Opera clicks on timeline with left button and try to drag screen with mouse, timeline gets sometimes stucked in a weird way (look at the gif).

**To Reproduce**

Open Chrome/Opera on Windows 10 machine and try to go

[2019-02-28 17:42] ksrawat opened #527 "Allowing to override sidebar height"
**Is your feature request related to a problem? Please describe.**
I want to keep the sidebar height to window innerheight. right now sidebar takes the height as per the content. Is there a way to over-ride sidebar height.

**Describe the solution you'd like**
If height is an attribute on <timeline> component which detects user want to over-ride sidebar height.

You can see the unused height marke

[2019-03-01 01:09] cw196 opened #528 "Scrolling automatically in some screen size when scale the browser"
**Describe the bug**
When scaling the browser and in some certain screen size, the calendar is automatically scrolling back infinitely.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to scale browser to 75% for example
2. resize screen to certain size, say 1940 * 1117.330
3. the calendar is scrolling back continuesly.

**Expected behavior**
Calendar should not move at all

**Screenshot

[2019-03-01 07:32] tobiasbueschel commented on #522
Hi @Cyanures,

Yes, you can - here is a snippet of how it would work in action:
https://codesandbox.io/s/64rnm092lw

It mainly resolves around the idea of running a `.filter` function on the `groups` array and then passing it down to the `<Timeline />` component.

[code]

This issue is somewhat related: https://github.com/namespace-ee/react-calendar-timeline/issues/393

@mariusandra I think we can

[2019-03-04 16:24] oazabir opened #529 "Dependency links"
This is an absolutely awesome component!

Would it be possible to add a feature to link tasks, so that we can show which task depends on which one?

[2019-03-05 08:20] Cyanures opened #530 "Refreshing calendar when i try to render a new json file"
Hi everyone,

Is any ways to refresh the calendar when i try to render a new json file ?

For example i load a json file and i render it on the calendar, i make a modification on my groups, i delete one group, how can i re-render the calendar without refreshing the page ?

[2019-03-05 09:03] SuperWallaby opened #531 "header label foramt local language"
Hello ~ i am korean
and i want to use dateFormat for my country language
the problem is

Day of the week

UTC format does not give my language
I want to change
mon .. tue .. wen ... => 월..화..수

[code]
month and day is ok because it is number
there is no method change  'Day of the week'

Is there a good way??

[2019-03-05 11:20] Cyanures commented on #531
use
`import "moment/locale/ko"`
should do the job

tell me if that solved your problem

[2019-03-05 12:03] SuperWallaby commented on #531
i solved it!~~
moment.lang('kr');

it was moment format method!
thanks!!

[2019-03-05 12:12] diw1 commented on #411
Thanks for the temp solution!

[2019-03-05 12:59] SuperWallaby opened #532 "layout borken when give [verticalLineClassNamesForTime] prop && zoomOut"
**Describe the bug**
loayout broken when i give  [verticalLineClassNamesForTime] porp
[code]

**Screenshots**
## ZOOM IN
![ok in here](https://user-images.githubusercontent.com/46065365/53806069-490d6a80-3f8f-11e9-8d2d-2721c515c494.png)
## ZOOM OUT
![cssout](https://user-images.githubusercontent.com/46065365/53806645-d3a29980-3f90-11e9-9d27-e8a12ff755a5.png)

**Library Version**
"react": "^16.7.0"

[2019-03-06 09:08] Ilaiwi commented on #532
I tried reproducing this [here](https://codesandbox.io/s/r71390k11m) no luck though please provide a codesandbox example so I can help you

[2019-03-06 09:09] Ilaiwi commented on #531
@Cyanures thanks for helping out

[2019-03-06 09:09] #531 closed

[2019-03-06 09:12] Ilaiwi commented on #530
you need to provide a new instance of groups.

you can find an example of this [here](https://codesandbox.io/s/r1mxzj581m). every time you open a node you will get new groups instance

[2019-03-06 09:13] #530 closed

[2019-03-06 09:15] Ilaiwi commented on #529
we dont provide this functionality although [this library](https://github.com/guiqui/react-timeline-gantt) does

[2019-03-06 09:15] #529 closed

[2019-03-06 09:18] Ilaiwi commented on #522
@tobiasbueschel thank you for helping out

[2019-03-06 09:18] #522 closed

[2019-03-06 09:23] web2wire opened #533 "Suggested workaround for zoom jump issue?"
I am running into the zoom jumping issue that has been referenced here and there, including in https://github.com/namespace-ee/react-calendar-timeline/issues/455#issuecomment-432606963. Basically zooming out works correctly and goes in stages but zooming in just immediately jumps to max zoom. This is the case whether zooming is controlled via the mouse or explicitly via the changeZoom method.

The

[2019-03-06 09:24] Ilaiwi commented on #528
@cw196  I couldn't reproduce this on MacOS. are you using windows? are you using codesandbox? and please use the latest version of the library.

[2019-03-06 09:45] Ilaiwi commented on #533
@web2wire this occurs for me as well on MacOS. I noticed it happens only if you are using the trackpad to zoom is that the case for you?

a workaround would be using [OnTimeChange](https://github.com/namespace-ee/react-calendar-timeline#ontimechangevisibletimestart-visibletimeend-updatescrollcanvas). When this callback occurs you need to control visible time start and visit time end. I agree that

[2019-03-06 09:56] Ilaiwi commented on #527
@ksrawat I don't think I understand what you are meaning to do. Please provide more information

[2019-03-06 10:01] web2wire commented on #533
Thanks for the super quick reply. I'll take a look through the code and see if anything jumps out. If not I'll see how manually controlling the visible time range works. For me the problem happens regardless of the method I use to zoom. If I explicitly zoom by connecting a button to changeZoom it happens just the same.

[2019-03-06 10:16] Ilaiwi commented on #526
@lukasirsak I've noticed that from time to time but I couldn't reproduce it. If you have a way to make reproduce easier please share it here so we can help.

[2019-03-06 10:23] Ilaiwi commented on #524
@gaston-niglia Thank you for the great description and the PR. I am not sure what do you mean by hiding it though? you mean removing it completely as in not rendering it or add a css property for it?

[2019-03-06 10:32] Ilaiwi commented on #523
Well, you can check it with getting all shifts for the group and compare start and end time to find the collision.

I think though this might be possible to provide via those callbacks. It is a very good first issue if you want to jump in and open a PR

[2019-03-06 10:53] Cyanures commented on #530
I can't make it work :(

there is my code : consider this like the GenerateFakeData function :

[code]

when i do groups = newGroups there is no refreshing of group hapenning

[2019-03-06 11:14] Ilaiwi commented on #517
@FutureArchitect-wang2449 Thank you for your first PR. I really appreciate your help. I have another suggestion that will be more helpful. Let's add a new prop called `onDragUpdate` and remove the infoLabel component. If a user wants to add an InfoLabel they can do it via this callback Prop.

It is also a good idea to include a sandbox example on that. it would be also great if you would provide a

[2019-03-06 11:26] Ilaiwi commented on #512
@mcMickJuice  could you please help on this? I am not very familiar with utc and time offsets

[2019-03-06 11:29] Ilaiwi commented on #511
@KuroiNeko6610 you need to set both the visibleTimeStart and visibleTimeEnd. Try it and let me know if this fixed your issue.

[2019-03-06 11:30] Ilaiwi commented on #361
@RC1245 no one has updated this for a while now. #349 will make it easier to implement but I am afraid no one is working on this.
I will close the PR for inactivity. Please feel free to pick it up again and implement this

[2019-03-06 11:34] Ilaiwi commented on #504
like specific columns or all of them?

[2019-03-06 11:35] Ilaiwi commented on #505
@jjarrett21 please provide a codesanbox for this.

[2019-03-06 11:36] Cyanures commented on #522
thank you it helped me !

[2019-03-06 11:36] Ilaiwi commented on #508
@cw196 we dont control vertical scrolling . You can scroll window and this should work

[2019-03-06 11:36] #508 closed

[2019-03-06 11:37] Ilaiwi commented on #519
@DHerls thank you for raising this. This is a great first issue to contribute

[2019-03-06 11:44] loaibassam commented on #504
All of them please

Sent from my iPhone

[2019-03-06 12:40] Ilaiwi commented on #504
@loaibassam this is controlled by the width of the screen so either increase the width or zoom in more

[2019-03-06 12:42] loaibassam commented on #504
how can we zoom in more?

[2019-03-06 12:49] web2wire commented on #533
My mistake, it's not on explicit calls to changeZoom, just the mouse driven changes. I was accidentally passing 0 as a parameter to changeZoom which caused exactly the same effect. I don't know if that's any clue or not.

[2019-03-06 12:53] gaston-niglia commented on #524
Hi @Ilaiwi, thanks for your reply. Sorry for the confusion, by "hiding it" I mean conditionally remove the CustomMarker depending on a condition. e.g:

[code]

So when the CustomMarker is not rendering it fires the "componentWillUnmount" which should cause the Marker to unsubscribe from the Calendar.

I hope I'm explaining better. Please let me know if you have any question or concern.

Thanks

[2019-03-06 14:12] SuperWallaby commented on #532
oh sorry
next time i will

[2019-03-06 15:26] lukasirsak commented on #526
@Ilaiwi thanks for reply.

For me it's happening way too often to be usable. (Same demo page from sandbox above):
![timeline_stuck_2](https://user-images.githubusercontent.com/30669262/53889893-7b6aa680-4027-11e9-84aa-ce718e78618e.gif)

100% sure it's happening only on webkit rendering engine. Trying few times in Edge and Firefox without any scrolling stuck. Because of majority of users running on

[2019-03-06 23:10] #505 closed

[2019-03-06 23:10] jjarrett21 commented on #505
I was able to resolve this sorry

[2019-03-10 09:47] Ilaiwi opened #534 "double click an item cause triggering onItemClick"
**Describe the bug**
double click an item cause triggering onItemClick

**To Reproduce**
1- go to https://codesandbox.io/s/52xqwq4k9p
2- double click an item and check console

**Expected behavior**
click handler shouldn't be triggered

**Library Version**
latest

**Desktop (please complete the following information):**

* OS: windows 10
* Browser chrome
* Version .23

**Additional context**
cause

[2019-03-11 01:08] FutureArchitect-wang2449 commented on #517
@Ilaiwi

Thank you for your suggestion. I totally aggree your points of view.

However, I noticed there is already one prop which is triggered when items are being dragged. That prop is `moveResizeValidator(action, itemId, time, resizeEdge)`, although it is not for render something, instead, for validation (as its name describes).

Further more, there is also a `groupLabelKey` in the `keys` prop w

[2019-03-11 14:18] gaston-niglia opened #536 "Vertical lines gap issue on zooming in/out"
**Describe the bug**
On zooming in/out the vertical lines width is sometimes not the right one and there is a `1px` `gap` between the lines. Usually the lines are `1px` less of what it should be. Please see image below:

![Screen Shot 2019-03-11 at 10 58 12 AM](https://user-images.githubusercontent.com/27180527/54129832-e6ccc380-43ed-11e9-9c3a-b515e51ae68c.png)

So in the following scenario, eleme

[2019-03-13 08:48] Ilaiwi commented on #536
@gaston-niglia this should be eliminated when Custom Headers gets released so this has to wait unfortunately

[2019-03-13 12:22] gaston-niglia commented on #536
Hi @Ilaiwi, thank you for your quick reply. Just one question, the issue is not only happening on headers it's happening on the whole vertical line. Is that still getting fixed by Custom Headers? Thank you mate

[2019-03-14 22:28] vititu opened #537 "Question: Specific timeframe using visibleTimeStart and visibleTimeEnd"
Using `visibleTimeStart` and `visibleTimeEnd` is possible to set a specific timeframe, but when mouse scrolling the header correctly stays put but the items scroll, is there a way to prevent that? To only be able to scroll if zooming in, for example?

Here is an example: https://codesandbox.io/s/z678yrr23

[2019-03-17 13:46] Ilaiwi commented on #524
@gaston-niglia  thank you. I merged it. I plan to do a release later this week.

[2019-03-17 13:57] Ilaiwi commented on #517
@FutureArchitect-wang2449 so this new function would be called after calling the `moveResizeValidator`. So you will get the final update that will be reflected in the UI.

I don't think the `groupLabelKey` is a problem. You can just delete it. I would rather give the user more control than being restricted to a feature. Plus less code to maintain :D

I can't see your implementation link. Do you me

[2019-03-17 21:33] gaston-niglia commented on #524
Thank you! Much appreciated mate. @Ilaiwi

[2019-03-18 07:58] Ilaiwi commented on #536
@gaston-niglia that would be a problem. Can you provide a codesandbox example of the bug?

[2019-03-18 08:58] Ilaiwi commented on #497
@Felix-N  sorry for the late response I investigated your issue and you are correct. The heights are inconsistent and your fix resolves the issues. Thank you.

Although could you please make a pull request with only the fix for this issue and remove the other changes?

I want to give you the credit of your fix but I can't merge it with the other changes.

[2019-03-18 13:38] gaston-niglia commented on #536
Hi @Ilaiwi, thank you for your answer. The issue is also replicable on the Base Example, so it's happening here with this code too https://codesandbox.io/s/w6xvqzno4w.

If you zoom in into hour level, you will see that the 1px gap is not only appearing on the header, it's in the entire vertical line.

Please let me know if you can't replicate it, I can provide a video maybe.
Thanks!

[2019-03-21 07:42] dimagimburg opened #538 "Support not responsize column widths"
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I don't want the calendar to be responsive, I wanted to provide a fixed width to a column so it won't resize when my browsers window resize. From UX side of view, the items and column widths won't squeeze when opening the window on 2 different screen size, so If one window size gets 24 hours inside the gri

[2019-03-21 07:57] dimagimburg opened #539 "Cannot get marker to be rendered on top of the header"
When creating a custom marker with a top custom view I can't render it be on top of the header, tried to play with z-index'es and positions and displays, couldn't get it to work. Maybe I'm missing something.

**Reproduce:**
https://codesandbox.io/s/ly3oj7xxwm

**Expected behavior**
The time label should be on top of the header and not below it.

**Library Version**
latest

**Desktop (please comple

[2019-03-21 13:04] sebastienbinda opened #540 "traditionalZoom useless in version 0.23"
It seems that the property "traditionalZoom" is not used anymore since "v0.20".
see file react-calendar-timeline/src/lib/scroll/ScrollElement.js

[2019-03-24 11:57] Ilaiwi commented on #540
@sebastienbinda  do you need traditionalZoom for a special interaction or something? I am thinking of deleting it. This component has way too many modes

[2019-03-25 07:42] sebastienbinda commented on #540
I need to scroll in/out wihtout using special key like "alt" or "ctrl" but only using the scroll button.

[2019-03-26 05:52] FutureArchitect-wang2449 opened #541 "Chrome 73 Treats Document Level Wheel/Mousewheel Event Listeners as Passive"
**Describe the bug**

When zoom in using the touchpad, browser gives many duplicated console errors as below.
[code]

**To Reproduce**

Using MacOS Google Chrome Version 73.0.3683.86 (Official Build) (64-bit)
When Using the touch pad to zoom in at then timeline canvas, the error logs come out.
And not only the date range changes, also whole page is zoomed in.

**Expected behavior**
When zoom in gu

[2019-03-26 15:22] MariiaPolova opened #542 "Timeline header at the bottom"
Hi there!
I didn't find any similar and direct question to that: can top timeline header be placed to the bottom?

[2019-03-29 22:40] richardgirges commented on #541
I'm seeing this is as well on the latest version of chrome

[2019-03-30 04:42] foobarbecue commented on #540
I'm pretty sure most users expect to experience zoom when you mousewheel over the component. I certainly do. Please restore this option.

[2019-03-31 18:14] stahlmanDesign commented on #540
I also want to zoom with touch pad pinch or mousewheel, without having to press alt.

[2019-04-01 08:47] Najarana opened #543 "InfoLabel time format"
**Is your feature request related to a problem? Please describe.**
InfoLabel shows time in LLL format

**Describe the solution you'd like**
Either add prop for formatting of infolabel or user the same format as headerLabelFormat.

[2019-04-01 22:31] stahlmanDesign opened #544 "iPad pinch zoom conflict between iOS and Safari, hackish fox"
**Describe the bug**
When you pinch to zoom in/out the timeline in Safari on iPad, the whole webpage zooms in and out as well as the timeline trying to zoom. The OS pinch is in conflict with the UI element in the webpage. Both want to do different things with the same pinch event.

**To Reproduce**
Use two fingers to pinch/expand the timeline on an iPad. You will see the whole page grow or shrink,

[2019-04-01 23:07] stahlmanDesign commented on #544
Here is the proper way to do it in React using React.createRef()

[code]

[2019-04-03 20:55] gaston-niglia commented on #524
Hi mate, do you have any ETA for the release? Thanks @Ilaiwi

[2019-04-03 21:35] Ilaiwi commented on #524
@gaston-niglia  tomorrow. sorry I've been busy completing the custom headers

[2019-04-03 21:46] gaston-niglia commented on #524
No worries at all, I was just asking

[2019-04-04 07:44] Ilaiwi commented on #497
released in 0.23.1

[2019-04-04 07:44] #497 closed

[2019-04-04 07:45] Ilaiwi commented on #524
released in 0.23.1 thank you for the contribution

[2019-04-04 07:45] #524 closed

[2019-04-04 12:04] gaston-niglia commented on #524
Thank you for your time mate!!

[2019-04-04 22:26] stahlmanDesign commented on #541
Here's how I prevent Chrome from scrolling the page when I scroll the timeline.

Since scrolling the timeline requires pressing a modifier like ctrl, alt or cmd, you can call custom methods when a modifier is touched (disable scroll) and on key up (re-enable scrolling)

Here is how I implemented it (psuedo code):
[code]
Based on this example: https://stackoverflow.com/questions/4770025/how-to-disa

[2019-04-05 19:44] yimejky commented on #519
I was dealing with this bug, so for everybody with same problem:

One solution is using custom itemRender (can be found [here](https://github.com/namespace-ee/react-calendar-timeline#itemrenderer)), where you use `{item.title}` instead of `{itemContext.title}`

Another more hacky solution is using wrapper with `componentWillReceiveProps` for double updating:
[code]

[2019-04-08 02:40] FutureArchitect-wang2449 commented on #541
@stahlmanDesign
Sorry, I tried your method, but I didn't see that solves the problem.

[2019-04-08 09:11] Ilaiwi commented on #541
@FutureArchitect-wang2449 @stahlmanDesign @richardgirges
I've been following this issue on the react repo [here](https://github.com/facebook/react/issues/14856)

A lot of opinions is thrown there and I am still not settled on a permanent solution since react doesn't have an api to change passive events.

I would like to hear what do you guys think?

[2019-04-09 02:43] FutureArchitect-wang2449 commented on #541
@Ilaiwi
In my opinion, what about add something like
`window.addEventListener("wheel", func, {passive: false} );`
into Timeline ScrollElement?

[2019-04-09 10:21] hellooperatorpatchmethrough opened #550 "Header position does not sync with timeline"
Header calendar is not syncing horizontal position when scrolling on a small screen with shift+mouse wheel. Scrolling solely with mouse down/drag works fine.
I've noticed that on a screen where `window.outerWidth = 1920; window.innerWidth = 1920` it does work fine, but on a screen where `window.outerWidth = 1284; window.innerWidth = 1280` it is completely broken.

**To Reproduce**
1. Provide `visi

[2019-04-09 16:15] rkiyoto commented on #69
[code]
Didin't work for me, it says it is not a function, but `this.timeline.changeZoom(CUSTOM_ZOOM_FACTOR);` works great, thanks!

[2019-04-09 20:29] Ilaiwi commented on #550
I am going to release a reimplementation of the headers hopefully this weekend or early next week (the code has been merged but not yet released). I will your problem out. I think it will be solved

#349

[2019-04-10 14:09] jamiedust opened #551 "Recieving errors when using Jest/Enzyme"
**Describe the bug**
When I run unit tests (Jest and Enzyme). I receive errors as such:

[code]

My tests still pass, so it is not a big deal, but I try to avoid errors in my output.

The act() error seems to be a new thing (I had not come across it until my latest project). Details of the error can be found here: https://reactjs.org/docs/test-utils.html#act Fixing these errors in a test is genera

[2019-04-12 10:56] dkarnutsch commented on #542
I don't think that is possible using the API. However you could try to create a second timeline. Link them together using [Example Linked Timelines](https://github.com/namespace-ee/react-calendar-timeline/tree/master/examples#linked-timelines) and hide the header of the first one (which will be easier with the custom headers coming soon).

No guarantee though that this works and it seems also rath

[2019-04-14 19:49] clearly opened #552 "Panning while Resizing"
**Describe the bug**
I'm trying to implement exactly what is in the demo: https://codesandbox.io/s/q3rkx1478q
However, I don't visually see the Item resizing. Instead, the calendar pans. When I'm done resizing I get the proper event. I just don't see the actual visual feedback of resizing.

**Library Version**
0.23.1

**Desktop (please complete the following information):**
Chrome 73
Mac OS X late

[2019-04-16 12:57] Ilaiwi commented on #551
yes there is a state direct assigning in `Item.js`.It is not hard to fix though. I would appreciate some help doing that

[2019-04-16 13:24] Ilaiwi commented on #493
We dont have any plans to do this in the feature. Thank you for the suggestion though

[2019-04-16 13:24] #493 closed

[2019-04-16 13:26] Ilaiwi commented on #527
I will reopen this when this gets more details

[2019-04-16 13:26] #527 closed

[2019-04-16 13:31] Ilaiwi commented on #532
no reproduce example was provided I will close this

[2019-04-16 13:36] Ilaiwi commented on #536
This didnt get resolve by custom headers, unfortunately. Any help could be appreciated

[2019-04-16 13:40] Ilaiwi commented on #541
@FutureArchitect-wang2449 could you open a PR with this solution please?

[2019-04-16 14:42] Ilaiwi commented on #140
This can be achieved by leveraging Custom headers like the following.

https://codesandbox.io/s/x9m2r5941p

[2019-04-16 15:35] Ilaiwi commented on #263
You can now achieve that via using Custom headers, specificly `CustomHeader` component. Although, I think the `DateHeader` component should support this as well. I will look into maybe spreading props given to `DateHeader` into the root div of the header
I hope that makes sense

[2019-04-16 15:35] Ilaiwi commented on #329
This will be possible via the `formatLabel` prop in `DateHeader`

[2019-04-16 15:36] Ilaiwi commented on #329
p

[2019-04-16 15:48] Ilaiwi commented on #349
released in 0.25.0

[2019-04-16 15:48] #349 closed

[2019-04-16 15:49] Ilaiwi commented on #140
released in 0.25.0

[2019-04-16 15:49] #140 closed

[2019-04-16 15:49] Ilaiwi commented on #329
released in 0.25.0

[2019-04-16 15:49] #329 closed

[2019-04-16 15:49] Ilaiwi commented on #356
released in 0.25.0

[2019-04-16 15:49] #356 closed

[2019-04-16 15:49] Ilaiwi commented on #411
released in 0.25.0

[2019-04-16 15:49] #411 closed

[2019-04-16 21:51] gaston-niglia commented on #536
Thanks for letting me know @Ilaiwi. I'll spend some time having a look

[2019-04-17 12:35] Ilaiwi commented on #541
@FutureArchitect-wang2449 @richardgirges
could any of you guys confirm that the fix is working here?
https://csb-ov2pr5j9zy-npcizlrdri.now.sh/

[2019-04-17 19:06] gcmatheusj opened #554 "Disable Zoom"
How do I disable the zoom with crtl + scroll and alt + scroll, keeping the calendar displaying only the day of the week, day of the month and year (Monday, April 14, 2019)?
![Captura de tela de 2019-04-17 15-21-31](https://user-images.githubusercontent.com/38117213/56314162-a964ff80-612a-11e9-83b3-a5faa00f687f.png)